<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple class="whatsnew">

      <div class="whatsnew__header">
        <div class="whatsnew__header--texts">
          <h1 class="whatsnew__header--title">Release v4.3.0: Chips, lists, new icons and more...</h1>
          <p class="whatsnew__header--subtitle">10 aug 2020</p>
        </div>
        <img class="whatsnew__header--image" src="assets/images/rocket-5.png" alt="rocket image">
      </div>

      <div class="whatsnew__content">
        <div class="whatsnew__announcement">
          <p class="whatsnew__announcement--text">What’s new section is our monthly update that highlights recent product improvements we’ve made so you can easily stay up to date on what’s new.</p>
        </div>
        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">What’s new</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>New card component</h4>
          <p class="whatsnew__content-block--text utils--text-18">We released a new card componentized component, <span class="documentation-code">ntx-card19</span>.</p>
          <ntx-card19></ntx-card19>
          <div class="utils--margin-top-24">
            <ntx-card19 
              [title]="card19.title" 
              [subtitle]="card19.subtitle" 
              [description]="card19.description" 
              [urlImage]="card19.urlImage" 
              [altImage]="card19.altImage">
            </ntx-card19>
          </div>
        </div>
        <div class="whatsnew__content-block">
          <h4>New icons</h4>
          <p class="whatsnew__content-block--text utils--text-18">With this update we have a new batch of icons. For this, several css files have been touched, which you must update to see the icons correctly:</p>
          <ul class="whatsnew__content-block--points">
            <li>ux-components/src/styles/app/utils.scss</li>
            <li>ux-components/src/styles/app/variables.scss</li>
            <li>ux-components/src/styles/fonts/styles.scss</li>
            <li>ux-components/src/styles/fonts/variables.scss</li>
            <li>ux-components/src/assets/fonts/icons/netex.eot</li>
            <li>ux-components/src/assets/fonts/icons/netex.svg</li>
            <li>ux-components/src/assets/fonts/icons/netex.ttf</li>
            <li>ux-components/src/assets/fonts/icons/netex.woff</li>
          </ul>
          <div class="icons-container">
            <div class="icon-container">
              <mat-icon class="icon-netex icon-badge-locked icon-big utils--text-grey-600">
                <span class="path1"></span>
                <span class="path2"></span>
              </mat-icon>
              <label>icon-badge-locked</label>
            </div>

            <div class="icon-container">
              <mat-icon class="icon-netex icon-camera icon-big utils--text-grey-600"></mat-icon>
              <label>icon-camera</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-clock-loading icon-big utils--text-grey-600"></mat-icon>
              <label>icon-clock-loading</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-create icon-big utils--text-grey-600"></mat-icon>
              <label>icon-create</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-crop icon-big utils--text-grey-600"></mat-icon>
              <label>icon-crop</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-envelope-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-envelope-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-export icon-big utils--text-grey-600"></mat-icon>
              <label>icon-export</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-flag-refresh icon-big utils--text-grey-600"></mat-icon>
              <label>icon-flag-refresh</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-link-broken icon-big utils--text-grey-600"></mat-icon>
              <label>icon-link-broken</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-mailbox icon-big utils--text-grey-600"></mat-icon>
              <label>icon-mailbox</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-play icon-big utils--text-grey-600"></mat-icon>
              <label>icon-play</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-resize icon-big utils--text-grey-600"></mat-icon>
              <label>icon-resize</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-rotate-left icon-big utils--text-grey-600"></mat-icon>
              <label>icon-rotate-left</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-rotate-right icon-big utils--text-grey-600"></mat-icon>
              <label>icon-rotate-right</label>
            </div>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Chip with icon</h4>
          <p class="whatsnew__content-block--text utils--text-18">We released a new chip componentized component, <span class="documentation-code">ntx-icon-chip</span>.</p>
          <ntx-icon-chip [item] ="item"></ntx-icon-chip>
        </div>

        <div class="whatsnew__content-block">
          <h4>Basic chip with image</h4>
          <p class="whatsnew__content-block--text utils--text-18">We launched a new version of chips, <span class="documentation-code">ntx-basic-image-chip</span>.</p>
          <ntx-basic-image-chip [chip] ="chip"></ntx-basic-image-chip>
        </div>

        <div class="whatsnew__content-block">
          <h4>New list2 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">We launched a new list component, <span class="documentation-code">ntx-list2</span>.</p>
          <ntx-list2 [data]="list2Item"></ntx-list2>
        </div>

        <div class="whatsnew__content-block">
          <h4>Raised round button</h4>
          <p class="whatsnew__content-block--text utils--text-18">With this update we have a new type of button, <span class="documentation-code">ntx-raised-round-button</span>, with round borders and a new violet color.</p>
          <ntx-raised-round-button [item2] ="item2"></ntx-raised-round-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>New list3 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added a new list component, <span class="documentation-code">ntx-list3</span>.</p>
          <ntx-list3 [data]="list3Item"></ntx-list3>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">Bug fixing</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>Stoked buttons</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-stroked-button</span> component and there have been changes in html, css and ts files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-stroked-button [item3] ="item3"></ntx-stroked-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>List multilines componentization</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-list-multiline-icon</span> component and there have been changes in html, css and ts files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/lists/documentation" (click)="setPath('lists')">link</a></p>
          <ntx-list-multilines-icon [data] ="listMultilineIcon"></ntx-list-multilines-icon>
        </div>

      </div>

    </ntx-card-simple>
  </div>
</div>
