<div class="page-container">

  <a mat-button
  color="primary"
  routerLink="/home">Volver al home</a>

  <ntx-card-simple>

    <div class="icons-container">

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-archive icon-big utils--grey-600"></mat-icon>
        <label>icon-archive</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-arrow-back icon-big utils--grey-600"></mat-icon>
        <label>icon-arrow-back</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-arrow-bottom icon-big utils--grey-600"></mat-icon>
        <label>icon-arrow-bottom</label>
      </div> -->
      ompose
      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-arrow-bottom-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-arrow-bottom-solid</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-arrow-right icon-big utils--grey-600"></mat-icon>
        <label>icon-arrow-right</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-arrow-top icon-big utils--grey-600"></mat-icon>
        <label>icon-arrow-top</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-arrow-top-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-arrow-top-solid</label>
      </div> -->

      <!-- <div class="icon-conomposetainer">
        <mat-icon class="icon-netex icon-badge icon-big utils--grey-600"></mat-icon>
        <label>icon-badge</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-bell icon-big utils--grey-600"></mat-icon>
        <label>icon-bell</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-block icon-big utils--grey-600"></mat-icon>
        <label>icon-block</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-briefcase icon-big utils--grey-600"></mat-icon>
        <label>icon-briefcase</label>
      </div> -->


      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-calendar icon-big utils--grey-600"></mat-icon>
        <label>icon-calendar</label>
      </div> -->

      <!-- <div class="icon-conomposetainer">
        <mat-icon class="icon-netex icon-caret-down icon-big utils--grey-600"></mat-icon>
        <label>icon-caret-down</label>
      </div> -->
<!-- 
      <div class="icon-container">
        <mat-icon class="icon-netex icon-caret-left icon-big utils--grey-600"></mat-icon>
        <label>icon-caret-left</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-caret-right icon-big utils--grey-600"></mat-icon>
        <label>icon-caret-right</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-caret-up icon-big utils--grey-600"></mat-icon>
        <label>icon-caret-up</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-channel icon-big utils--grey-600"></mat-icon>
        <label>icon-channel</label>
      </div> -->
      ompose
      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-chat-bubble icon-big utils--grey-600"></mat-icon>
        <label>icon-chat-bubble</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-chat-bubble-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-chat-bubble-solid</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-check icon-big utils--grey-600"></mat-icon>
        <label>icon-check</labeomposel>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-check-circle-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-check-circle-solid</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-chest icon-big utils--grey-600"></mat-icon>
        <label>icon-chest</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-chevron-down icon-big utils--grey-600"></mat-icon>
        <label>icon-chevron-down</label>
      </div> -->ompose

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-chevron-left icon-big utils--grey-600"></mat-icon>
        <label>icon-chevron-left</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-chevron-right icon-big utils--grey-600"></mat-icon>
        <label>icon-chevron-right</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-chevron-up icon-big utils--grey-600"></mat-icon>
        <label>icon-chevron-up</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-construction-barrier icon-big utils--grey-600"></mat-icon>
        <label>icon-construction-barrier</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-cross-circle-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-cross-circle-solid</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-clear icon-big utils--grey-600"></mat-icon>
        <label>icon-clear</label>
      </div> -->
<!-- 
      <div class="icon-container">
        <mat-icon class="icon-netex icon-clock icon-big utils--grey-600"></mat-icon>
        <label>icon-clock</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-clock-loading icon-big utils--grey-600"></mat-icon>
        <label>icon-clock-loading</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-clock-loading-inverse icon-big utils--grey-600"></mat-icon>
        <label>icon-clock-loading-inverse</label>
      </div> -->
<!-- ompose
      <div class="icon-container">
        <mat-icon class="icon-netex icon-cloud icon-big utils--grey-600"></mat-icon>
        <label>icon-cloud</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-coin icon-big utils--grey-600"></mat-icon>
        <label>icon-coin</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-collections icon-big utils--grey-600"></mat-icon>
        <label>icon-collections</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-compose icon-big utils--grey-600"></mat-icon>
        <label>icon-compose</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-cross icon-big utils--grey-600"></mat-icon>
        <label>icon-cross</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-dashboard icon-big utils--grey-600"></mat-icon>
        <label>icon-dashboard</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-download icon-big utils--grey-600"></mat-icon>
        <label>icon-download</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-drag icon-big utils--grey-600"></mat-icon>
        <label>icon-drag</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-drag-reorder icon-big utils--grey-600"></mat-icon>
        <label>icon-drag-reorder</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-drop icon-big utils--grey-600"></mat-icon>
        <label>icon-drop</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-duplicate icon-big utils--grey-600"></mat-icon>
        <label>icon-duplicate</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-accordion icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-accordion</label>
      </div> -->
<!-- 
      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-activity</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-activity-statement icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-activity-statement</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-area icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-area</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-audio icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-audio</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-before-after icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-before-after</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-block icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-block</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-carrousel icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-carrousel</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-circle icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-circle</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-clicksmap icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-clicksmap</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-column icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-column</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-compose icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-compose</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-connector-video-interactive icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-connector-video-interactive</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-copyright icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-copyright</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-drag-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-drag-activity</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-dropdown-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-dropdown-activity</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-educaplay icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-educaplay</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-end-drag-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-end-drag-activity</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-external-animation icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-external-animation</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-fill-gap-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-fill-gap-activity</label>
      </div> -->
<!-- 
      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-footer-reference icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-footer-reference</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-fullcontainer icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-fullcontainer</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-gallery icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-gallery</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-glossary icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-glossary</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-glossary-connector icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-glossary-connector</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-grid icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-grid</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-hotspot icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-hotspot</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-image icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-image</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-image-exchange icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-image-exchange</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-instruction icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-instruction</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-launcher icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-launcher</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-link icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-link</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-linker-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-linker-activity</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-linker-option icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-linker-option</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-linker-question icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-linker-question</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-matrix-multiple-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-matrix-multiple-activity</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-matrix-single-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-matrix-single-activity</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-multiple-choice-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-multiple-choice-activity</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-negative-feedback icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-negative-feedback</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-one-choice-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-one-choice-activity</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-page icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-page</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-panel icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-panel</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-parallax icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-parallax</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-pdf icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-pdf</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-positive-feedback icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-positive-feedback</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-presentation icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-presentation</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-quiz icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-quiz</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-quiz-connector icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-quiz-connector</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-quote icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-quote</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-reinforcement-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-reinforcement-activity</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-row icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-row</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-screen icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-screen</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-screen-title icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-screen-title</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-separator icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-separator</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-svg-animation icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-svg-animation</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-table icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-table</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-tabs icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-tabs</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-taptap-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-taptap-activity</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-text icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-text</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-timeline icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-timeline</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-tracking-summary icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-tracking-summary</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-true-false-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-true-false-activity</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-unit-menu icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-unit-menu</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-video icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-video</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-video-interactive icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-video-interactive</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-video-online icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-video-online</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-vimeo icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-vimeo</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-widget icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-widget</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-widget-area icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-widget-area</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-editor-youtube icon-big utils--grey-600"></mat-icon>
        <label>icon-editor-youtube</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-envelope icon-big utils--grey-600"></mat-icon>
        <label>icon-envelope</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-euro icon-big utils--grey-600"></mat-icon>
        <label>icon-euro</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-evaluation icon-big utils--grey-600"></mat-icon>
        <label>icon-evaluation</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-eye icon-big utils--grey-600"></mat-icon>
        <label>icon-eye</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-file icon-big utils--grey-600"></mat-icon>
        <label>icon-file</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-file-abc icon-big utils--grey-600"></mat-icon>
        <label>icon-file-abc</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-file-pdf icon-big utils--grey-600"></mat-icon>
        <label>icon-file-pdf</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-file-zip icon-big utils--grey-600"></mat-icon>
        <label>icon-file-zip</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-filter-circle icon-big utils--grey-600"></mat-icon>
        <label>icon-filter-circle</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-flag icon-big utils--grey-600"></mat-icon>
        <label>icon-flag</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-folder icon-big utils--grey-600"></mat-icon>
        <label>icon-folder</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-folder-closed icon-big utils--grey-600"></mat-icon>
        <label>icon-folder-closed</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-folder-closed-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-folder-closed-solid</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-forbidden icon-big utils--grey-600"></mat-icon>
        <label>icon-forbidden</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-form-input icon-big utils--grey-600"></mat-icon>
        <label>icon-form-input</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-fullscreen icon-big utils--grey-600"></mat-icon>
        <label>icon-fullscreen</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-funnel-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-funnel-solid</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-gamepad icon-big utils--grey-600"></mat-icon>
        <label>icon-gamepad</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-gear icon-big utils--grey-600"></mat-icon>
        <label>icon-gear</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-gear-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-gear-solid</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-gift icon-big utils--grey-600"></mat-icon>
        <label>icon-gift</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-globe icon-big utils--grey-600"></mat-icon>
        <label>icon-globe</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-graduation-hat icon-big utils--grey-600"></mat-icon>
        <label>icon-graduation-hat</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-grid icon-big utils--grey-600"></mat-icon>
        <label>icon-grid</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-heart icon-big utils--grey-600"></mat-icon>
        <label>icon-heart</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-home icon-big utils--grey-600"></mat-icon>
        <label>icon-home</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-home-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-home-solid</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-image icon-big utils--grey-600"></mat-icon>
        <label>icon-image</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-info-circle icon-big utils--grey-600"></mat-icon>
        <label>icon-info-circle</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-info-circle-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-info-circle-solid</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-light-bulb icon-big utils--grey-600"></mat-icon>
        <label>icon-light-bulb</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-like icon-big utils--grey-600"></mat-icon>
        <label>icon-like</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-list icon-big utils--grey-600"></mat-icon>
        <label>icon-list</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-less-circle icon-big utils--grey-600"></mat-icon>
        <label>icon-less-circle</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-location icon-big utils--grey-600"></mat-icon>
        <label>icon-location</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-lock icon-big utils--grey-600"></mat-icon>
        <label>icon-lock</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-logo-cloud icon-big utils--grey-600"></mat-icon>
        <label>icon-logo-cloud</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-logo-facebook icon-big utils--grey-600"></mat-icon>
        <label>icon-logo-facebook</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-logo-linkedin icon-big utils--grey-600"></mat-icon>
        <label>icon-logo-linkedin</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-logo-play icon-big utils--grey-600"></mat-icon>
        <label>icon-logo-play</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-logo-twitter icon-big utils--grey-600"></mat-icon>
        <label>icon-logo-twitter</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-logout icon-big utils--grey-600"></mat-icon>
        <label>icon-logout</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-menu icon-big utils--grey-600"></mat-icon>
        <label>icon-menu</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-mission-block icon-big utils--grey-600"></mat-icon>
        <label>icon-mission-block</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-mission-block-center icon-big utils--grey-600"></mat-icon>
        <label>icon-mission-block-center</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-mission-block-left icon-big utils--grey-600"></mat-icon>
        <label>icon-mission-block-left</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-mission-block-right icon-big utils--grey-600"></mat-icon>
        <label>icon-mission-block-right</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-more-options icon-big utils--grey-600"></mat-icon>
        <label>icon-more-options</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-open-book icon-big utils--grey-600"></mat-icon>
        <label>icon-open-book</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-orderby icon-big utils--grey-600"></mat-icon>
        <label>icon-orderby</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-paperplane icon-big utils--grey-600"></mat-icon>
        <label>icon-paperplane</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-pencil icon-big utils--grey-600"></mat-icon>
        <label>icon-pencil</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-plus icon-big utils--grey-600"></mat-icon>
        <label>icon-plus</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-plus-circle icon-big utils--grey-600"></mat-icon>
        <label>icon-plus-circle</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-poweroff icon-big utils--grey-600"></mat-icon>
        <label>icon-poweroff</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-publish icon-big utils--grey-600"></mat-icon>
        <label>icon-publish</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-rank icon-big utils--grey-600"></mat-icon>
        <label>icon-rank</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-recycle icon-big utils--grey-600"></mat-icon>
        <label>icon-recycle</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-refresh icon-big utils--grey-600"></mat-icon>
        <label>icon-refresh</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-reply icon-big utils--grey-600"></mat-icon>
        <label>icon-reply</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-reports icon-big utils--grey-600"></mat-icon>
        <label>icon-reports</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-restore icon-big utils--grey-600"></mat-icon>
        <label>icon-restore</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-save icon-big utils--grey-600"></mat-icon>
        <label>icon-save</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-search icon-big utils--grey-600"></mat-icon>
        <label>icon-search</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-send icon-big utils--grey-600"></mat-icon>
        <label>icon-send</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-share icon-big utils--grey-600"></mat-icon>
        <label>icon-share</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-shopping-basket icon-big utils--grey-600"></mat-icon>
        <label>icon-shopping-basket</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-smile icon-big utils--grey-600"></mat-icon>
        <label>icon-smile</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-speacker icon-big utils--grey-600"></mat-icon>
        <label>icon-speacker</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-sprint icon-big utils--grey-600"></mat-icon>
        <label>icon-sprint</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-star icon-big utils--grey-600"></mat-icon>
        <label>icon-star</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-star-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-star-solid</label>
      </div> -->
<!-- 
      <div class="icon-container">
        <mat-icon class="icon-netex icon-tags icon-big utils--grey-600"></mat-icon>
        <label>icon-tags</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-telephone icon-big utils--grey-600"></mat-icon>
        <label>icon-telephone</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-thumb-activity icon-big utils--grey-600"></mat-icon>
        <label>icon-thumb-activity</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-thumb-audio icon-big utils--grey-600"></mat-icon>
        <label>icon-thumb-audio</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-thumb-levelup icon-big utils--grey-600"></mat-icon>
        <label>icon-thumb-levelup</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-thumb-link icon-big utils--grey-600"></mat-icon>
        <label>icon-thumb-link</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-thumb-presentation icon-big utils--grey-600"></mat-icon>
        <label>icon-thumb-presentation</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-thumb-quiz icon-big utils--grey-600"></mat-icon>
        <label>icon-thumb-quiz</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-thumb-timeline icon-big utils--grey-600"></mat-icon>
        <label>icon-thumb-timeline</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-thumb-video icon-big utils--grey-600"></mat-icon>
        <label>icon-thumb-video</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-trash icon-big utils--grey-600"></mat-icon>
        <label>icon-trash</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-trash-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-trash-solid</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-trophy icon-big utils--grey-600"></mat-icon>
        <label>icon-trophy</label>
      </div> -->



      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-unlock icon-big utils--grey-600"></mat-icon>
        <label>icon-unlock</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-upload icon-big utils--grey-600"></mat-icon>
        <label>icon-upload</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-user icon-big utils--grey-600"></mat-icon>
        <label>icon-user</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-user-bubble icon-big utils--grey-600"></mat-icon>
        <label>icon-user-bubble</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-user-card icon-big utils--grey-600"></mat-icon>
        <label>icon-user-card</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-user-circle icon-big utils--grey-600"></mat-icon>
        <label>icon-user-circle</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-user-edit icon-big utils--grey-600"></mat-icon>
        <label>icon-user-edit</label>
      </div> -->

      <!-- <div class="icon-container">
        <mat-icon class="icon-netex icon-user-group icon-big utils--grey-600"></mat-icon>
        <label>icon-user-group</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-user-plus icon-big utils--grey-600"></mat-icon>
        <label>icon-user-plus</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-user-settings icon-big utils--grey-600"></mat-icon>
        <label>icon-user-settings</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-user-queue icon-big utils--grey-600"></mat-icon>
        <label>icon-user-queue</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-users icon-big utils--grey-600"></mat-icon>
        <label>icon-users</label>
      </div> -->

      <div class="icon-container">
        <mat-icon class="icon-netex icon-video icon-big utils--grey-600"></mat-icon>
        <label>icon-video</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-warning icon-big utils--grey-600"></mat-icon>
        <label>icon-warning</label>
      </div>

      <div class="icon-container">
        <mat-icon class="icon-netex icon-warning-solid icon-big utils--grey-600"></mat-icon>
        <label>icon-warning-solid</label>
      </div>

    </div>

  </ntx-card-simple>

</div>
