<div class="page-layout">
  <div class="page-container">
    <div class="utils--flex">
      <ntx-card19></ntx-card19>
    </div>
    <div class="utils--flex">
      <ntx-card19></ntx-card19>
      <ntx-card19></ntx-card19>
    </div>
    <div class="utils--flex">
      <ntx-card19></ntx-card19>
      <ntx-card19></ntx-card19>
      <ntx-card19></ntx-card19>
    </div>
    <div class="utils--flex">
      <ntx-card19></ntx-card19>
      <ntx-card19></ntx-card19>
      <ntx-card19></ntx-card19>
      <ntx-card19></ntx-card19>
    </div>
  </div>
</div>
