<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple class="whatsnew">

      <div class="whatsnew__header">
        <div class="whatsnew__header--texts">
          <h1 class="whatsnew__header--title">Release v4.3.1: Menus, buttons, new icons and more...</h1>
          <p class="whatsnew__header--subtitle">¿? sep 2020</p>
        </div>
        <img class="whatsnew__header--image" src="assets/images/rocket-5.png" alt="rocket image">
      </div>

      <div class="whatsnew__content">
        <div class="whatsnew__announcement">
          <p class="whatsnew__announcement--text">What’s new section is our monthly update that highlights recent product improvements we’ve made so you can easily stay up to date on what’s new.</p>
        </div>
        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">What’s new</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>New menu component</h4>
          <p class="whatsnew__content-block--text utils--text-18">We released a new card componentized component, <span class="documentation-code">ntx-menu-button-flat</span>.</p>
          <ntx-menu-button-flat
            [icon]="menuButtonFlatData['icon']"
            [title]="menuButtonFlatData.title"
            [actions]="menuButtonFlatData.actions"></ntx-menu-button-flat>
        </div>

        <div class="whatsnew__content-block">
          <h4>New icons</h4>
          <p class="whatsnew__content-block--text utils--text-18">With this update we have a new batch of icons. For this, several css files have been touched, which you must update to see the icons correctly:</p>
          <ul class="whatsnew__content-block--points">
            <li>ux-components/src/styles/fonts/styles.scss</li>
            <li>ux-components/src/styles/fonts/variables.scss</li>
            <li>ux-components/src/assets/fonts/icons/netex.eot</li>
            <li>ux-components/src/assets/fonts/icons/netex.svg</li>
            <li>ux-components/src/assets/fonts/icons/netex.ttf</li>
            <li>ux-components/src/assets/fonts/icons/netex.woff</li>
          </ul>
          <div class="icons-container">
            <div class="icon-container">
              <mat-icon class="icon-netex icon-bell-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-bell-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-dislike icon-big utils--text-grey-600"></mat-icon>
              <label>icon-dislike</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-clipboard-list icon-big utils--text-grey-600"></mat-icon>
              <label>icon-clipboard-list</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-logo-cloud-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-logo-cloud-solid</label>
            </div>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>New list4 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added a new list component, <span class="documentation-code">ntx-list4</span>.</p>
          <ntx-list4 listTitle="list title" actionLabel="action" actionIcon="icon-plus-circle" [items]=list4Items></ntx-list4>
        </div>

        <div class="whatsnew__content-block">
          <h4>New list5 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added a new list component, <span class="documentation-code">ntx-list5</span>.</p>
          <ntx-list5 [items]=list5Items></ntx-list5>
        </div>

      </div>

    </ntx-card-simple>
  </div>
</div>
