<div class="page-layout">
  <div class="page-container">
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
  </div>
</div>
