<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple class="whatsnew">

      <div class="whatsnew__header">
        <div class="whatsnew__header--texts">
          <h1 class="whatsnew__header--title">Release vx.x.x: IE11 errors</h1>
          <p class="whatsnew__header--subtitle">dia mes 2019</p>
        </div>
        <img class="whatsnew__header--image" src="assets/images/rocket-2.png" alt="rocket image">
      </div>

      <div class="whatsnew__content">
        <div class="whatsnew__announcement">
          <p class="whatsnew__announcement--text">What’s new section is our monthly update that highlights recent product improvements we’ve made so you can easily stay up to date on what’s new.</p>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">What’s new</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>New icons</h4>
          <p class="whatsnew__content-block--text utils--text-18">With this update we have a new batch of icons. For this, several css files have been touched, which you must update to see the icons correctly:</p>
          <ul class="whatsnew__content-block--points">
            <li>ux-components/src/styles/app/utils.scss</li>
            <li>ux-components/src/styles/app/variables.scss</li>
            <li>ux-components/src/styles/fonts/styles.scss</li>
            <li>ux-components/src/styles/fonts/variables.scss</li>
            <li>ux-components/src/assets/fonts/icons/netex.eot</li>
            <li>ux-components/src/assets/fonts/icons/netex.svg</li>
            <li>ux-components/src/assets/fonts/icons/netex.ttf</li>
            <li>ux-components/src/assets/fonts/icons/netex.woff</li>
          </ul>
          <div class="icons-container">
            <div class="icon-container">
              <mat-icon class="icon-netex icon-apple icon-big utils--text-grey-600"></mat-icon>
              <label>icon-apple</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-chat-bubble-smile icon-big utils--text-grey-600"></mat-icon>
              <label>icon-chat-bubble-smile</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-columns icon-big utils--text-grey-600"></mat-icon>
              <label>icon-columns</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-columns-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-columns-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-cross-circle icon-big utils--text-grey-600"></mat-icon>
              <label>icon-cross-circle</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-flag-greece icon-big utils--text-grey-600">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
                <span class="path6"></span>
                <span class="path7"></span>
              </mat-icon>
              <label>icon-flag-greece</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-index icon-big utils--text-grey-600"></mat-icon>
              <label>icon-index</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-index-off icon-big utils--text-grey-600"></mat-icon>
              <label>icon-index-off</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-move icon-big utils--text-grey-600"></mat-icon>
              <label>icon-move</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-save-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-save-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-unlock-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-unlock-solid</label>
            </div>
          </div>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">Bug fixing</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>Searchbox</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, ui bugs have been fixed in the <span class="documentation-code">ntx-form-searchbox</span> component and html/css/ts changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/form-controls/documentation" (click)="setPath('form-controls')">link</a></p>
          <div class="ntxformsearchbox-container">
            <ntx-form-searchbox></ntx-form-searchbox>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>List one line list with avatar</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-list-one-line-avatar</span> component and html/css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/lists/documentation" (click)="setPath('lists')">link</a></p>
          <ntx-list-one-line-avatar></ntx-list-one-line-avatar>
          <ntx-list-one-line-avatar></ntx-list-one-line-avatar>
          <ntx-list-one-line-avatar></ntx-list-one-line-avatar>
        </div>

        <div class="whatsnew__content-block">
          <h4>List two lines list with avatar</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-list-two-lines-avatar</span> component and html/css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/lists/documentation" (click)="setPath('lists')">link</a></p>
          <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
          <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
          <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
        </div>

        <div class="whatsnew__content-block">
          <h4>Sidenav inside</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-sidenav-inside</span> component and css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/sidenavs/documentation" (click)="setPath('sidenavs')">link</a></p>
          <img class="whatsnew__content-block--image" src="assets/images/inside-sidenav.png" alt="Inside sidenav example">
        </div>

        <div class="whatsnew__content-block">
          <h4>Selectable table</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-sidenav-inside</span> component and html/css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/table-selectable/documentation" (click)="setPath('table-selectable')">link</a></p>
          <img class="whatsnew__content-block--image" src="assets/images/table-selectable.png" alt="Selectable table example">
        </div>

        <div class="whatsnew__content-block">
          <h4>Tree</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-tree</span> component and css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/tree/documentation" (click)="setPath('tree')">link</a></p>
          <div class="whatsnew__content-block--card w50">
            <ntx-tree></ntx-tree>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Label error</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-label-error</span> component and both css changes and html changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/labels/documentation" (click)="setPath('labels')">link</a></p>
          <ntx-label-error text="2 alerts"></ntx-label-error>
        </div>


      </div>

    </ntx-card-simple>
  </div>
</div>
