<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple title="{{'Simple avatar component' | uppercase }}"
                      subtitle="{{ '<ntx-simple-avatar>' }}"
                      class="">
                      <ntx-simple-avatar [src]="src_1" label="Naomi"></ntx-simple-avatar>
                      <ntx-simple-avatar [src]="src_2" label="Mark"></ntx-simple-avatar>
                      <ntx-simple-avatar [src]="src_3" label="Mackenzie lorem"></ntx-simple-avatar>
    </ntx-card-simple>

  </div>
</div>
