<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple title="{{'Simple avatar component' | uppercase }}"
                      subtitle="{{ '<ntx-simple-avatar>' }}"
                      class="">
                      <ntx-simple-avatar [src]="src_1" label="Naomi"></ntx-simple-avatar>
                      <ntx-simple-avatar [src]="src_1" label="Naomi" square></ntx-simple-avatar>
                      <ntx-simple-avatar [src]="src_2" label="Mark"></ntx-simple-avatar>
                      <ntx-simple-avatar [src]="src_2" label="Mark" square></ntx-simple-avatar>
                      <ntx-simple-avatar [src]="src_3" label="Mackenzie lorem"></ntx-simple-avatar>
                      <ntx-simple-avatar [src]="src_3" label="Mackenzie lorem" square></ntx-simple-avatar>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Social avatar component' | uppercase }}"
                      subtitle="{{ '<ntx-social-avatar>' }}"
                      class="">
                      <ntx-social-avatar [src]="src_1" label="Naomi"></ntx-social-avatar>
                      <ntx-social-avatar [src]="src_2" label="Mark"></ntx-social-avatar>
                      <ntx-social-avatar [src]="src_3" label="Mackenzie lorem" active></ntx-social-avatar>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Social avatar with bubble component' | uppercase }}"
                      subtitle="{{ '<ntx-social-avatar-bubble>' }}"
                      class="">
                      <ntx-social-avatar-bubble [src]="src_1" label="Naomi"></ntx-social-avatar-bubble>
                      <ntx-social-avatar-bubble [src]="src_2" label="Mark"></ntx-social-avatar-bubble>
                      <ntx-social-avatar-bubble [src]="src_3" label="Mackenzie Lorem" active></ntx-social-avatar-bubble>
    </ntx-card-simple>

  </div>
</div>
