<mat-grid-list #grid rowHeight="261px" gutterSize="0">

  <mat-grid-tile>
    <ntx-card2></ntx-card2>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card2></ntx-card2>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card2></ntx-card2>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card2></ntx-card2>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card2></ntx-card2>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card2></ntx-card2>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card2></ntx-card2>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card2></ntx-card2>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card2></ntx-card2>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card2></ntx-card2>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card2></ntx-card2>
  </mat-grid-tile>

</mat-grid-list>
