<div class="page-layout">
  <div class="page-container">

    <div style="visibility: visible">
      <mat-grid-list #grid rowHeight="261px" gutterSize="0">

        <mat-grid-tile *ngFor="let item of cards">
          <ntx-card2
          [image]="item.image"
          [backgroundColor]="item.backgroundColor"
          [icon]="item.icon"
          [title]="item.title"
          [subtitle]="item.subtitle"
          [selected]="item.selected"
          [disabled]="item.disabled"
          [hoverable]="item.hoverable"
          [options]="item.options"
          ></ntx-card2>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
  </div>
</div>
