<mat-grid-list #grid rowHeight="72px" gutterSize="0">

  <mat-grid-tile>
    <ntx-card5></ntx-card5>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card5></ntx-card5>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card5></ntx-card5>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card5></ntx-card5>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card5></ntx-card5>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card5></ntx-card5>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card5></ntx-card5>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card5></ntx-card5>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card5></ntx-card5>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card5></ntx-card5>
  </mat-grid-tile>

  <mat-grid-tile>
    <ntx-card5></ntx-card5>
  </mat-grid-tile>

</mat-grid-list>
