<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple
      title="{{'Menu from button with link style' | uppercase }}"
      subtitle="{{ '<ntx-menu-link>' }}">
        <ntx-menu-link [icon]="menulinkData.icon" [title]="menulinkData.title" [actions]="menulinkData.actions"></ntx-menu-link>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Menu from button with flat style' | uppercase }}"
      subtitle="{{ '<ntx-menu-button-flat>' }}">
        <ntx-menu-button-flat
          [icon]="menuButtonFlatData.icon"
          [title]="menuButtonFlatData.title"
          [actions]="menuButtonFlatData.actions"></ntx-menu-button-flat>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Simple options menu' | uppercase }}"
      subtitle="{{ '<ntx-menu-options-simple>' }}">
        <div style="display:flex">
          <ntx-menu-options-simple [icon]="menuOptionsSimple.icon" [actions]="menuOptionsSimple.actions"></ntx-menu-options-simple>
          <ntx-menu-options-simple [icon]="menuOptionsSimpleIcon.icon" [actions]="menuOptionsSimpleIcon.actions"></ntx-menu-options-simple>
        </div>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Options menu' | uppercase }}"
      subtitle="{{ '<ntx-menu-options>' }}">
        <div style="display:flex">
          <ntx-menu-options [icon]="menuOptions.icon" [actions]="menuOptions.actions"></ntx-menu-options>
          <ntx-menu-options [icon]="menuOptionsAdvanced.icon" [actions]="menuOptionsAdvanced.actions"></ntx-menu-options>
        </div>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'User toolbar options menu' | uppercase }}"
      subtitle="{{ '<ntx-menu-toolbar-profile>' }}">
        <div style="display:flex">
          <ntx-menu-toolbar-profile isLoaded="true" [user]="mtp1User" [options]="mtp1Options"></ntx-menu-toolbar-profile>
          <ntx-menu-toolbar-profile isLoaded="true" [user]="mtp2User" [mainOption]="mtp2MainOption" [options]="mtp2Options"></ntx-menu-toolbar-profile>
        </div>
      </ntx-card-simple>

    <ntx-card-simple
      title="{{'User toolbar options menu with LOADING STATE' | uppercase }}"
      subtitle="{{ '<ntx-menu-toolbar-profile>' }}">
        <div style="display:flex">
          <ntx-menu-toolbar-profile isLoading="true" [user]="mtp1User" [options]="mtp1Options"></ntx-menu-toolbar-profile>
          <ntx-menu-toolbar-profile isLoading="true" [user]="mtp2User" [mainOption]="mtp2MainOption" [options]="mtp2Options"></ntx-menu-toolbar-profile>
        </div>
      </ntx-card-simple>  

    <ntx-card-simple
      title="{{'Menu avatar' | uppercase }}"
      subtitle="{{ '<ntx-menu-avatar>' }}">
        <ntx-menu-avatar [options]="menuAvatarOptions"></ntx-menu-avatar>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Dashboard menu' | uppercase }}"
      subtitle="{{ '<ntx-menu-toolbar-dashboard>' }}">
      <ntx-menu-toolbar-dashboard [apps]="apps"></ntx-menu-toolbar-dashboard>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Dashboard menu (loading)' | uppercase }}"
      subtitle="{{ '<ntx-menu-toolbar-dashboard>' }}">
      <ntx-menu-toolbar-dashboard [apps]="{}" isLoading="true"></ntx-menu-toolbar-dashboard>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Dashboard menu (failback)' | uppercase }}"
      subtitle="{{ '<ntx-menu-toolbar-dashboard>' }}">
      <ntx-menu-toolbar-dashboard [apps]="{}" failback="true"></ntx-menu-toolbar-dashboard>
    </ntx-card-simple>

  </div>
</div>
