<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple
      title="{{'Menu from button with link style' | uppercase }}"
      subtitle="{{ '<ntx-menu-link>' }}">
        <ntx-menu-link [icon]="menulinkData.icon" [title]="menulinkData.title" [actions]="menulinkData.actions"></ntx-menu-link>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Menu from button with flat style' | uppercase }}"
      subtitle="{{ '<ntx-menu-button-flat>' }}">
        <ntx-menu-button-flat 
          [icon]="menuButtonFlatData.icon" 
          [title]="menuButtonFlatData.title" 
          [actions]="menuButtonFlatData.actions"></ntx-menu-button-flat>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Simple options menu' | uppercase }}"
      subtitle="{{ '<ntx-menu-options-simple>' }}">
        <div style="display:flex">
          <ntx-menu-options-simple></ntx-menu-options-simple>
          <ntx-menu-options-simple icon="icon-paperclip"></ntx-menu-options-simple>
          <ntx-menu-options-simple icon="icon-editor-quiz"></ntx-menu-options-simple>
        </div>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Options menu' | uppercase }}"
      subtitle="{{ '<ntx-menu-options>' }}">
        <div style="display:flex">
          <ntx-menu-options></ntx-menu-options>
          <ntx-menu-options icon="icon-paperclip"></ntx-menu-options>
        </div>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'User toolbar options menu' | uppercase }}"
      subtitle="{{ '<ntx-menu-toolbar-profile>' }}">
        <ntx-menu-toolbar-profile></ntx-menu-toolbar-profile>
    </ntx-card-simple>

    <ntx-card-simple 
      title="{{'Menu avatar' | uppercase }}"
      subtitle="{{ '<ntx-menu-avatar>' }}">
        <ntx-menu-avatar [options]="menuAvatarOptions"></ntx-menu-avatar>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Dashboard menu' | uppercase }}"
      subtitle="{{ '<ntx-menu-toolbar-dashboard>' }}">
      <ntx-menu-toolbar-dashboard [apps]="apps"></ntx-menu-toolbar-dashboard>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Dashboard menu (failback)' | uppercase }}"
      subtitle="{{ '<ntx-menu-toolbar-dashboard>' }}">
      <ntx-menu-toolbar-dashboard [apps]="{}"></ntx-menu-toolbar-dashboard>
    </ntx-card-simple>

  </div>
</div>
