<div class="page-container">

    <a mat-button
    color="primary"
    routerLink="/home">Volver al home</a>

    <h3 class="utils--margin-top-24 section-title">
      Pestañas
      <span class="section-subtitle">
        <code class="language-html" data-lang="html">
            <span class="nt"><ntx-tabs</span>
            <span class="nt">></span>
        </code>
      </span>
    </h3>
    <ntx-tabs></ntx-tabs>

    <h3 class="utils--margin-top-24 section-title">
        Pestañas
        <span class="section-subtitle">
          <code class="language-html" data-lang="html">
              <span class="nt"><ntx-tabs-navigation</span>
              <span class="nt">></span>
          </code>
        </span>
      </h3>
      <ntx-tabs-navigation></ntx-tabs-navigation>

</div>
