<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple
      title="{{ 'toolbar with tabs one line' | uppercase }}"
      subtitle="{{ '<ntx-toolbar-tabs-one-line>' }}">
        <ntx-toolbar-tabs-one-line imageText="Logo Netex Cuadrado" image="../../../assets/images/icon-netex.png" [apps]="apps"></ntx-toolbar-tabs-one-line>
        <br/>
        <ntx-toolbar-tabs-one-line imageText="Logo Netex" image="../../../assets/images/logo-netex-horizontal.svg" [apps]="apps"></ntx-toolbar-tabs-one-line>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{ 'toolbar alert' | uppercase }}"
      subtitle="{{ '<ntx-toolbar-alert>' }}">
        <ntx-toolbar-alert [items] ="toolbarAlert"></ntx-toolbar-alert>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{ 'basic toolbar' | uppercase }}"
      subtitle="{{ '<ntx-toolbar>' }}">
        <ntx-toolbar [apps]="apps"></ntx-toolbar>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'basic toolbar with search box' | uppercase}}"
      subtitle="{{ '<ntx-toolbar-searchbox>' }}">
      <ntx-toolbar-searchbox label="Notificaciones" src="../../../assets/images/notifications.svg" [apps]="apps">
        <app-dummy-form></app-dummy-form>
      </ntx-toolbar-searchbox>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'basic toolbar with search box' | uppercase}}"
      subtitle="{{ '<ntx-toolbar-searchbox>' }}">
      <ntx-toolbar-searchbox label="Notificaciones" src="../../../assets/images/notifications.svg" [apps]="apps" [menuAvatarOptions]="menuAvatarOptions"></ntx-toolbar-searchbox>
    </ntx-card-simple>

    <ntx-card-simple *ngFor="let type of toolbarTypes"
      title="{{ type.label | uppercase }}"
      subtitle="{{ type.selector }}">
        <ntx-toolbar-back [apps]="apps" *ngIf="type.label==='back toolbar'"></ntx-toolbar-back>
        <ntx-toolbar-tabs [apps]="apps" *ngIf="type.label==='toolbar with tabs'"></ntx-toolbar-tabs>
        <ntx-toolbar-back-tabs [apps]="apps" *ngIf="type.label==='toolbar back tabs without action button'"></ntx-toolbar-back-tabs>
        <ntx-toolbar-back-tabs [apps]="apps" [action]="'launch'" *ngIf="type.label==='toolbar back tabs with action button'"></ntx-toolbar-back-tabs>
        <ntx-toolbar-back-tabs [apps]="apps" [action]="'finish'" *ngIf="type.label==='toolbar back tabs with another action button'"></ntx-toolbar-back-tabs>
    </ntx-card-simple>

    <ntx-card-simple 
      title="{{ 'main header with its different configurations' | uppercase }}"
      subtitle="{{ '<ntx-main-header>' }}">
        <div style="display: flex; flex-direction: column;row-gap: 16px;">
          <ntx-main-header>
              <ntx-main-button type="rounded" tooltip="Menu" icon="menu"></ntx-main-button>
              <ntx-main-button type="rounded" tooltip="Search" icon="search"></ntx-main-button>
              <img class="utils--margin-0-auto" src="../../assets/images/logo-ntx-lcloud.png" alt="">  
              <ntx-main-button title="Action" tooltip="Add" type="tertiary" icon="add"></ntx-main-button>
              <ntx-bubble-button [count]="7"></ntx-bubble-button>
          </ntx-main-header>
          <ntx-main-header>
              <img class="utils--margin-right-auto" src="../../assets/images/logo-ntx-lcloud.png" alt="">  
              <ntx-main-button type="rounded" tooltip="Add" icon="add"></ntx-main-button>
              <ntx-bubble-button [count]="7"></ntx-bubble-button>
          </ntx-main-header>
          <ntx-main-header>
              <img class="utils--margin-right-auto" src="../../assets/images/logo-ntx-lcloud.png" alt="">  
              <ntx-main-button type="rounded" tooltip="Apps" icon="apps"></ntx-main-button>
          </ntx-main-header>
          <ntx-main-header>
              <img class="utils--margin-0-auto" src="../../assets/images/logo-ntx-lcloud.png" alt="">  
              <ntx-main-button type="rounded" tooltip="Apps" icon="apps"></ntx-main-button>
          </ntx-main-header>
          <ntx-main-header>
              <ntx-main-button type="rounded" tooltip="Back" icon="arrow_back"></ntx-main-button>
              <div class="utils--text-white utils--truncate utils--margin-0-auto" style="max-width: 824px;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam sit accusantium at iste expedita modi est blanditiis molestias in tenetur consequatur similique repellat ipsa, tempore labore doloremque amet voluptas distinctio.
              </div>
              <ntx-progress-button [progress]="75"></ntx-progress-button>
              <ntx-main-button type="rounded" tooltip="Info" icon="info"></ntx-main-button>
              <ntx-bubble-button [count]="5"></ntx-bubble-button>
          </ntx-main-header>
          <ntx-main-header>
              <ntx-main-button type="rounded" tooltip="Back" icon="arrow_back"></ntx-main-button>
              <div class="utils--text-white utils--truncate utils--margin-0-auto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam sit accusantium at iste expedita modi est blanditiis molestias in tenetur consequatur similique repellat ipsa, tempore labore doloremque amet voluptas distinctio.
              </div>
              <ntx-progress-button [progress]="35"></ntx-progress-button>
              <ntx-main-button type="rounded" tooltip="Info" icon="info"></ntx-main-button>
              <ntx-bubble-button [count]="9"></ntx-bubble-button>
          </ntx-main-header>
          <ntx-main-header>
              <ntx-main-button type="rounded" tooltip="Back" icon="arrow_back"></ntx-main-button>
              <div class="utils--text-white utils--truncate utils--margin-0-auto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam sit accusantium at iste expedita modi est blanditiis molestias in tenetur consequatur similique repellat ipsa, tempore labore doloremque amet voluptas distinctio.
              </div>
              <ntx-progress-button [progress]="35"></ntx-progress-button>
              <ntx-main-button type="rounded" tooltip="Info" icon="info"></ntx-main-button>
              <ntx-bubble-button [count]="9"></ntx-bubble-button>
          </ntx-main-header>
          <ntx-main-header>
              <ntx-main-button type="rounded" tooltip="Close" icon="close"></ntx-main-button>
              <div class="utils--text-white utils--margin-right-auto">Lorem ipsum dolor sic amet</div>
              <ntx-main-button type="tertiary" tooltip="Send" title="send"></ntx-main-button>
          </ntx-main-header>
          <ntx-main-header>
            <div class="utils--text-white utils--margin-left-auto">
              <ntx-main-button type="rounded" tooltip="Close" icon="close"></ntx-main-button>
            </div>
          </ntx-main-header>
          <ntx-main-header>
              <ntx-main-button type="rounded" tooltip="Back" icon="arrow_back"></ntx-main-button>
              <div class="utils--text-white utils--truncate utils--margin-0-auto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam sit accusantium at iste expedita modi est blanditiis molestias in tenetur consequatur similique repellat ipsa, tempore labore doloremque amet voluptas distinctio.
              </div>
              <ntx-progress-button [progress]="35"></ntx-progress-button>
              <ntx-main-button type="rounded" tooltip="Info" icon="info"></ntx-main-button>
              <ntx-bubble-button [count]="9"></ntx-bubble-button>
          </ntx-main-header>
          <ntx-main-header>
              <ntx-main-button type="rounded" tooltip="Explore" icon="explore"></ntx-main-button>
              <div class="utils--margin-0-auto">
                <ntx-main-button type="rounded" tooltip="Menu" icon="menu"></ntx-main-button>
              </div>
              <ntx-main-button type="rounded" tooltip="Search" icon="search"></ntx-main-button>
          </ntx-main-header>
          <ntx-main-header>
            <div class="utils--margin-left-auto utils--margin-right-80">
              <ntx-main-button type="rounded" tooltip="Explore" icon="explore"></ntx-main-button>
            </div>
            <ntx-main-button type="rounded" tooltip="Menu" icon="menu"></ntx-main-button>
            <div class="utils--margin-right-auto utils--margin-left-80">
              <ntx-main-button type="rounded" tooltip="Search" icon="search"></ntx-main-button>
            </div>  
          </ntx-main-header>
        </div>
    </ntx-card-simple>
  </div>
</div>
