$roboto-font-path: "/assets/fonts/Roboto" !default;

@font-face{
  font-family:RobotoBold;
  src:url('#{$roboto-font-path}/Roboto-Bold.ttf') format('truetype');
  font-style:normal;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:RobotoMedium;
  src:url('#{$roboto-font-path}/Roboto-Medium.ttf') format('truetype');
  font-style:normal;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:Roboto;
  src:url('#{$roboto-font-path}/Roboto-Regular.ttf') format('truetype');
  font-style:normal;
  text-rendering:optimizeLegibility
}
