<div class="a" style="margin:124px auto 0 auto;width: 50%" >
  <!-- <ntx-rectangular-button icon="icon-file" text="action"></ntx-rectangular-button> -->
  <!-- <ntx-form-radiobutton color="black" radioGroupName="group_1"></ntx-form-radiobutton>
  <div style="height: 24px;"></div>
  <ntx-form-radiobutton color="orange" radioGroupName="group_2"></ntx-form-radiobutton>
  <div style="height: 24px;"></div>
  <ntx-form-radiobutton color="red" radioGroupName="group_3"></ntx-form-radiobutton>
  <div style="height: 24px;"></div>
  <ntx-form-radiobutton color="blue" radioGroupName="group_4"></ntx-form-radiobutton>
  <div style="height: 24px;"></div>
  <ntx-form-radiobutton color="lightblue"radioGroupName="group_5"></ntx-form-radiobutton>
  <div style="height: 24px;"></div>
  <ntx-form-radiobutton labelPosition="before"></ntx-form-radiobutton>
  <div style="height: 24px;"></div>
  <table>
    <tr>
      <td><ntx-form-radiobutton color="black"></ntx-form-radiobutton></td>
      <td><ntx-form-radiobutton color="orange"></ntx-form-radiobutton></td>
      <td>c</td>
    </tr>
    <tr>
      <td>a</td>
      <td>b</td>
      <td>c</td>
    </tr>
  </table> -->
  <div class="utils--flex-center">
    <ntx-card8></ntx-card8>
    <ntx-card8></ntx-card8>
  </div>
</div>
