<div class="page-layout">
  <div class="page-container">
    <ntx-stroked-icon-button showIconLeft="true" icon="icon-pencil" title="edit" color="#199AA8"></ntx-stroked-icon-button>
    <ntx-stroked-icon-button showIconLeft="true" icon="icon-pencil" title="edit" color="#199AA8" disabled></ntx-stroked-icon-button>
    <ntx-stroked-icon-button showIconRight="true" icon="icon-download" title="download" color="#B182A6"></ntx-stroked-icon-button>
    <ntx-stroked-icon-button showIconRight="true" icon="icon-download" title="download" color="#B182A6" disabled></ntx-stroked-icon-button>
    <ntx-stroked-icon-button showIconRight="true" icon="icon-arrow-right" title="next" color="#5cce88"></ntx-stroked-icon-button>
    <ntx-stroked-icon-button showIconRight="true" icon="icon-arrow-right" title="next" color="#5cce88" disabled></ntx-stroked-icon-button>
  </div>
</div>