@import "variables";
@import "colors";
@import "mixings";

h1{
  color: $color-grey-800;
  font-family: latoLight;
  font-size: $font-size-42;
  line-height: 52px;
  margin: 0;
}
h2{
  color: $color-grey-800;
  font-family: latoLight;
  font-size: $font-size-36;
  line-height: 44px;
  margin: 0;
}
h3{
  color: $color-grey-800;
  font-family: lato;
  font-size: $font-size-28;
  line-height: 36px;
  margin: 0;
}
h4{
  color: $color-grey-800;
  font-family: latoBold;
  font-size: $font-size-24;
  line-height: 30px;
  margin: 0;
}
h5{
  color: $color-grey-800;
  font-family: latoBold;
  font-size: $font-size-18;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}


$block: "utils";

.#{$block} {
  //Textos
  &--title-large {
    color: $color-grey-800;
    font-family: latoBold;
    font-size: $font-size-20;
    line-height: 26px;
    margin: 0;
  }
  &--title-medium {
    color: $color-grey-800;
    font-family: latoBold;
    font-size: $font-size-18;
    line-height: 22px;
    margin: 0;
  }
  &--title-small {
    color: $color-grey-800;
    font-family: latoBold;
    font-size: $font-size-16;
    line-height: 20px;
    margin: 0;
  }
  &--row-title {
    color: $color-grey-700;
    font-family: latoSemibold;
    font-size: $font-size-18;
    line-height: 20px;
    margin: 0;
    text-transform: uppercase;
  }
  &--section-title {
    color: $color-grey-800;
    font-family: latoBold;
    font-size: $font-size-12;
    line-height: 15px;
    margin: 0;
    text-transform: uppercase;
  }
  &--basic-text {
    color: $color-grey-600;
    font-family: lato;
    font-size: $font-size-14;
    line-height: 18px;
    margin: 0;
  }

	&--uppercase {
		text-transform: uppercase;
	}

	&--truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
  }

  &--vertical-align {
    left: 50%;
    margin-right: -50% !important;
    padding: 0 !important;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
  }

  //Colores
  &--text-black {
		color: $color-black;
  }
  &--grey-600 {
		color: $color-grey-600;
  }
  &--text-orange {
		color: $color-orange;
  }

  //Colores de fondo
  &--bc-grey-400 {
    background-color: $color-grey-400;
  }
  &--bc-grey-100 {
    background-color: $color-grey-100;
  }
  &--bc-orange {
    background-color: $color-orange;
  }

  //Márgenes
  &--margin-0 {
		margin: $separation-0 !important;
  }
	&--margin-top-0 {
		margin-top: $separation-0 !important;
	}
	&--margin-top-4 {
		margin-top: $separation-4;
	}
	&--margin-top-8 {
		margin-top: $separation-8;
	}
	&--margin-top-12 {
		margin-top: $separation-12;
	}
	&--margin-top-16 {
		margin-top: $separation-16;
	}
	&--margin-top-20 {
		margin-top: $separation-20;
	}
	&--margin-top-24 {
		margin-top: $separation-24;
  }
  &--margin-top-28 {
		margin-top: $separation-28;
  }
  &--margin-top-32 {
		margin-top: $separation-32;
  }
  &--margin-top-36 {
		margin-top: $separation-36;
  }
  &--margin-top-40 {
		margin-top: $separation-40;
  }
  &--margin-top-44 {
		margin-top: $separation-44;
  }
  &--margin-top-48 {
		margin-top: $separation-48;
	}
	&--margin-top-60 {
		margin-top: $separation-60;
  }
  &--margin-top-80 {
		margin-top: $separation-80;
  }
  &--margin-top-100 {
		margin-top: $separation-100;
	}
	&--margin-right-0 {
		margin-right: $separation-0 !important;
	}
	&--margin-right-4 {
		margin-right: $separation-4;
	}
	&--margin-right-8 {
		margin-right: $separation-8;
	}
	&--margin-right-12 {
		margin-right: $separation-12;
	}
	&--margin-right-16 {
		margin-right: $separation-16;
	}
	&--margin-right-20 {
		margin-right: $separation-20;
	}
	&--margin-right-24 {
		margin-right: $separation-24;
  }
  &--margin-right-28 {
		margin-right: $separation-28;
  }
  &--margin-right-32 {
		margin-right: $separation-32;
  }
  &--margin-right-36 {
		margin-right: $separation-36;
  }
  &--margin-right-40 {
		margin-right: $separation-40;
  }
  &--margin-right-44 {
		margin-right: $separation-44;
  }
  &--margin-right-48 {
		margin-right: $separation-48;
  }
  &--margin-right-60 {
		margin-right: $separation-60;
  }
  &--margin-right-80 {
		margin-right: $separation-80;
  }
  &--margin-right-100 {
		margin-right: $separation-100;
  }
	&--margin-bottom-0 {
		margin-bottom: $separation-0 !important;
	}
	&--margin-bottom-4 {
		margin-bottom: $separation-4;
	}
	&--margin-bottom-8 {
		margin-bottom: $separation-8;
	}
	&--margin-bottom-12 {
		margin-bottom: $separation-12;
	}
	&--margin-bottom-16 {
		margin-bottom: $separation-16;
	}
	&--margin-bottom-20 {
		margin-bottom: $separation-20;
	}
	&--margin-bottom-24 {
		margin-bottom: $separation-24;
  }
  &--margin-bottom-28 {
		margin-bottom: $separation-28;
  }
  &--margin-bottom-32 {
		margin-bottom: $separation-32;
  }
  &--margin-bottom-36 {
		margin-bottom: $separation-36;
  }
  &--margin-bottom-40 {
		margin-bottom: $separation-40;
  }
  &--margin-bottom-44 {
		margin-bottom: $separation-44;
  }
  &--margin-bottom-48 {
		margin-bottom: $separation-48;
  }
  &--margin-bottom-60 {
		margin-bottom: $separation-60;
  }
  &--margin-bottom-80 {
		margin-bottom: $separation-80;
  }
  &--margin-bottom-100 {
		margin-bottom: $separation-100;
  }
	&--margin-left-0 {
		margin-left: $separation-0 !important;
	}
	&--margin-left-4 {
		margin-left: $separation-4;
	}
	&--margin-left-8 {
		margin-left: $separation-8;
	}
	&--margin-left-12 {
		margin-left: $separation-12;
	}
	&--margin-left-16 {
		margin-left: $separation-16;
	}
	&--margin-left-20 {
		margin-left: $separation-20;
	}
	&--margin-left-24 {
		margin-left: $separation-24;
  }
  &--margin-left-28 {
		margin-left: $separation-28;
  }
  &--margin-left-32 {
		margin-left: $separation-32;
  }
  &--margin-left-36 {
		margin-left: $separation-36;
  }
  &--margin-left-40 {
		margin-left: $separation-40;
  }
  &--margin-left-44 {
		margin-left: $separation-44;
  }
  &--margin-left-48 {
		margin-left: $separation-48;
  }
  &--margin-left-60 {
		margin-left: $separation-60;
  }
  &--margin-left-80 {
		margin-left: $separation-80;
  }
  &--margin-left-100 {
		margin-left: $separation-100;
	}

  //Paddings
  &--padding-0 {
		padding: $separation-0 !important;
  }
	&--padding-top-0 {
		padding-top: $separation-0 !important;
	}
	&--padding-top-4 {
		padding-top: $separation-4;
	}
	&--padding-top-8 {
		padding-top: $separation-8;
	}
	&--padding-top-12 {
		padding-top: $separation-12;
	}
	&--padding-top-16 {
		padding-top: $separation-16;
	}
	&--padding-top-20 {
		padding-top: $separation-20;
	}
	&--padding-top-24 {
		padding-top: $separation-24;
  }
  &--padding-top-28 {
		padding-top: $separation-28;
  }
  &--padding-top-32 {
		padding-top: $separation-32;
  }
  &--padding-top-36 {
		padding-top: $separation-36;
  }
  &--padding-top-40 {
		padding-top: $separation-40;
  }
  &--padding-top-44 {
		padding-top: $separation-44;
  }
  &--padding-top-48 {
		padding-top: $separation-48;
  }
  &--padding-top-60 {
		padding-top: $separation-60;
  }
  &--padding-top-80 {
		padding-top: $separation-80;
  }
  &--padding-top-100 {
		padding-top: $separation-100;
  }
	&--padding-right-0 {
		padding-right: $separation-0 !important;
	}
	&--padding-right-4 {
		padding-right: $separation-4;
	}
	&--padding-right-8 {
		padding-right: $separation-8;
	}
	&--padding-right-12 {
		padding-right: $separation-12;
	}
	&--padding-right-16 {
		padding-right: $separation-16;
	}
	&--padding-right-20 {
		padding-right: $separation-20;
	}
	&--padding-right-24 {
		padding-right: $separation-24;
  }
  &--padding-right-28 {
		padding-right: $separation-28;
  }
  &--padding-right-32 {
		padding-right: $separation-32;
  }
  &--padding-right-36 {
		padding-right: $separation-36;
  }
  &--padding-right-40 {
		padding-right: $separation-40;
  }
  &--padding-right-44 {
		padding-right: $separation-44;
  }
  &--padding-right-48 {
		padding-right: $separation-48;
  }
  &--padding-right-60 {
		padding-right: $separation-60;
  }
  &--padding-right-80 {
		padding-right: $separation-80;
  }
  &--padding-right-100 {
		padding-right: $separation-100;
  }
	&--padding-bottom-0 {
		padding-bottom: $separation-0 !important;
	}
	&--padding-bottom-4 {
		padding-bottom: $separation-4;
	}
	&--padding-bottom-8 {
		padding-bottom: $separation-8;
	}
	&--padding-bottom-12 {
		padding-bottom: $separation-12;
	}
	&--padding-bottom-16 {
		padding-bottom: $separation-16;
	}
	&--padding-bottom-20 {
		padding-bottom: $separation-20;
	}
	&--padding-bottom-24 {
		padding-bottom: $separation-24;
  }
  &--padding-bottom-28 {
		padding-bottom: $separation-28;
  }
  &--padding-bottom-32 {
		padding-bottom: $separation-32;
  }
  &--padding-bottom-36 {
		padding-bottom: $separation-36;
  }
  &--padding-bottom-40 {
		padding-bottom: $separation-40;
  }
  &--padding-bottom-44 {
		padding-bottom: $separation-44;
  }
  &--padding-bottom-48 {
		padding-bottom: $separation-48;
  }
  &--padding-bottom-60 {
		padding-bottom: $separation-60;
  }
  &--padding-bottom-80 {
		padding-bottom: $separation-80;
  }
  &--padding-bottom-100 {
		padding-bottom: $separation-100;
  }
	&--padding-left-0 {
		padding-left: $separation-0 !important;
	}
	&--padding-left-4 {
		padding-left: $separation-4;
	}
	&--padding-left-8 {
		padding-left: $separation-8;
	}
	&--padding-left-12 {
		padding-left: $separation-12;
	}
	&--padding-left-16 {
		padding-left: $separation-16;
	}
	&--padding-left-20 {
		padding-left: $separation-20;
	}
	&--padding-left-24 {
		padding-left: $separation-24;
  }
  &--padding-left-28 {
		padding-left: $separation-28;
  }
  &--padding-left-32 {
		padding-left: $separation-32;
  }
  &--padding-left-36 {
		padding-left: $separation-36;
  }
  &--padding-left-40 {
		padding-left: $separation-40;
  }
  &--padding-left-44 {
		padding-left: $separation-44;
  }
  &--padding-left-48 {
		padding-left: $separation-48;
  }
  &--padding-left-60 {
		padding-left: $separation-60;
  }
  &--padding-left-80 {
		padding-left: $separation-80;
  }
  &--padding-left-100 {
		padding-left: $separation-100;
	}
}
