//Variables para tamaños de iconos
$font-size-icon-small:        10px;
$font-size-icon:              14px;
$font-size-icon-medium:       16px;
$font-size-icon-big:          20px;
$font-size-icon-xlarge:       24px;
$font-size-icon-xxlarge:      30px;
$font-size-icon-xxxlarge:     48px;

//Variables para márgenes y paddings
$separation-0: 0;
$separation-4: 4px;
$separation-8: 8px;
$separation-12: 12px;
$separation-16: 16px;
$separation-20: 20px;
$separation-24: 24px;
$separation-28: 28px;
$separation-32: 32px;
$separation-36: 36px;
$separation-40: 40px;
$separation-44: 44px;
$separation-48: 48px;
$separation-60: 60px;
$separation-80: 80px;
$separation-100: 100px;

//Sombras
$shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
$shadow-hover: 0 0 14px 0 rgba(0, 0, 0, 0.26);
$shadow-navbar: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

//Hover
$icon-button-hover: rgba(0, 0, 0, 0.16);
$icon-button-toolbar-hover: rgba(255, 255, 255, 0.16);

//Toolbar
$toolbarHeight: 56px;
