/* You can add global styles to this file, and also import other style files */
@import "./app/utils";
@import "./fonts/styles";
@import "./fonts/fonts";

body{
  font-family: Lato;
}

.section-title{
  color: $color-grey-700;
  font-family: LatoMedium;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  .section-subtitle{
    color: $color-grey-600;
    font-family: LatoLight;
    font-size: 16px;
    text-transform: lowercase;
  }
}

.page-container{
  padding: 40px 0;
  margin: 0 auto;
  max-width: 768px;
  min-height: 100%;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .page-container{
    max-width: 768px;
  }
}
@media (min-width: 1280px) and (max-width: 1480px) {
  .page-container{
    max-width: 900px;
  }
}
@media (min-width: 1480px) {
  .page-container{
    max-width: 1240px;
  }
}
