<div class="page-layout">
  <div class="page-container">

    <div class="utils--flex">
      <div class="utils--padding-8" *ngFor="let item of card26">
        <ntx-card26
          [image]="item.image"
          [avatar]="item.avatar"
          [title]="item.title"
          [subtitle]="item.subtitle"
          [label]="item.label"
          [sizeCard]="item.sizeCard"
          [sizeText]="item.sizeText"
          [highlighted]="item.highlighted"
          [textUnlimited]="item.textUnlimited"></ntx-card26>
      </div>
    </div>

  </div>
</div>
