<ntx-card-simple
  title="{{'Two lines list with avatar' | uppercase }}"
  subtitle="{{ '<ntx-list-two-lines-avatar>' }}">
    <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
    <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
    <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
</ntx-card-simple>

<ntx-card-simple
  title="{{'Multi list with icon' | uppercase }}"
  subtitle="{{ '<ntx-list-two-multilines-icon>' }}">
    <ntx-list-multilines-icon></ntx-list-multilines-icon>
</ntx-card-simple>

<ntx-card-simple
  title="{{'One line list with options' | uppercase }}"
  subtitle="{{ '<ntx-list-one-line-options>' }}">
  <ntx-list-one-line-options></ntx-list-one-line-options>
  <ntx-list-one-line-options></ntx-list-one-line-options>
  <ntx-list-one-line-options></ntx-list-one-line-options>
</ntx-card-simple>

<ntx-card-simple
  title="{{'One line navigable list' | uppercase }}"
  subtitle="{{ '<ntx-list-one-line-navigable>' }}">
    <ntx-list-one-line-navigable></ntx-list-one-line-navigable>
    <ntx-list-one-line-navigable></ntx-list-one-line-navigable>
    <ntx-list-one-line-navigable></ntx-list-one-line-navigable>
</ntx-card-simple>
