<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple
      title="{{'One line list with avatar' | uppercase }}"
      subtitle="{{ '<ntx-list-one-line-avatar>' }}">
        <ntx-list-one-line-avatar></ntx-list-one-line-avatar>
        <ntx-list-one-line-avatar></ntx-list-one-line-avatar>
        <ntx-list-one-line-avatar></ntx-list-one-line-avatar>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Two lines list with avatar' | uppercase }}"
      subtitle="{{ '<ntx-list-two-lines-avatar>' }}">
        <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
        <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
        <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'Multi list with icon' | uppercase }}"
      subtitle="{{ '<ntx-list-two-multilines-icon>' }}">
        <ntx-list-multilines-icon></ntx-list-multilines-icon>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'One line list with options' | uppercase }}"
      subtitle="{{ '<ntx-list-one-line-options>' }}">
      <ntx-list-one-line-options></ntx-list-one-line-options>
      <ntx-list-one-line-options></ntx-list-one-line-options>
      <ntx-list-one-line-options></ntx-list-one-line-options>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'One line navigable list' | uppercase }}"
      subtitle="{{ '<ntx-list-one-line-navigable>' }}">
        <ntx-list-one-line-navigable></ntx-list-one-line-navigable>
        <ntx-list-one-line-navigable></ntx-list-one-line-navigable>
        <ntx-list-one-line-navigable></ntx-list-one-line-navigable>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'List horizontal' | uppercase }}"
      subtitle="{{ '<ntx-list-horizontal>' }}">
        <ntx-list-horizontal></ntx-list-horizontal>
    </ntx-card-simple>

    <ntx-card-simple
      title="{{'List horizontal with icons' | uppercase }}"
      subtitle="{{ '<ntx-list-horizontal-icon>' }}">
        <ntx-list-horizontal-icon></ntx-list-horizontal-icon>
    </ntx-card-simple>

    <ntx-card-simple
      class="horizontal-cards"
      title="{{'Two lines vertical list with avatar' | uppercase }}"
      subtitle="{{ '<ntx-list-two-lines-avatar-vertical>' }}">
        <ntx-list-two-lines-avatar-vertical></ntx-list-two-lines-avatar-vertical>
        <ntx-list-two-lines-avatar-vertical></ntx-list-two-lines-avatar-vertical>
        <ntx-list-two-lines-avatar-vertical></ntx-list-two-lines-avatar-vertical>
    </ntx-card-simple>

  </div>
</div>
