<ntx-card-simple
  title="{{'Lista de dos líneas con avatar' | uppercase }}"
  subtitle="{{ '<ntx-list-two-lines-avatar>' }}">
    <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
    <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
    <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
</ntx-card-simple>

<ntx-card-simple
  title="{{'Lista multilínea con icono' | uppercase }}"
  subtitle="{{ '<ntx-list-two-multilines-icon>' }}">
    <ntx-list-multilines-icon></ntx-list-multilines-icon>
</ntx-card-simple>
