<div class="page-layout">
  <div class="page-container">

    <mat-grid-list #grid rowHeight="270px" gutterSize="28">
      <mat-grid-tile>
        <a (click)="card1()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card1.png" alt="Card1">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card1">Card1</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card2()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card2.png" alt="Card2">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card2">Card2</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card3()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card3.png" alt="Card3">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card3">Card3</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card4()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card4.png" alt="Card4">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card4">Card4</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card5()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card5.png" alt="Card5">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card5">Card5</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card7()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card7.png" alt="Card7">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card7">Card7</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card8()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card8.png" alt="Card8">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card8">Card8</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card9()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card9.png" alt="Card9">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card9">Card9</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card10()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card10.png" alt="Card10">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card10">Card10</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card11()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card11.png" alt="Card11">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card11">Card11</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card12()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card12.png" alt="Card12">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card12">Card12</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card13()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card13.png" alt="Card13">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card13">Card13</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card14()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card14.png" alt="Card14">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card14">Card14</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card15()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card15.png" alt="Card15">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card15">Card15</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card16()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card16.png" alt="Card16">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card16">Card16</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card17()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card17.png" alt="Card17">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card17">Card17</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card18()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card18.png" alt="Card18">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card18">Card18</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card19()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card19.png" alt="Card19">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card19">Card19</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card20()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card20.png" alt="Card20">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card20">Card20</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="card21()">
          <mat-card class="card-catalog">
            <div class="card-catalog__wrapper-image">
              <img mat-card-image class="card-catalog__image" src="assets/images/card21.png" alt="Card20">
            </div>
            <mat-card-content>
              <mat-card-title class="card-catalog__title">
                <span class="card-catalog__title--text" matTooltip="Card21">Card21</span>
              </mat-card-title>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>

