<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple>

      <p class="text-section">Grayscale Colours:</p>

      <mat-grid-list #grid1 rowHeight="200px" gutterSize="0">

        <mat-grid-tile>
          <div class="color-box utils--bc-black">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-black {background-color:#000}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-black">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-black {background-color:#000}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-grey-900">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-grey-900 {background-color:#1A1A1A}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-grey-800">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-grey-800 {background-color:#333}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-grey-700">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-grey-700 {background-color:#666}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-grey-600">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-grey-600 {background-color:#999}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-grey-500">
            <code class="text-code utils--margin-bottom-0">{{".utils--bc-grey-500 {background-color:#BDBDBD}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-grey-400">
            <code class="text-code utils--margin-bottom-0">{{".utils--bc-grey-400 {background-color:#CCC}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-grey-300">
            <code class="text-code utils--margin-bottom-0">{{".utils--bc-grey-300 {background-color:#E2E2E2}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-grey-200">
            <code class="text-code utils--margin-bottom-0">{{".utils--bc-grey-200 {background-color:#EEE}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-grey-100">
            <code class="text-code utils--margin-bottom-0">{{".utils--bc-grey-100 {background-color:#F9F9F9}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-white">
            <code class="text-code utils--margin-bottom-0">{{".utils--bc-white {background-color:#FFF}"}}</code>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <p class="text-section">Corporative colours:</p>
      <mat-grid-list #grid2 rowHeight="200px" gutterSize="0">

        <mat-grid-tile>
          <div class="color-box utils--bc-content">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-content {background-color:#D65292}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-talent">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-talent {background-color:#F9BF34}"}}</code>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <p class="text-section">Random colours:</p>
      <mat-grid-list #grid3 rowHeight="200px" gutterSize="0">

        <mat-grid-tile>
          <div class="color-box utils--bc-random1">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-random1 {background-color:#41545D}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-random2">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-random2 {background-color:#279ED6}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-random3">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-random3 {background-color:#9B2761}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-random4">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-random4 {background-color:#E53B78}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-random5">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-random5 {background-color:#E7575B}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-random6">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-random6 {background-color:#5cce88}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-random7">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-random7 {background-color:#199AA8}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-random8">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-random8 {background-color:#EE9A37}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-random9">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-random9 {background-color:#B182A6}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-random10">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-random10 {background-color:#AAD355}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-random11">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-random11 {background-color:#1D5D93}"}}</code>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <p class="text-section">Action colours:</p>
      <mat-grid-list #grid4 rowHeight="200px" gutterSize="0">

        <mat-grid-tile>
          <div class="color-box utils--bc-primary">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-primary {background-color:#1D5D93}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-primary-hover">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-primary-hover {background-color:#1D5D93}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-accent">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-accent {background-color:#1D5D93}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-accent-hover">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-accent-hover {background-color:#1D5D93}"}}</code>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <p class="text-section">States colours:</p>
      <mat-grid-list #grid5 rowHeight="200px" gutterSize="0">

        <mat-grid-tile>
          <div class="color-box utils--bc-success">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-success {background-color:#1D5D93}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-warning">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-warning {background-color:#1D5D93}"}}</code>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="color-box utils--bc-error">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-error {background-color:#1D5D93}"}}</code>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <p class="text-section">Other colours:</p>
      <mat-grid-list #grid6 rowHeight="200px" gutterSize="0">

        <mat-grid-tile>
          <div class="color-box utils--bc-orange">
            <code class="text-code utils--text-white utils--margin-bottom-0">{{".utils--bc-orange {background-color:#1D5D93}"}}</code>
          </div>
        </mat-grid-tile>

      </mat-grid-list>


      <p class="text-section">Text colours classes:</p>
      <p class="utils--text-black utils--text-24 utils--margin-bottom-0">This is a black text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-black {color:#000}"}}</code>

      <p class="utils--text-grey-900 utils--text-24 utils--margin-bottom-0">This is a grey text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-grey-900 {color:#1A1A1A}"}}</code>

      <p class="utils--text-grey-800 utils--text-24 utils--margin-bottom-0">This is a grey text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-grey-800 {color:#333}"}}</code>

      <p class="utils--text-grey-700 utils--text-24 utils--margin-bottom-0">This is a grey text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-grey-700 {color:#666}"}}</code>

      <p class="utils--text-grey-600 utils--text-24 utils--margin-bottom-0">This is a grey text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-grey-600 {color:#999}"}}</code>

      <p class="utils--text-grey-500 utils--text-24 utils--margin-bottom-0">This is a grey text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-grey-500 {color:#BDBDBD}"}}</code>

      <p class="utils--text-grey-400 utils--text-24 utils--margin-bottom-0">This is a grey text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-grey-400 {color:#CCC}"}}</code>

      <p class="utils--text-grey-300 utils--text-24 utils--margin-bottom-0">This is a grey text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-grey-300 {color:#E2E2E2}"}}</code>

      <p class="utils--text-grey-200 utils--text-24 utils--margin-bottom-0">This is a grey text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-grey-200 {color:#EEE}"}}</code>

      <p class="utils--text-grey-100 utils--text-24 utils--margin-bottom-0">This is a grey text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-grey-100 {color:#F9F9F9}"}}</code>

      <p class="utils--text-white utils--text-24 utils--margin-bottom-0">This is a white text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-white {color:#FFF}"}}</code>

    </ntx-card-simple>
  </div>
</div>
