@import "utils";

$block: "toolbar-tabs-app";

.#{$block}{
    background-color: $color-primary;
    border-bottom: none;
    box-shadow: $shadow-navbar;
    padding: 0 16px;
    z-index: 2;
    .#{$block}__link{
        color: $color-white;
        font-family: Lato;
        min-width: auto;
        padding: 0 16px;
        text-transform: uppercase;
        &.cdk-focused{
            opacity: 1;
        }
        &:hover{
            background-color: $icon-button-toolbar-hover;
        }
    }
    &.mat-tab-nav-bar.mat-primary .mat-tab-links .mat-ink-bar {
		height: 2px;
		background-color: #ffffff !important;
	}
}
