<div class="page-layout">
  <div class="page-container utils--padding-left-16 utils--padding-right-16">
    <ntx-card-simple title="{{'Progress bar with level mark' | uppercase }}" subtitle="{{ '<ntx-progress-bar-level [value]=0>' }}">
      <ntx-progress-bar-level [value]="'0'"></ntx-progress-bar-level>
    </ntx-card-simple>
    <ntx-card-simple title="{{'Progress bar with level mark' | uppercase }}" subtitle="{{ '<ntx-progress-bar-level [value]=0 [requiredValue]=50>' }}">
      <ntx-progress-bar-level [value]="'0'" [requiredValue]="'50'"></ntx-progress-bar-level>
    </ntx-card-simple>
    <ntx-card-simple title="{{'Progress bar with level mark' | uppercase }}" subtitle="{{ '<ntx-progress-bar-level [value]=34 [requiredValue]=40>' }}">
      <ntx-progress-bar-level [value]="'34'" [requiredValue]="'40'"></ntx-progress-bar-level>
    </ntx-card-simple>
    <ntx-card-simple title="{{'Progress bar with level mark' | uppercase }}" subtitle="{{ '<ntx-progress-bar-level [value]=80 [requiredValue]=65>' }}">
      <ntx-progress-bar-level [value]="'80'" [requiredValue]="'65'"></ntx-progress-bar-level>
    </ntx-card-simple>
    <ntx-card-simple title="{{'Progress bar with level mark' | uppercase }}" subtitle="{{ '<ntx-progress-bar-level [value]=75>' }}">
      <ntx-progress-bar-level [value]="'75'" ></ntx-progress-bar-level>
    </ntx-card-simple>
  </div>
</div>
