$lato-font-path: "/assets/fonts/Lato" !default;

@font-face{
  font-family:LatoBlack;
  src:url('#{$lato-font-path}/Lato-Black.eot');
  src:url('#{$lato-font-path}/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-Black.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-Black.woff') format('woff'),
  url('#{$lato-font-path}/Lato-Black.ttf') format('truetype');
  font-style:normal;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoBlack;
  src:url('#{$lato-font-path}/Lato-BlackItalic.eot');
  src:url('#{$lato-font-path}/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-BlackItalic.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-BlackItalic.woff') format('woff'),
  url('#{$lato-font-path}/Lato-BlackItalic.ttf') format('truetype');
  font-style:italic;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoHeavy;
  src:url('#{$lato-font-path}/Lato-Heavy.eot');
  src:url('#{$lato-font-path}/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-Heavy.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-Heavy.woff') format('woff'),
  url('#{$lato-font-path}/Lato-Heavy.ttf') format('truetype');
  font-style:normal;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoHeavy;
  src:url('#{$lato-font-path}/Lato-HeavyItalic.eot');
  src:url('#{$lato-font-path}/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-HeavyItalic.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-HeavyItalic.woff') format('woff'),
  url('#{$lato-font-path}/Lato-HeavyItalic.ttf') format('truetype');
  font-style:italic;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoBold;
  src:url('#{$lato-font-path}/Lato-Bold.eot');
  src:url('#{$lato-font-path}/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-Bold.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-Bold.woff') format('woff'),
  url('#{$lato-font-path}/Lato-Bold.ttf') format('truetype');
  font-style:normal;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoBold;
  src:url('#{$lato-font-path}/Lato-BoldItalic.eot');
  src:url('#{$lato-font-path}/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-BoldItalic.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-BoldItalic.woff') format('woff'),
  url('#{$lato-font-path}/Lato-BoldItalic.ttf') format('truetype');
  font-style:italic;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoSemibold;
  src:url('#{$lato-font-path}/Lato-Semibold.eot');
  src:url('#{$lato-font-path}/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-Semibold.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-Semibold.woff') format('woff'),
  url('#{$lato-font-path}/Lato-Semibold.ttf') format('truetype');
  font-style:normal;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoSemibold;
  src:url('#{$lato-font-path}/Lato-SemiboldItalic.eot');
  src:url('#{$lato-font-path}/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-SemiboldItalic.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-SemiboldItalic.woff') format('woff'),
  url('#{$lato-font-path}/Lato-SemiboldItalic.ttf') format('truetype');
  font-style:italic;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoMedium;
  src:url('#{$lato-font-path}/Lato-Medium.eot');
  src:url('#{$lato-font-path}/Lato-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-Medium.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-Medium.woff') format('woff'),
  url('#{$lato-font-path}/Lato-Medium.ttf') format('truetype');
  font-style:normal;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoMedium;
  src:url('#{$lato-font-path}/Lato-MediumItalic.eot');
  src:url('#{$lato-font-path}/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-MediumItalic.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-MediumItalic.woff') format('woff'),
  url('#{$lato-font-path}/Lato-MediumItalic.ttf') format('truetype');
  font-style:italic;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:Lato;
  src:url('#{$lato-font-path}/Lato-Regular.eot');
  src:url('#{$lato-font-path}/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-Regular.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-Regular.woff') format('woff'),
  url('#{$lato-font-path}/Lato-Regular.ttf') format('truetype');
  font-style:normal;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:Lato;
  src:url('#{$lato-font-path}/Lato-Italic.eot');
  src:url('#{$lato-font-path}/Lato-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-Italic.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-Italic.woff') format('woff'),
  url('#{$lato-font-path}/Lato-Italic.ttf') format('truetype');
  font-style:italic;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoLight;
  src:url('#{$lato-font-path}/Lato-Light.eot');
  src:url('#{$lato-font-path}/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-Light.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-Light.woff') format('woff'),
  url('#{$lato-font-path}/Lato-Light.ttf') format('truetype');
  font-style:normal;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoLight;
  src:url('#{$lato-font-path}/Lato-LightItalic.eot');
  src:url('#{$lato-font-path}/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-LightItalic.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-LightItalic.woff') format('woff'),
  url('#{$lato-font-path}/Lato-LightItalic.ttf') format('truetype');
  font-style:italic;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoThin;
  src:url('#{$lato-font-path}/Lato-Thin.eot');
  src:url('#{$lato-font-path}/Lato-Thin.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-Thin.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-Thin.woff') format('woff'),
  url('#{$lato-font-path}/Lato-Thin.ttf') format('truetype');
  font-style:normal;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoThin;
  src:url('#{$lato-font-path}/Lato-ThinItalic.eot');
  src:url('#{$lato-font-path}/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-ThinItalic.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-ThinItalic.woff') format('woff'),
  url('#{$lato-font-path}/Lato-ThinItalic.ttf') format('truetype');
  font-style:italic;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoHairline;
  src:url('#{$lato-font-path}/Lato-Hairline.eot');
  src:url('#{$lato-font-path}/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-Hairline.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-Hairline.woff') format('woff'),
  url('#{$lato-font-path}/Lato-Hairline.ttf') format('truetype');
  font-style:normal;
  font-weight:300;
  text-rendering:optimizeLegibility
}
@font-face{
  font-family:LatoHairline;
  src:url('#{$lato-font-path}/Lato-HairlineItalic.eot');
  src:url('#{$lato-font-path}/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$lato-font-path}/Lato-HairlineItalic.woff2') format('woff2'),
  url('#{$lato-font-path}/Lato-HairlineItalic.woff') format('woff'),
  url('#{$lato-font-path}/Lato-HairlineItalic.ttf') format('truetype');
  font-style:italic;
  font-weight:300;
  text-rendering:optimizeLegibility
}
