$icomoon-font-family: "netex" !default;
$icomoon-font-path: "/assets/fonts/icons" !default;

$icon-switch-off: "\eabc";
$icon-switch-on: "\eabd";
$icon-user-generic-line: "\eabb";
$icon-sort: "\eab7";
$icon-envelope-dot: "\eab8";
$icon-calendar-check: "\eab9";
$icon-order-horizontally: "\eaba";
$icon-flag-czech-republic-path1: "\ea9b";
$icon-flag-czech-republic-path2: "\ea9c";
$icon-flag-czech-republic-path3: "\ea9d";
$icon-flag-czech-republic-path4: "\ea9e";
$icon-flag-holland-path1: "\ea9f";
$icon-flag-holland-path2: "\eaa0";
$icon-flag-holland-path3: "\eaa1";
$icon-flag-poland-path1: "\eaa2";
$icon-flag-poland-path2: "\eaa3";
$icon-flag-poland-path3: "\eaa4";
$icon-flag-romania-path1: "\eaa5";
$icon-flag-romania-path2: "\eaa6";
$icon-flag-romania-path3: "\eaa7";
$icon-flag-russia-path1: "\eaa8";
$icon-flag-russia-path2: "\eaa9";
$icon-flag-russia-path3: "\eaaa";
$icon-flag-russia-path4: "\eaab";
$icon-flag-slovakia-path1: "\eaac";
$icon-flag-slovakia-path2: "\eaad";
$icon-flag-slovakia-path3: "\eaae";
$icon-flag-slovakia-path4: "\eaaf";
$icon-flag-slovakia-path5: "\eab0";
$icon-flag-slovakia-path6: "\eab1";
$icon-flag-slovakia-path7: "\eab2";
$icon-flag-slovakia-path8: "\eab3";
$icon-flag-turkey-path1: "\eab4";
$icon-flag-turkey-path2: "\eab5";
$icon-flag-turkey-path3: "\eab6";
$icon-palette-color-solid: "\ea9a";
$icon-palette-color: "\ea99";
$icon-coin-star: "\ea98";
$icon-timeline: "\ea97";
$icon-user-check: "\ea96";
$icon-evaluation-solid: "\ea94";
$icon-user-export: "\ea92";
$icon-user-hat: "\ea93";
$icon-arrow-right-solid: "\ea8c";
$icon-chat-bubble-question: "\ea8d";
$icon-reply-all-solid: "\ea8e";
$icon-reply-solid: "\ea8f";
$icon-see-more-dots: "\ea90";
$icon-send-solid: "\ea91";
$icon-backpack: "\ea8b";
$icon-car: "\ea86";
$icon-car-solid: "\ea87";
$icon-clock-solid: "\ea88";
$icon-location-solid: "\ea89";
$icon-tags-menu: "\ea8a";
$icon-pencil-solid: "\ea85";
$icon-heart-off: "\ea83";
$icon-users-arrow-bottom: "\ea84";
$icon-clipboard-list: "\ea7c";
$icon-bell-solid: "\ea7a";
$icon-dislike: "\ea7b";
$icon-logo-cloud-solid: "\ea82";
$icon-rotate-left: "\ea80";
$icon-rotate-right: "\ea81";
$icon-resize: "\ea7f";
$icon-link-broken: "\ea7e";
$icon-flag-refresh: "\ea7d";
$icon-crop: "\ea79";
$icon-camera: "\ea78";
$icon-inbox-solid: "\ea76";
$icon-export-solid: "\ea77";
$icon-envelope-solid: "\ea74";
$icon-mailbox: "\ea75";
$icon-navigation-header: "\e9ca";
$icon-modal: "\ea6c";
$icon-pin-solid: "\ea6e";
$icon-pin-checked-solid: "\ea6f";
$icon-lock-solid: "\ea70";
$icon-link: "\ea71";
$icon-eye-off: "\ea72";
$icon-competency: "\ea73";
$icon-speaker: "\ea5e";
$icon-notebook: "\ea4f";
$icon-magazine: "\ea4e";
$icon-send-off: "\ea52";
$icon-check-double: "\ea51";
$icon-multiple-classroom: "\ea50";
$icon-editor-flip-image: "\ea56";
$icon-bookmark: "\ea55";
$icon-bookmark-solid: "\ea54";
$icon-check-shield: "\ea53";
$icon-attached-file: "\ea57";
$icon-check-circle: "\ea58";
$icon-duplicate-search: "\ea59";
$icon-trophy-solid: "\ea5a";
$icon-launch-external: "\ea5b";
$icon-question-circle: "\ea5c";
$icon-less-circle-solid: "\ea5d";
$icon-loading-path1: "\ea5f";
$icon-loading-path2: "\ea60";
$icon-loading-path3: "\ea61";
$icon-loading-path4: "\ea62";
$icon-loading-path5: "\ea63";
$icon-loading-path6: "\ea64";
$icon-loading-path7: "\ea65";
$icon-loading-path8: "\ea66";
$icon-loading-path9: "\ea67";
$icon-loading-path10: "\ea68";
$icon-loading-path11: "\ea69";
$icon-editor-interactive-activity: "\ea6b";
$icon-editor-iframe: "\ea6a";
$icon-forbidden-shield: "\ea6d";
$icon-pathway: "\ea4c";
$icon-scanning: "\ea4d";
$icon-save-solid: "\ea4b";
$icon-move: "\ea2b";
$icon-index-off: "\ea46";
$icon-index: "\ea47";
$icon-columns-solid: "\ea48";
$icon-columns: "\ea49";
$icon-unlock-solid: "\ea4a";
$icon-chat-bubble-smile: "\ea45";
$icon-cross-circle: "\ea44";
$icon-flag-greece-path1: "\ea3c";
$icon-flag-greece-path2: "\ea3d";
$icon-flag-greece-path3: "\ea3e";
$icon-flag-greece-path4: "\ea3f";
$icon-flag-greece-path5: "\ea40";
$icon-flag-greece-path6: "\ea41";
$icon-flag-greece-path7: "\ea42";
$icon-apple: "\ea43";
$icon-border-all: "\ea31";
$icon-border-down: "\ea32";
$icon-border-left: "\ea33";
$icon-border-right: "\ea34";
$icon-border-up: "\ea35";
$icon-city-berlin: "\ea36";
$icon-city-tokyo: "\ea37";
$icon-city-vegas: "\ea38";
$icon-city-vienna: "\ea39";
$icon-redo-filled: "\ea3a";
$icon-undo-filled: "\ea3b";
$icon-desktop: "\ea29";
$icon-laptop: "\ea2a";
$icon-mobile: "\ea2c";
$icon-redo: "\ea2d";
$icon-tablet: "\ea2e";
$icon-undo: "\ea2f";
$icon-versions: "\ea30";
$icon-face-sad: "\ea28";
$icon-editor-audio-gallery-item: "\ea1a";
$icon-editor-audio-gallery: "\ea1b";
$icon-editor-close-button: "\ea1c";
$icon-editor-glossary-links-item: "\ea1d";
$icon-editor-help-popup: "\ea1e";
$icon-editor-project-data-link: "\ea1f";
$icon-editor-popup-single: "\ea20";
$icon-editor-show-search: "\ea21";
$icon-editor-show-close-button: "\ea22";
$icon-editor-scorm-player: "\ea23";
$icon-editor-logo: "\ea24";
$icon-editor-interactive-timeline-item: "\ea25";
$icon-editor-glossary-popup: "\ea26";
$icon-editor-downloads-popup: "\ea27";
$icon-users-plus: "\ea19";
$icon-pencil-circle-dotted: "\ea16";
$icon-flag-catalonia-path1: "\ea0a";
$icon-flag-catalonia-path2: "\ea0b";
$icon-flag-catalonia-path3: "\ea0c";
$icon-flag-catalonia-path4: "\ea0d";
$icon-flag-catalonia-path5: "\ea0e";
$icon-circle-90: "\ea0f";
$icon-circle-180: "\ea10";
$icon-circle-270: "\ea11";
$icon-circle-360: "\ea12";
$icon-compass: "\ea13";
$icon-davinci: "\ea14";
$icon-organisation-chart: "\ea15";
$icon-teacher: "\ea17";
$icon-user-clipboard: "\ea18";
$icon-hard-disk: "\ea09";
$icon-user-less: "\ea06";
$icon-binoculars: "\ea07";
$icon-binoculars-off: "\ea08";
$icon-flag-unitedkingdom-path1: "\e9e4";
$icon-flag-unitedkingdom-path2: "\e9e5";
$icon-flag-unitedkingdom-path3: "\e9e6";
$icon-flag-unitedkingdom-path4: "\e9e7";
$icon-flag-unitedkingdom-path5: "\e9e8";
$icon-flag-unitedkingdom-path6: "\e9e9";
$icon-flag-unitedkingdom-path7: "\e9ea";
$icon-flag-portugal-path1: "\e9eb";
$icon-flag-portugal-path2: "\e9ec";
$icon-flag-portugal-path3: "\e9ed";
$icon-flag-china-path1: "\e9ee";
$icon-flag-china-path2: "\e9ef";
$icon-flag-china-path3: "\e9f0";
$icon-flag-china-path4: "\e9f1";
$icon-flag-china-path5: "\e9f2";
$icon-flag-china-path6: "\e9f3";
$icon-flag-france-path1: "\e9f4";
$icon-flag-france-path2: "\e9f5";
$icon-flag-france-path3: "\e9f6";
$icon-flag-galicia-path1: "\e9f7";
$icon-flag-galicia-path2: "\e9f8";
$icon-flag-galicia-path3: "\e9f9";
$icon-flag-germany-path1: "\e9fa";
$icon-flag-germany-path2: "\e9fb";
$icon-flag-germany-path3: "\e9fc";
$icon-flag-hungary-path1: "\e9fd";
$icon-flag-hungary-path2: "\e9fe";
$icon-flag-hungary-path3: "\e9ff";
$icon-flag-indonesia-path1: "\ea00";
$icon-flag-indonesia-path2: "\ea01";
$icon-flag-indonesia-path3: "\ea02";
$icon-flag-italy-path1: "\ea03";
$icon-flag-italy-path2: "\ea04";
$icon-flag-italy-path3: "\ea05";
$icon-flag-spain-path1: "\e9e2";
$icon-flag-spain-path2: "\e9e3";
$icon-folder-plus: "\e9df";
$icon-file-arrow-up: "\e9e0";
$icon-file-plus: "\e9e1";
$icon-view-bounding-box: "\e9de";
$icon-archive-solid: "\e9da";
$icon-chat-bubbles: "\e9db";
$icon-paperclip: "\e9dc";
$icon-user-change: "\e9dd";
$icon-archive: "\e9d9";
$icon-recycle: "\e9d2";
$icon-file-zip: "\e9d3";
$icon-evaluation: "\e9d4";
$icon-editor-video-interactive: "\e9d5";
$icon-editor-linker-option: "\e9d6";
$icon-editor-copyright: "\e9d7";
$icon-editor-connector-video-interactive: "\e9d8";
$icon-form-input: "\e9cf";
$icon-editor-compose: "\e9d0";
$icon-construction-barrier: "\e9d1";
$icon-open-book: "\e9ce";
$icon-user-queue: "\e9cd";
$icon-send: "\e9cc";
$icon-user-group: "\e9c9";
$icon-speacker: "\e9ca";
$icon-folder-closed-solid: "\e9cb";
$icon-file-abc: "\e9c8";
$icon-video: "\e98c";
$icon-drag: "\e9af";
$icon-file-pdf: "\e9c7";
$icon-create: "\e988";
$icon-play: "\e9c6";
$icon-poweroff: "\e9c3";
$icon-save: "\e9c4";
$icon-thumb-levelup: "\e9c5";
$icon-editor-svg-animation: "\e9c2";
$icon-arrow-bottom-solid: "\e9ae";
$icon-arrow-top: "\e9ba";
$icon-arrow-top-solid: "\e9bb";
$icon-chat-bubble-solid: "\e9bc";
$icon-editor-linker-question: "\e9bd";
$icon-editor-pdf: "\e9be";
$icon-editor-widget: "\e9bf";
$icon-editor-widget-area: "\e9c0";
$icon-trash-solid: "\e9c1";
$icon-editor-end-drag-activity: "\e9ab";
$icon-editor-activity-statement: "\e9a7";
$icon-editor-area: "\e9a8";
$icon-editor-drag-activity: "\e9a9";
$icon-editor-dropdown-activity: "\e9aa";
$icon-editor-fill-gap-activity: "\e9ac";
$icon-editor-linker-activity: "\e9ad";
$icon-editor-matrix-multiple-activity: "\e9b0";
$icon-editor-matrix-single-activity: "\e9b1";
$icon-editor-multiple-choice-activity: "\e9b2";
$icon-editor-negative-feedback: "\e9b3";
$icon-editor-one-choice-activity: "\e9b4";
$icon-editor-positive-feedback: "\e9b5";
$icon-editor-screen-title: "\e9b6";
$icon-editor-taptap-activity: "\e9b7";
$icon-editor-true-false-activity: "\e9b8";
$icon-editor-unit-menu: "\e9b9";
$icon-user-circle: "\e99c";
$icon-user-card: "\e99d";
$icon-telephone: "\e99e";
$icon-logo-twitter: "\e99f";
$icon-logo-linkedin: "\e9a0";
$icon-euro: "\e9a1";
$icon-filter-circle: "\e9a2";
$icon-heart: "\e9a3";
$icon-light-bulb: "\e9a4";
$icon-location: "\e9a5";
$icon-logo-facebook: "\e9a6";
$icon-briefcase: "\e977";
$icon-check-circle-solid: "\e978";
$icon-editor-accordion: "\e979";
$icon-editor-before-after: "\e97a";
$icon-editor-block: "\e97b";
$icon-editor-carrousel: "\e97c";
$icon-editor-circle: "\e97d";
$icon-editor-clicksmap: "\e97e";
$icon-editor-column: "\e97f";
$icon-editor-educaplay: "\e980";
$icon-editor-external-animation: "\e981";
$icon-editor-footer-reference: "\e982";
$icon-editor-fullcontainer: "\e983";
$icon-editor-gallery: "\e984";
$icon-editor-glossary: "\e985";
$icon-editor-glossary-connector: "\e986";
$icon-editor-grid: "\e987";
$icon-editor-image-exchange: "\e989";
$icon-editor-instruction: "\e98a";
$icon-editor-launcher: "\e98b";
$icon-editor-page: "\e98d";
$icon-editor-panel: "\e98e";
$icon-editor-parallax: "\e98f";
$icon-editor-quiz-connector: "\e990";
$icon-editor-quote: "\e991";
$icon-editor-reinforcement-activity: "\e992";
$icon-editor-row: "\e993";
$icon-editor-screen: "\e994";
$icon-editor-separator: "\e995";
$icon-editor-table: "\e996";
$icon-editor-tabs: "\e997";
$icon-editor-tracking-summary: "\e998";
$icon-editor-video-online: "\e999";
$icon-editor-vimeo: "\e99a";
$icon-editor-youtube: "\e99b";
$icon-cross-circle-solid: "\e972";
$icon-arrow-right: "\e973";
$icon-warning-solid: "\e974";
$icon-plus-circle: "\e975";
$icon-menu: "\e976";
$icon-arrow-back: "\e923";
$icon-arrow-bottom: "\e924";
$icon-badge: "\e925";
$icon-badge-locked-path1: "\e926";
$icon-badge-locked-path2: "\e927";
$icon-block: "\e928";
$icon-calendar: "\e929";
$icon-channel: "\e92a";
$icon-chat-bubble: "\e92b";
$icon-check: "\e92c";
$icon-chest: "\e92d";
$icon-clear: "\e92e";
$icon-clock: "\e92f";
$icon-clock-loading: "\e930";
$icon-clock-loading-inverse: "\e931";
$icon-cloud: "\e932";
$icon-coin: "\e933";
$icon-collections: "\e934";
$icon-compose: "\e935";
$icon-drag-reorder: "\e936";
$icon-drop: "\e937";
$icon-duplicate: "\e938";
$icon-editor-activity: "\e939";
$icon-editor-audio: "\e93a";
$icon-editor-hotspot: "\e93b";
$icon-editor-image: "\e93c";
$icon-editor-link: "\e93d";
$icon-editor-presentation: "\e93e";
$icon-editor-quiz: "\e93f";
$icon-editor-text: "\e940";
$icon-editor-timeline: "\e941";
$icon-editor-video: "\e942";
$icon-envelope: "\e943";
$icon-export: "\e944";
$icon-eye: "\e945";
$icon-flag: "\e946";
$icon-folder: "\e947";
$icon-folder-closed: "\e948";
$icon-forbidden: "\e949";
$icon-fullscreen: "\e94a";
$icon-gamepad: "\e94b";
$icon-gift: "\e94c";
$icon-globe: "\e94d";
$icon-graduation-hat: "\e94e";
$icon-home: "\e94f";
$icon-less-circle: "\e950";
$icon-like: "\e951";
$icon-lock: "\e952";
$icon-logo-play: "\e953";
$icon-mission-block: "\e954";
$icon-mission-block-center: "\e955";
$icon-mission-block-left: "\e956";
$icon-mission-block-right: "\e957";
$icon-orderby: "\e958";
$icon-paperplane: "\e959";
$icon-publish: "\e95a";
$icon-rank: "\e95b";
$icon-refresh: "\e95c";
$icon-reply: "\e95d";
$icon-reports: "\e95e";
$icon-restore: "\e95f";
$icon-smile: "\e960";
$icon-sprint: "\e961";
$icon-star-solid: "\e962";
$icon-tags: "\e963";
$icon-thumb-activity: "\e964";
$icon-thumb-audio: "\e965";
$icon-thumb-link: "\e966";
$icon-thumb-presentation: "\e967";
$icon-thumb-quiz: "\e968";
$icon-thumb-timeline: "\e969";
$icon-thumb-video: "\e96a";
$icon-trophy: "\e96b";
$icon-unlock: "\e96c";
$icon-upload: "\e96d";
$icon-user: "\e96e";
$icon-user-bubble: "\e96f";
$icon-user-plus: "\e970";
$icon-warning: "\e971";
$icon-bell: "\e900";
$icon-caret-down: "\e901";
$icon-caret-left: "\e902";
$icon-caret-right: "\e903";
$icon-caret-up: "\e904";
$icon-chevron-down: "\e905";
$icon-chevron-left: "\e906";
$icon-chevron-right: "\e907";
$icon-chevron-up: "\e908";
$icon-cross: "\e909";
$icon-dashboard: "\e90a";
$icon-download: "\e90b";
$icon-file: "\e90c";
$icon-funnel-solid: "\e90d";
$icon-gear: "\e90e";
$icon-gear-solid: "\e90f";
$icon-grid: "\e910";
$icon-home-solid: "\e911";
$icon-image: "\e912";
$icon-info-circle: "\e913";
$icon-info-circle-solid: "\e914";
$icon-list: "\e915";
$icon-logo-cloud: "\e916";
$icon-logout: "\e917";
$icon-more-options: "\e918";
$icon-pencil: "\e919";
$icon-plus: "\e91a";
$icon-search: "\e91b";
$icon-share: "\e91c";
$icon-shopping-basket: "\e91d";
$icon-star: "\e91e";
$icon-trash: "\e91f";
$icon-user-edit: "\e920";
$icon-users: "\e921";
$icon-user-settings: "\e922";
