$icomoon-font-family: "netex" !default;
$icomoon-font-path: "/assets/fonts/icons" !default;

$icon-archive: "\e9d9";
$icon-recycle: "\e9d2";
$icon-file-zip: "\e9d3";
$icon-evaluation: "\e9d4";
$icon-editor-video-interactive: "\e9d5";
$icon-editor-linker-option: "\e9d6";
$icon-editor-copyright: "\e9d7";
$icon-editor-connector-video-interactive: "\e9d8";
$icon-form-input: "\e9cf";
$icon-editor-compose: "\e9d0";
$icon-construction-barrier: "\e9d1";
$icon-open-book: "\e9ce";
$icon-user-queue: "\e9cd";
$icon-send: "\e9cc";
$icon-user-group: "\e9c9";
$icon-speacker: "\e9ca";
$icon-folder-closed-solid: "\e9cb";
$icon-file-abc: "\e9c8";
$icon-video: "\e98c";
$icon-drag: "\e9af";
$icon-file-pdf: "\e9c7";
$icon-create: "\e988";
$icon-play: "\e9c6";
$icon-poweroff: "\e9c3";
$icon-save: "\e9c4";
$icon-thumb-levelup: "\e9c5";
$icon-editor-svg-animation: "\e9c2";
$icon-arrow-bottom-solid: "\e9ae";
$icon-arrow-top: "\e9ba";
$icon-arrow-top-solid: "\e9bb";
$icon-chat-bubble-solid: "\e9bc";
$icon-editor-linker-question: "\e9bd";
$icon-editor-pdf: "\e9be";
$icon-editor-widget: "\e9bf";
$icon-editor-widget-area: "\e9c0";
$icon-trash-solid: "\e9c1";
$icon-editor-end-drag-activity: "\e9ab";
$icon-editor-activity-statement: "\e9a7";
$icon-editor-area: "\e9a8";
$icon-editor-drag-activity: "\e9a9";
$icon-editor-dropdown-activity: "\e9aa";
$icon-editor-fill-gap-activity: "\e9ac";
$icon-editor-linker-activity: "\e9ad";
$icon-editor-matrix-multiple-activity: "\e9b0";
$icon-editor-matrix-single-activity: "\e9b1";
$icon-editor-multiple-choice-activity: "\e9b2";
$icon-editor-negative-feedback: "\e9b3";
$icon-editor-one-choice-activity: "\e9b4";
$icon-editor-positive-feedback: "\e9b5";
$icon-editor-screen-title: "\e9b6";
$icon-editor-taptap-activity: "\e9b7";
$icon-editor-true-false-activity: "\e9b8";
$icon-editor-unit-menu: "\e9b9";
$icon-user-circle: "\e99c";
$icon-user-card: "\e99d";
$icon-telephone: "\e99e";
$icon-logo-twitter: "\e99f";
$icon-logo-linkedin: "\e9a0";
$icon-euro: "\e9a1";
$icon-filter-circle: "\e9a2";
$icon-heart: "\e9a3";
$icon-light-bulb: "\e9a4";
$icon-location: "\e9a5";
$icon-logo-facebook: "\e9a6";
$icon-briefcase: "\e977";
$icon-check-circle-solid: "\e978";
$icon-editor-accordion: "\e979";
$icon-editor-before-after: "\e97a";
$icon-editor-block: "\e97b";
$icon-editor-carrousel: "\e97c";
$icon-editor-circle: "\e97d";
$icon-editor-clicksmap: "\e97e";
$icon-editor-column: "\e97f";
$icon-editor-educaplay: "\e980";
$icon-editor-external-animation: "\e981";
$icon-editor-footer-reference: "\e982";
$icon-editor-fullcontainer: "\e983";
$icon-editor-gallery: "\e984";
$icon-editor-glossary: "\e985";
$icon-editor-glossary-connector: "\e986";
$icon-editor-grid: "\e987";
$icon-editor-image-exchange: "\e989";
$icon-editor-instruction: "\e98a";
$icon-editor-launcher: "\e98b";
$icon-editor-page: "\e98d";
$icon-editor-panel: "\e98e";
$icon-editor-parallax: "\e98f";
$icon-editor-quiz-connector: "\e990";
$icon-editor-quote: "\e991";
$icon-editor-reinforcement-activity: "\e992";
$icon-editor-row: "\e993";
$icon-editor-screen: "\e994";
$icon-editor-separator: "\e995";
$icon-editor-table: "\e996";
$icon-editor-tabs: "\e997";
$icon-editor-tracking-summary: "\e998";
$icon-editor-video-online: "\e999";
$icon-editor-vimeo: "\e99a";
$icon-editor-youtube: "\e99b";
$icon-cross-circle-solid: "\e972";
$icon-arrow-right: "\e973";
$icon-warning-solid: "\e974";
$icon-plus-circle: "\e975";
$icon-menu: "\e976";
$icon-arrow-back: "\e923";
$icon-arrow-bottom: "\e924";
$icon-badge: "\e925";
$icon-badge-locked-path1: "\e926";
$icon-badge-locked-path2: "\e927";
$icon-block: "\e928";
$icon-calendar: "\e929";
$icon-channel: "\e92a";
$icon-chat-bubble: "\e92b";
$icon-check: "\e92c";
$icon-chest: "\e92d";
$icon-clear: "\e92e";
$icon-clock: "\e92f";
$icon-clock-loading: "\e930";
$icon-clock-loading-inverse: "\e931";
$icon-cloud: "\e932";
$icon-coin: "\e933";
$icon-collections: "\e934";
$icon-compose: "\e935";
$icon-drag-reorder: "\e936";
$icon-drop: "\e937";
$icon-duplicate: "\e938";
$icon-editor-activity: "\e939";
$icon-editor-audio: "\e93a";
$icon-editor-hotspot: "\e93b";
$icon-editor-image: "\e93c";
$icon-editor-link: "\e93d";
$icon-editor-presentation: "\e93e";
$icon-editor-quiz: "\e93f";
$icon-editor-text: "\e940";
$icon-editor-timeline: "\e941";
$icon-editor-video: "\e942";
$icon-envelope: "\e943";
$icon-export: "\e944";
$icon-eye: "\e945";
$icon-flag: "\e946";
$icon-folder: "\e947";
$icon-folder-closed: "\e948";
$icon-forbidden: "\e949";
$icon-fullscreen: "\e94a";
$icon-gamepad: "\e94b";
$icon-gift: "\e94c";
$icon-globe: "\e94d";
$icon-graduation-hat: "\e94e";
$icon-home: "\e94f";
$icon-less-circle: "\e950";
$icon-like: "\e951";
$icon-lock: "\e952";
$icon-logo-play: "\e953";
$icon-mission-block: "\e954";
$icon-mission-block-center: "\e955";
$icon-mission-block-left: "\e956";
$icon-mission-block-right: "\e957";
$icon-orderby: "\e958";
$icon-paperplane: "\e959";
$icon-publish: "\e95a";
$icon-rank: "\e95b";
$icon-refresh: "\e95c";
$icon-reply: "\e95d";
$icon-reports: "\e95e";
$icon-restore: "\e95f";
$icon-smile: "\e960";
$icon-sprint: "\e961";
$icon-star-solid: "\e962";
$icon-tags: "\e963";
$icon-thumb-activity: "\e964";
$icon-thumb-audio: "\e965";
$icon-thumb-link: "\e966";
$icon-thumb-presentation: "\e967";
$icon-thumb-quiz: "\e968";
$icon-thumb-timeline: "\e969";
$icon-thumb-video: "\e96a";
$icon-trophy: "\e96b";
$icon-unlock: "\e96c";
$icon-upload: "\e96d";
$icon-user: "\e96e";
$icon-user-bubble: "\e96f";
$icon-user-plus: "\e970";
$icon-warning: "\e971";
$icon-bell: "\e900";
$icon-caret-down: "\e901";
$icon-caret-left: "\e902";
$icon-caret-right: "\e903";
$icon-caret-up: "\e904";
$icon-chevron-down: "\e905";
$icon-chevron-left: "\e906";
$icon-chevron-right: "\e907";
$icon-chevron-up: "\e908";
$icon-cross: "\e909";
$icon-dashboard: "\e90a";
$icon-download: "\e90b";
$icon-file: "\e90c";
$icon-funnel-solid: "\e90d";
$icon-gear: "\e90e";
$icon-gear-solid: "\e90f";
$icon-grid: "\e910";
$icon-home-solid: "\e911";
$icon-image: "\e912";
$icon-info-circle: "\e913";
$icon-info-circle-solid: "\e914";
$icon-list: "\e915";
$icon-logo-cloud: "\e916";
$icon-logout: "\e917";
$icon-more-options: "\e918";
$icon-pencil: "\e919";
$icon-plus: "\e91a";
$icon-search: "\e91b";
$icon-share: "\e91c";
$icon-shopping-basket: "\e91d";
$icon-star: "\e91e";
$icon-trash: "\e91f";
$icon-user-edit: "\e920";
$icon-users: "\e921";
$icon-user-settings: "\e922";
