<div class="page-layout">
  <div class="page-container">
    <mat-grid-list #grid rowHeight="280px" gutterSize="0">

      <mat-grid-tile>
        <ntx-card3></ntx-card3>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card3></ntx-card3>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card3></ntx-card3>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card3></ntx-card3>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card3></ntx-card3>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card3></ntx-card3>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card3></ntx-card3>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card3></ntx-card3>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card3></ntx-card3>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card3></ntx-card3>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card3></ntx-card3>
      </mat-grid-tile>

    </mat-grid-list>

  </div>
</div>
