@import "././projects/netex/ux-components/src/styles/app/utils";

$block: "mat-basic-table";

.#{$block}{
  border-radius: 4px;
  box-shadow: $shadow;
  width: 100%;
  .#{$block}__header{
    background-color: $color-table-header-background;
    color: $color-table-header-text;
    font-family: LatoSemibold;
    font-size: $font-size-12;
    height: $tableHeaderHeight;
    text-transform: uppercase;
    th{
      border-bottom: none;
      color: $color-table-header-text;
      &:first-of-type{
        border-radius: 4px 0 0 0;
        padding-left: 60px;
      }
      &:last-of-type{
        border-radius: 0 4px 0 0;
        padding-right: 60px;
      }
    }
  }
  .#{$block}__row{
    height: $tableRowHeight;
    &:last-of-type{
      td{
        &.mat-cell{
          &:first-of-type{
            border-radius: 0 0 0 4px;
          }
          &:last-of-type{
            border-radius: 0 0 4px 0;
          }
        }
      }
    }
    td{
      &.mat-cell{
        border-bottom-color: $color-grey-200;
        color: $color-grey-700;
        &:first-of-type{
          padding-left: 60px;
        }
        &:last-of-type{
          padding-right: 60px;
        }
      }
    }
  }
}
