<div class="page-container__page">
  <ntx-card-simple 
    title="{{'Card simple' | uppercase }}"
    subtitle="{{ '<ntx-card-simple>' }}">
    <ntx-card-simple>Contenido</ntx-card-simple>
  </ntx-card-simple>
</div>
<div class="page-container__card">
  <ntx-card-simple 
    title="{{'Card simple con título y subtítulo' | uppercase }}"
    subtitle="{{ '<ntx-card-simple>' }}">
    <ntx-card-simple 
      title="Título"
      subtitle="Subtítulo">
    Contenido
  </ntx-card-simple>
  </ntx-card-simple>
</div>