<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple 
      title="{{'Stroked buttons' | uppercase }}"
      subtitle="{{ '<ntx-stroked-button>' }}">
        <ntx-stroked-button title="aceptar" color="#1AA9E2"></ntx-stroked-button>
        <ntx-stroked-button title="aceptar" color="#1AA9E2" disabled></ntx-stroked-button>
        <ntx-stroked-button title="aceptar" color="#9B2761"></ntx-stroked-button>
        <ntx-stroked-button title="aceptar" color="#9B2761" disabled></ntx-stroked-button>
        <ntx-stroked-button title="aceptar" color="#412890"></ntx-stroked-button>
        <ntx-stroked-button title="aceptar" color="#412890" disabled></ntx-stroked-button>
    </ntx-card-simple>

    <ntx-card-simple 
      title="{{'Icon stroked buttons' | uppercase }}"
      subtitle="{{ '<ntx-stroked-icon-button>' }}">
        <ntx-stroked-icon-button showIconLeft="true" icon="icon-pencil" title="edit" color="#199AA8"></ntx-stroked-icon-button>
        <ntx-stroked-icon-button showIconLeft="true" icon="icon-pencil" title="edit" color="#199AA8" disabled></ntx-stroked-icon-button>
        <ntx-stroked-icon-button showIconRight="true" icon="icon-download" title="download" color="#B182A6"></ntx-stroked-icon-button>
        <ntx-stroked-icon-button showIconRight="true" icon="icon-download" title="download" color="#B182A6" disabled></ntx-stroked-icon-button>
        <ntx-stroked-icon-button showIconRight="true" icon="icon-arrow-right" title="next" color="#5cce88"></ntx-stroked-icon-button>
        <ntx-stroked-icon-button showIconRight="true" icon="icon-arrow-right" title="next" color="#5cce88" disabled></ntx-stroked-icon-button>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Icon toggle buttons' | uppercase }}"
                      subtitle="{{ '<ntx-stroked-toggle-button>' }}">
      <ntx-stroked-toggle-button></ntx-stroked-toggle-button>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Text buttons' | uppercase }}"
                      subtitle="{{ '<ntx-text-button>' }}"
                      class="white-content">
      <ntx-text-button [color]="'primary'">Button</ntx-text-button>
      <ntx-text-button [color]="'primary'" [disabled]="'true'">Link</ntx-text-button>
      <ntx-text-button [color]="'accent'">Action</ntx-text-button>
      <ntx-text-button [color]="'accent'" [disabled]="'true'">Action</ntx-text-button>
      <ntx-text-button [color]="'white'">Action</ntx-text-button>
      <ntx-text-button [color]="'white'" [disabled]="'true'">Action</ntx-text-button>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Icon text buttons' | uppercase }}"
                      subtitle="{{ '<ntx-text-icon-button>' }}"
                      class="white-content">
        <ntx-text-icon-button [item] ="textIconButton"></ntx-text-icon-button>
    </ntx-card-simple>


    <ntx-card-simple *ngFor="let type of buttonTypes;"
                      title="{{type.label + ' buttons' | uppercase }}"
                      subtitle="{{ type.selector }}">
      <div *ngIf="type.label==='raised'">
          <ntx-raised-button [color]="'primary'">Button</ntx-raised-button>
          <ntx-raised-button [color]="'primary'" [disabled]="'true'">Link</ntx-raised-button>
          <ntx-raised-button [color]="'accent'">Action</ntx-raised-button>
          <ntx-raised-button [color]="'accent'" [disabled]="'true'">Action</ntx-raised-button>
      </div>
      <div *ngIf="type.label==='icon raised'">
        <ntx-raised-icon-button [item] ="raisedIconButton"></ntx-raised-icon-button>
      </div>
      <div *ngIf="type.label==='raised round'">
        <div class="utils--margin-bottom-24">
          <mat-slide-toggle [(ngModel)]="isLoading">{{isLoading?'Slide to hide loading state':'Slide to see loading state'}}</mat-slide-toggle>
        </div>
        <div class="utils--flex">
          <ntx-raised-round-button iconRight="icon-search" text="buscar" color="black" [loading]="isLoading" (clickButton)="onClickButton(btn1)"></ntx-raised-round-button>
          <div style="margin-left:16px;"></div>
          <ntx-raised-round-button iconLeft="icon-pencil" text="edit" color="primary" [loading]="isLoading" (clickButton)="onClickButton(btn2)"></ntx-raised-round-button>
          <div style="margin-left:16px;"></div>
          <ntx-raised-round-button text="button" color="primary" [loading]="isLoading" (clickButton)="onClickButton(btn3)"></ntx-raised-round-button>
          <div style="margin-left:16px;"></div>
          <ntx-raised-round-button icon="icon-pencil" color="primary" [loading]="isLoading" (clickButton)="onClickButton(btn4)"></ntx-raised-round-button>
          <div style="margin-left:16px;"></div>
          <ntx-raised-round-button text="link" color="primary" [disabled]="true" [loading]="isLoading" (clickButton)="onClickButton(btn5)"></ntx-raised-round-button>
          <div style="margin-left:16px;"></div>
          <ntx-raised-round-button iconRight="icon-plus" text="action" color="violet" [loading]="isLoading" (clickButton)="onClickButton(btn6)"></ntx-raised-round-button>
          <div style="margin-left:16px;"></div>
          <ntx-raised-round-button icon="icon-plus" color="violet" [loading]="isLoading" (clickButton)="onClickButton(btn7)"></ntx-raised-round-button>
          <div style="margin-left:16px;"></div>
          <ntx-raised-round-button icon="icon-send" text="action" color="green" [loading]="isLoading" (clickButton)="onClickButton(btn8)"></ntx-raised-round-button>
          <div style="margin-left:16px;"></div>
          <ntx-raised-round-button icon="icon-send" color="green" [loading]="isLoading" (clickButton)="onClickButton(btn9)"></ntx-raised-round-button>
          <div style="margin-left:16px;"></div>
          <ntx-raised-round-button  icon="icon-home" text="action" color="accent" [loading]="isLoading" (clickButton)="onClickButton(btn10)"></ntx-raised-round-button>
          <div style="margin-left:16px;"></div>
          <ntx-raised-round-button  icon="icon-home" color="accent" [loading]="isLoading" (clickButton)="onClickButton(btn11)"></ntx-raised-round-button>
          <div style="margin-left:16px;"></div>
          <ntx-raised-round-button  iconRight="icon-arrow-right" text="comenzar" color="white" [loading]="isLoading" (clickButton)="onClickButton(btn13)"></ntx-raised-round-button>
        </div>
      </div>
      <div *ngIf="type.label==='icon'">
          <ntx-icon-button text = "LearningCloud" iconName = "icon-logo-cloud" color="#F5AF2E" showBorder></ntx-icon-button>
          <ntx-icon-button text = "Twitter" iconName = "icon-logo-twitter" color="#00acee" ></ntx-icon-button>
          <ntx-icon-button text = "Recycling is cool" iconName = "icon-recycle" color="#33691E" showBorder></ntx-icon-button>
          <ntx-icon-button text = "Facebook" iconName = "icon-logo-facebook" color="#3b5998" ></ntx-icon-button>
          <ntx-icon-button text = "Export" iconName = "icon-export-solid" color="#666" showBorder></ntx-icon-button>
          <ntx-icon-button text = "Bookmark" iconName = "icon-bookmark-solid" showBorder></ntx-icon-button>
          <ntx-icon-button text = "Configuración" iconName = "icon-gear-solid" [disabled]="'true'"></ntx-icon-button>
          <ntx-icon-button text = "Corazón partío" iconName = "icon-heart-off" color="#FF91AF" showBorder></ntx-icon-button>

      </div>
      <div *ngIf="type.label==='fab'">
          <ntx-fab-button text = "Add" iconName = "icon-plus" [color]="'primary'"></ntx-fab-button>
          <ntx-fab-button text = "Like" iconName = "icon-heart" [color]="'primary'" [disabled]="'true'"></ntx-fab-button>
          <ntx-fab-button text = "Download" iconName = "icon-download" [color]="'accent'"></ntx-fab-button>
          <ntx-fab-button text = "Cloud" iconName = "icon-cloud" [color]="'accent'" [disabled]="'true'"></ntx-fab-button>
      </div>
      <div *ngIf="type.label==='mini fab'">
          <ntx-mini-fab-button text = "Add" iconName = "icon-plus" color="white" bgColor="#1aa9e2"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Add" iconName = "icon-plus" color="white" bgColor="#1aa9e2" disabled></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Like" iconName = "icon-heart" color="black"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Like" iconName = "icon-heart" color="black" disabled></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Download" iconName = "icon-download" color="white" bgColor="#D65292"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Download" iconName = "icon-download" color="white" bgColor="#D65292" disabled></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Search" iconName = "icon-search" color="white" bgColor="black"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Search" iconName = "icon-search" color="white" bgColor="black" disabled></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Like-off" iconName = "icon-heart-off" color="red"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Like-off" iconName = "icon-heart-off" color="red" disabled></ntx-mini-fab-button>
      </div>
      <div *ngIf="type.label==='rectangular'">
        <ntx-rectangular-button icon="icon-file" text="action"></ntx-rectangular-button>
      </div>
      <div *ngIf="type.label==='square'">
          <ntx-square-button text = "Add" iconName = "icon-plus-circle"></ntx-square-button>
          <ntx-square-button text = "Like" iconName = "icon-heart"></ntx-square-button>
      </div>
      <div *ngIf="type.label==='speed dial'">
        <ntx-fab-speed-dial-button [color]="'primary'"></ntx-fab-speed-dial-button>
      </div>
      <div *ngIf="type.label==='link'">
        <ntx-link-button iconLeft="icon-paperclip">action</ntx-link-button>
        <span class="utils--margin-left-24"></span>
        <ntx-link-button iconRight="icon-plus">action</ntx-link-button>
        <span class="utils--margin-left-24"></span>
        <ntx-link-button [rLink]="'path/to/route'">another action</ntx-link-button>
      </div>
    </ntx-card-simple>

  </div>
</div>
