<div class="mi-contenedor">

    <a mat-button
    color="accent"
    routerLink="/home">Volver al home</a>

    <h3 class="utils--margin-top-24">Botones de texto</h3>
    <ntx-text-button></ntx-text-button>

    <h3 class="utils--margin-top-60">Botones con fondo</h3>
    <ntx-raised-button></ntx-raised-button>

    <h3 class="utils--margin-top-60">Botones de icono</h3>
    <ntx-icon-button></ntx-icon-button>

    <h3 class="utils--margin-top-60">Botones redondos</h3>
    <ntx-fab-button></ntx-fab-button>

    <h3 class="utils--margin-top-60">Botones redondos mini</h3>
    <ntx-mini-fab-button></ntx-mini-fab-button>

  </div>
