@import "././projects/netex/ux-components/src/styles/app/utils";

.page-layout{
  background-color: $color-white;
  .page-container {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .mat-grid-tile{
    .mat-figure{
      align-items: flex-start;
      ntx-card21 {
        width: 100%;
      }
    }
  }
}
