<div class="page-layout">
  <div class="page-container">
    <p class="utils--title-medium utils--margin-top-16 utils--margin-bottom-16">Non selectable cards</p>
    <div>
      <ntx-card21 *ngFor="let item of card21Group_1; let i = index"
        [bar]="item.bar"
        [barColor]="item.barColor"
        [image]="item.image"
        [title]="item.title"
        [disabled]="item.disabled"></ntx-card21>
    </div>
    <p class="utils--title-medium utils--margin-top-16 utils--margin-bottom-16">Selectable cards (showing arrow below it on click)</p>
    <div>
      <ntx-card21 *ngFor="let item of card21Group_2; let i = index"
        [bar]="item.bar"
        [barColor]="item.barColor"
        [selected]="checkIfSelected(i)"
        [image]="item.image"
        [title]="item.title"
        [disabled]="item.disabled"
        (clickCard21Event)="handleCard21Click(i, item)"></ntx-card21>
    </div>
  </div>
</div>
