<div class="page-layout">
  <div class="page-container">
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
    <ntx-card7></ntx-card7>
  </div>
</div>
