<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple title="{{'Drag and drop' | uppercase }}"
                      subtitle="{{ '<ntx-drag-and-drop>' }}">
      <ntx-drag-and-drop></ntx-drag-and-drop>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Drag and drop added' | uppercase }}"
                      subtitle="{{ '<ntx-drag-and-drop-added>' }}">
      <ntx-drag-and-drop-added [filesAdded]="filesAdded"></ntx-drag-and-drop-added>
    </ntx-card-simple>

  </div>
</div>
