@import "utils.scss";

$block: "sidebar-container";

.#{$block}{
  .mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;
    mat-panel-title.sidebar-container__links{
      padding-left: 24px;
    }
    .mat-expansion-panel-header {
      height: 48px !important;
      padding: 0 24px 0 0;
      &:hover{
        background-color: $color-grey-100;
      }
      .#{$block}__links{
        &:hover{
          background-color: transparent;
        }
      }
    }
    .mat-expansion-panel-body {
      padding: 0;
      .mat-list-base{
        padding: 0;
        .#{$block}__links{
          &:hover{
            background-color: transparent;
          }
        }
      }
    }
    .sidebar-container__links {
      .mat-list-item-content {
        padding-left:24px;
      }
    }
  }
  &.mat-list-base{
    font-family: Lato;
    width: 320px;
    .#{$block}__title{
      color: $color-primary;
      font-family: LatoBold;
      font-size: $font-size-18;
      margin: 16px 24px;
    }
    .#{$block}__section-title{
      color: $color-grey-800;
      display: block;
      font-family: latoBold;
      font-size: $font-size-14;
      margin: 32px 24px 4px;
      text-transform: uppercase;
    }
    .#{$block}__links{
      color: $color-grey-700;
      font-size: $font-size-16;
      height: 48px;
      padding: 0 8px;
      width: auto;
      display: flex;
      align-items: center;
      &:hover{
        background-color: $color-grey-100;
      }
    }
  }
}
