@import "././projects/netex/ux-components/src/styles/app/utils";

$block: "panel-user-profile";

.#{$block}{
  position: relative;
  .#{$block}__toolbar{
    background-color: transparent;
    color: $color-white;
    font-family: Lato;
    font-size: $font-size-16;
    line-height: 1.19;
    height: $toolbarHeight;
    padding: 0 12px 0 4px;
    position: inherit;
    z-index: 999;
    .hack-autofocus-disable {
      position: absolute;
      height: 0;
    }
    .#{$block}__close {
      height: 48px;
      margin-right: $separation-16;
      width: 48px;
      &:hover {
          background-color: $icon-button-hover;
      }
    }
    .#{$block}__spacer{
      flex: 1 1 auto;
    }
  }
  .#{$block}__info{
    left: 50%;
    position: absolute;
    text-align: center;
    top: 56px;
    transform: translate(-50%,0);
    z-index: 999;
    .#{$block}__info--image{
      border: 2px solid $color-white;
      border-radius: 50%;
      height: 140px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 140px;
      img{
        height: 100%;
        z-index: 1;
      }
    }
    .#{$block}__info--text{
      color: $color-white;
      font-family: latoSemibold;
      font-size: $font-size-26;
      margin: 24px 0;
    }
    .#{$block}__info--details{
      display: flex;
      align-items: center;
      justify-content: center;
      .#{$block}__info--detail{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
        .mat-icon.icon-netex{
          color: $color-white;
          font-size: 36px;
        }
        .#{$block}__info--detail-image{
          border-radius: 50%;
          height: 32px;
          margin: 0 auto;
          overflow: hidden;
          position: relative;
          width: 32px;
          img{
            height: 100%;
          }
        }
        .#{$block}__info--detail-texts{
          margin-left: 12px;
          text-align: left;
          p{
            color: $color-white;
            font-family: lato;
            font-size: $font-size-12;
            margin: 0;
            white-space: nowrap;
            &:first-of-type{
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
  .#{$block}__mask{
    background-image: linear-gradient(to top,rgba(0,0,0,.7),rgba(0,0,0,.3));
    height: 356px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
  }
  .#{$block}__background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 356px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}


.dynamic-component__header-text {
  margin-left: 0px;
}
