<div class="page-layout page-layout-card15">

  <div class="page-container">
    <ntx-card-simple
      class="utils--margin-8"
      title="{{'CARD 15 (skeleton loader)'}}"
      subtitle="{{ '<ntx-card15 [user]=\'user\'>' }}">
        <ntx-card15 [user]="user4"></ntx-card15>
    </ntx-card-simple>
    <ntx-card-simple
      class="utils--margin-8"
      title="{{'CARD 15 (variant 01)'}}"
      subtitle="{{ '<ntx-card15 [user]=\'user\'>' }}">
        <ntx-card15 [user]="user1"></ntx-card15>
    </ntx-card-simple>
    <ntx-card-simple
      class="utils--margin-8"
      title="{{'CARD 15 (variant 02)'}}"
      subtitle="{{ '<ntx-card15 [badge]=\'badge\' [user]=\'user\'>' }}">
        <ntx-card15 [badge]="badge2" [user] ="user2"></ntx-card15>
    </ntx-card-simple>
    <ntx-card-simple
      class="utils--margin-8"
      title="{{'CARD 15 (variant 03)'}}"
      subtitle="{{ '<ntx-card15 [actions]=\'actions\' [badge]=\'badge\' [user]=\'user\'>' }}">
        <ntx-card15 [actions]="actions3" [badge]="badge3" [user] ="user3"></ntx-card15>
    </ntx-card-simple>
  </div>
</div>
