@import "././projects/netex/ux-components/src/stylesLC/app/utils";

.cdk-overlay-pane{
  .mat-snack-bar-container{
    &.ntx-snackbar-dark_panel--error{
      background-color: $color-error;
      border-radius: 0;
      box-shadow: none;
      color: $color-white;
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 320px;
      padding: 16px;
      .mat-simple-snackbar-action{
        color: $color-white;
      }
    }
  }
}
