<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple
      title="Iconos de la aplicación">
      <div class="icons-container">
        <div class="icon-container" *ngFor="let icon of icons">
          <mat-icon class="icon-netex {{icon.className}} icon-big utils--text-grey-600"></mat-icon>
          <label>{{icon.className}}</label>
        </div>
      </div>

      <div class="icons-container">
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-catalonia icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
          </mat-icon>
          <label>icon-flag-catalonia</label>
        </div>
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-china icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
            <span class="path6"></span>
          </mat-icon>
          <label>icon-flag-china</label>
        </div>
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-greece icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
            <span class="path6"></span>
            <span class="path7"></span>
          </mat-icon>
          <label>icon-flag-greece</label>
        </div>
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-portugal icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </mat-icon>
          <label>icon-flag-portugal</label>
        </div>
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-france icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </mat-icon>
          <label>icon-flag-france</label>
        </div>
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-galicia icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </mat-icon>
          <label>icon-flag-galicia</label>
        </div>
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-germany icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </mat-icon>
          <label>icon-flag-germany</label>
        </div>
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-hungary icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </mat-icon>
          <label>icon-flag-hungary</label>
        </div>
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-indonesia icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </mat-icon>
          <label>icon-flag-indonesia</label>
        </div>
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-italy icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </mat-icon>
          <label>icon-flag-italy</label>
        </div>
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-spain icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
          </mat-icon>
          <label>icon-flag-spain</label>
        </div>
        <div class="icon-container">
          <mat-icon class="icon-netex icon-flag-unitedkingdom icon-big utils--text-grey-600">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
            <span class="path6"></span>
            <span class="path7"></span>
          </mat-icon>
          <label>icon-flag-unitedkingdom</label>
        </div>
      </div>

    </ntx-card-simple>

  </div>
</div>
