<div class="page-layout">
  <div class="page-container">
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
    <ntx-card4></ntx-card4>
  </div>
</div>
