@mixin calc($prop, $val) {
  #{$prop}: calc(#{$val});
  #{$prop}: -moz-calc(#{$val});
  #{$prop}: -webkit-calc(#{$val});
  #{$prop}: -o-calc(#{$val});
}

@mixin calc_important($prop, $val) {
  #{$prop}: calc_important(#{$val} !important);
  #{$prop}: -moz-calc_important(#{$val} !important);
  #{$prop}: -webkit-calc_important(#{$val} !important);
  #{$prop}: -o-calc_important(#{$val} !important);
}

@mixin ellipsis($max-lines: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-lines: $max-lines;
}

@mixin ellipsis-multiline($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  /* autoprefixer: off */
}
