<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple title="{{'Input form' | uppercase }}"
                      subtitle="{{ '<ntx-form-input>' }}">
      <ntx-form-input></ntx-form-input>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Input form autocomplete' | uppercase }}"
                      subtitle="{{ '<ntx-form-input-autocomplete>' }}">
      <ntx-form-input-autocomplete></ntx-form-input-autocomplete>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Input form without label' | uppercase }}"
                      subtitle="{{ '<ntx-form-input-no-label>' }}">
      <ntx-form-input-no-label></ntx-form-input-no-label>
    </ntx-card-simple>
    
    <ntx-card-simple title="{{'Isolated input without label' | uppercase }}"
                      subtitle="{{ '<ntx-input-no-label>' }}">
      <div class="input-no-label__container">
        <ntx-input-no-label [placeholder]="'Add a text'"></ntx-input-no-label>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Input form' | uppercase }}"
                      subtitle="{{ '<ntx-form-input>' }}">
      <ntx-form-input-autocomplete></ntx-form-input-autocomplete>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Textarea' | uppercase }}"
                      subtitle="{{ '<ntx-form-textarea>' }}">
      <ntx-form-textarea></ntx-form-textarea>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Isolated textarea without label' | uppercase }}"
                      subtitle="{{ '<ntx-textarea-no-label>' }}">
      <div class="textarea-no-label__container">
        <ntx-textarea-no-label [placeholder]="'Add a description...'"></ntx-textarea-no-label>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Select' | uppercase }}"
                      subtitle="{{ '<ntx-form-select>' }}">
      <ntx-form-select></ntx-form-select>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Select without border' | uppercase }}"
                      subtitle="{{ '<ntx-form-select-no-border>' }}">
      <ntx-form-select-no-border></ntx-form-select-no-border>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Select button' | uppercase }}"
                      subtitle="{{ '<ntx-form-select-button>' }}">
      <ntx-form-select-button></ntx-form-select-button>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Select border button' | uppercase }}"
                      subtitle="{{ '<ntx-form-select-border-button>' }}"
                      class="white-content">
      <ntx-form-select-border-button></ntx-form-select-border-button>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Select border thin' | uppercase }}"
                      subtitle="{{ '<ntx-form-select-thin>' }}">
      <ntx-form-select-thin></ntx-form-select-thin>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Datepicker' | uppercase }}"
                      subtitle="{{ '<ntx-form-datepicker>' }}">
      <ntx-form-datepicker></ntx-form-datepicker>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Checkbox' | uppercase }}"
                      subtitle="{{ '<ntx-form-checkbox>' }}">
      <ntx-form-checkbox [color]="'primary'" [checked]="'true'"></ntx-form-checkbox>
      <ntx-form-checkbox [color]="'primary'" [disabled]="'true'"></ntx-form-checkbox>
      <ntx-form-checkbox [color]="'primary'" [checked]="'true'" [hidden]="'true'"></ntx-form-checkbox>
      <ntx-form-checkbox [color]="'primary'" [disabled]="'true'" [hidden]="'true'"></ntx-form-checkbox>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Checkbox redondo' | uppercase }}"
                      subtitle="{{ '<ntx-form-checkbox-circle>' }}">
      <ntx-form-checkbox-circle [color]="'primary'" [checked]="'true'"></ntx-form-checkbox-circle>
      <ntx-form-checkbox-circle [color]="'primary'" [disabled]="'true'"></ntx-form-checkbox-circle>
      <ntx-form-checkbox-circle [color]="'primary'" [checked]="'true'" [hidden]="'true'"></ntx-form-checkbox-circle>
      <ntx-form-checkbox-circle [color]="'primary'" [disabled]="'true'" [hidden]="'true'"></ntx-form-checkbox-circle>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Radio button' | uppercase }}"
                      subtitle="{{ '<ntx-form-radiobutton>' }}">
      <ntx-form-radiobutton [color]="'primary'"></ntx-form-radiobutton>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Slide toggle' | uppercase }}"
                      subtitle="{{ '<ntx-form-slidetoggle>' }}">
      <ntx-form-slidetoggle [color]="'primary'"></ntx-form-slidetoggle>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Slider' | uppercase }}"
                      subtitle="{{ '<ntx-form-slider>' }}">
      <ntx-form-slider></ntx-form-slider>
      <ntx-form-slider [disabled]="'true'"></ntx-form-slider>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Searchbox' | uppercase }}"
                      subtitle="{{ '<ntx-form-searchbox>' }}">
      <div class="ntxformsearchbox-container">
        <ntx-form-searchbox></ntx-form-searchbox>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Searchbox with background' | uppercase }}"
                      subtitle="{{ '<ntx-form-searchbox-background>' }}">
      <ntx-form-searchbox-background></ntx-form-searchbox-background>
    </ntx-card-simple>


  </div>
</div>
