<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple title="{{'Input form' | uppercase }}"
                      subtitle="{{ '<ntx-form-input>' }}">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-input></ntx-form-input>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Input form autocomplete' | uppercase }}"
                      subtitle="{{ '<ntx-form-input-autocomplete>' }}">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-input-autocomplete></ntx-form-input-autocomplete>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Input form without label' | uppercase }}"
                      subtitle="{{ '<ntx-form-input-no-label>' }}">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-input-no-label></ntx-form-input-no-label>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Isolated input without label' | uppercase }}"
                      subtitle="{{ '<ntx-input-no-label>' }}">
      <div class="input-no-label__container">
        <div style="width: 600px; margin: 0 auto;">
          <ntx-input-no-label [placeholder]="'Add a text'"></ntx-input-no-label>
        </div>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Input form' | uppercase }}"
                      subtitle="{{ '<ntx-form-input>' }}">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-input-autocomplete></ntx-form-input-autocomplete>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Textarea' | uppercase }}"
                      subtitle="{{ '<ntx-form-textarea>' }}">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-textarea></ntx-form-textarea>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Isolated textarea without label' | uppercase }}"
                      subtitle="{{ '<ntx-textarea-no-label>' }}">
      <div class="textarea-no-label__container">
        <ntx-textarea-no-label [placeholder]="'Add a description...'"></ntx-textarea-no-label>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Select' | uppercase }}"
                      subtitle="{{ '<ntx-form-select>' }}">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-select></ntx-form-select>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Select without border' | uppercase }}"
                      subtitle="{{ '<ntx-form-select-no-border>' }}">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-select-no-border></ntx-form-select-no-border>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Select button' | uppercase }}"
                      subtitle="{{ '<ntx-form-select-button>' }}">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-select-button></ntx-form-select-button>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Select border button' | uppercase }}"
                      subtitle="{{ '<ntx-form-select-border-button>' }}"
                      class="white-content">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-select-border-button></ntx-form-select-border-button>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Select border thin' | uppercase }}"
                      subtitle="{{ '<ntx-form-select-thin>' }}">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-select-thin></ntx-form-select-thin>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Select multiple ' | uppercase }}"
                      subtitle="{{ '<ntx-form-select-multiple>' }}">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-select-multiple label="Lorem ipsum dolor sic amet" [options]="selectOptions"></ntx-form-select-multiple>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Datepicker' | uppercase }}"
                      subtitle="{{ '<ntx-form-datepicker>' }}">
      <div style="width: 600px; margin: 0 auto;">
        <ntx-form-datepicker></ntx-form-datepicker>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Checkbox' | uppercase }}"
                      subtitle="{{ '<ntx-form-checkbox>' }}">
      <ntx-form-checkbox [color]="'primary'" [checked]="'true'" [label]="'I´m a checkbox'"></ntx-form-checkbox>
      <ntx-form-checkbox [color]="'primary'" [disabled]="'true'" [label]="'I´m a checkbox'"></ntx-form-checkbox>
      <ntx-form-checkbox [color]="'primary'" [checked]="'true'"></ntx-form-checkbox>
      <ntx-form-checkbox [color]="'primary'" [disabled]="'true'"></ntx-form-checkbox>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Checkbox redondo' | uppercase }}"
                      subtitle="{{ '<ntx-form-checkbox-circle>' }}">
      <ntx-form-checkbox-circle [color]="'primary'" [checked]="'true'" [label]="'I´m a checkbox'"></ntx-form-checkbox-circle>
      <ntx-form-checkbox-circle [color]="'primary'" [disabled]="'true'" [label]="'I´m a checkbox'"></ntx-form-checkbox-circle>
      <ntx-form-checkbox-circle [color]="'primary'" [checked]="'true'"></ntx-form-checkbox-circle>
      <ntx-form-checkbox-circle [color]="'primary'" [disabled]="'true'"></ntx-form-checkbox-circle>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Radio button' | uppercase }}"
                      subtitle="{{ '<ntx-form-radiobutton>' }}">
      <div class="utils--padding-left-8">
        <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 01</div>
        <ntx-form-radiobutton color="grey" radioGroupName="group_1" [data]="rbgData_1"></ntx-form-radiobutton>
        <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 02</div>
        <ntx-form-radiobutton color="orange" radioGroupName="group_2" [data]="rbgData_1"></ntx-form-radiobutton>
        <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 03</div>
        <ntx-form-radiobutton color="red" radioGroupName="group_3" [data]="rbgData_1"></ntx-form-radiobutton>
        <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 04</div>
        <ntx-form-radiobutton color="blue" radioGroupName="group_4" [data]="rbgData_1"></ntx-form-radiobutton>
        <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 05</div>
        <ntx-form-radiobutton color="lightblue" radioGroupName="group_5" [data]="rbgData_1"></ntx-form-radiobutton>
        <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 06</div>
        <ntx-form-radiobutton style="margin-left: 18px;" color="grey" labelPosition="before" radioGroupName="group_6" [data]="rbgData_1"></ntx-form-radiobutton>
        <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 07</div>
        <table class="radiobutton-example-table">
          <tr>
            <th>name</th>
            <th>present</th>
            <th>delay</th>
            <th>absence</th>
            <th>excused absence</th>
          </tr>
          <tr>
            <td>John Doe</td>
            <td><ntx-form-radiobutton color="blue" radioGroupName="group_7" [data]="rbgData_2"></ntx-form-radiobutton></td>
            <td><ntx-form-radiobutton color="lightblue" radioGroupName="group_7" [data]="rbgData_3"></ntx-form-radiobutton></td>
            <td><ntx-form-radiobutton color="red" radioGroupName="group_7" [data]="rbgData_4"></ntx-form-radiobutton></td>
            <td><ntx-form-radiobutton color="grey" radioGroupName="group_7" [data]="rbgData_5"></ntx-form-radiobutton></td>
          </tr>
          <tr>
            <td>Amanda Mattersoon</td>
            <td><ntx-form-radiobutton color="blue" radioGroupName="group_8" [data]="rbgData_7"></ntx-form-radiobutton></td>
            <td><ntx-form-radiobutton color="lightblue" radioGroupName="group_8" [data]="rbgData_3"></ntx-form-radiobutton></td>
            <td><ntx-form-radiobutton color="red" radioGroupName="group_8" [data]="rbgData_6"></ntx-form-radiobutton></td>
            <td><ntx-form-radiobutton color="grey" radioGroupName="group_8" [data]="rbgData_5"></ntx-form-radiobutton></td>
          </tr>
        </table>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Radio button dark' | uppercase }}"
                      subtitle="{{ '<ntx-form-radiobutton-dark>' }}"
                      class="black-bg">
      <div class="utils--basic-text utils--text-white utils--margin-bottom-16">example 08</div>
      <ntx-form-radiobutton-dark radioGroupName="radiobuttondark-1" [data]="radiobuttondark"></ntx-form-radiobutton-dark>

      <div class="utils--basic-text utils--text-white utils--margin-top-16 utils--margin-bottom-16">example 09</div>
      <ntx-form-radiobutton-dark radioGroupName="radiobuttondark-2" [data]="radiobuttondark2"></ntx-form-radiobutton-dark>
      <ntx-form-radiobutton-dark radioGroupName="radiobuttondark-2" [data]="radiobuttondark3">
        <div *ngFor="let item of card26">
          <ntx-card26
            [image]="item.image"
            [avatar]="item.avatar"
            [title]="item.title"
            [subtitle]="item.subtitle"
            [label]="item.label"
            [sizeCard]="item.sizeCard"
            [sizeText]="item.sizeText"
            [highlighted]="item.highlighted"
            [textUnlimited]="item.textUnlimited"></ntx-card26>
          </div>
      </ntx-form-radiobutton-dark>
      <ntx-form-radiobutton-dark radioGroupName="radiobuttondark-2" [data]="radiobuttondark3">
        <div style="max-width: 432px;" *ngFor="let item of card27">
          <ntx-card27
              [image]="item.image"
              [title]="item.title"
              [description]="item.description"
              [label]="item.label"
              [sizeCard]="item.sizeCard"
              [sizeText]="item.sizeText"
              [highlighted]="item.highlighted"
              [textUnlimited]="item.textUnlimited"></ntx-card27>
          </div>
      </ntx-form-radiobutton-dark>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Slide toggle' | uppercase }}"
                      subtitle="{{ '<ntx-form-slidetoggle>' }}">
      <div class="utils--flex-column">
        <ntx-form-slidetoggle [color]="'primary'"></ntx-form-slidetoggle>
        <ntx-form-slidetoggle [color]="'primary'" showText ="slide me!"></ntx-form-slidetoggle>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Slider' | uppercase }}"
                      subtitle="{{ '<ntx-form-slider>' }}">
      <ntx-form-slider></ntx-form-slider>
      <ntx-form-slider [disabled]="'true'"></ntx-form-slider>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Searchbox with filter panel' | uppercase }}"
                      subtitle="{{ '<ntx-searchbox-filter-panel>' }}">
      <ntx-searchbox-filter-panel></ntx-searchbox-filter-panel>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Searchbox' | uppercase }}"
                      subtitle="{{ '<ntx-form-searchbox>' }}">
      <div class="ntxformsearchbox-container">
        <ntx-form-searchbox></ntx-form-searchbox>
      </div>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Searchbox with background' | uppercase }}"
                      subtitle="{{ '<ntx-form-searchbox-background>' }}">
      <ntx-form-searchbox-background></ntx-form-searchbox-background>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Datepicker multiple with hours selector' | uppercase }}"
                      subtitle="{{ '<ntx-form-datepicker-range>' }}">
      <ntx-form-datepicker-range></ntx-form-datepicker-range>
    </ntx-card-simple>

  </div>
</div>
