<ntx-card-simple title="{{'Input form' | uppercase }}"
                  subtitle="{{ '<ntx-form-input>' }}">
  <ntx-form-input></ntx-form-input>
</ntx-card-simple>

<ntx-card-simple title="{{'Textarea' | uppercase }}"
                  subtitle="{{ '<ntx-form-textarea>' }}">
  <ntx-form-textarea></ntx-form-textarea>
</ntx-card-simple>

<ntx-card-simple title="{{'Datepicker' | uppercase }}"
                  subtitle="{{ '<ntx-form-datepicker>' }}">
  <ntx-form-datepicker></ntx-form-datepicker>
</ntx-card-simple>
