<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple title="Application panels with different widths" subtitle="Click on the button to open each panel">
      <div class="panels__container">
        <button mat-raised-button *ngFor="let width of panelWidths"
                color="primary"
                class="panels__button"
                (click) = "onButtonClick(width)">
            {{ width + '% panel' | uppercase }}
        </button>

        <button mat-raised-button
                color="primary"
                class="panels__button utils--uppercase"
                (click) = "onButtonClick2(width)">
          tabs panel
        </button>

      </div>
    </ntx-card-simple>
  </div>
</div>
