<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple class="whatsnew">

      <div class="whatsnew__header">
        <div class="whatsnew__header--texts">
          <h1 class="whatsnew__header--title">Release v4.X.X: ??? ...</h1>
          <p class="whatsnew__header--subtitle">?? Ene 2021</p>
        </div>
        <img class="whatsnew__header--image" src="assets/images/rocket-5.png" alt="rocket image">
      </div>

      <div class="whatsnew__content">
        <div class="whatsnew__announcement">
          <p class="whatsnew__announcement--text">What’s new section is our monthly update that highlights recent product improvements we’ve made so you can easily stay up to date on what’s new.</p>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">What’s new</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>New icons</h4>
          <p class="whatsnew__content-block--text utils--text-18">With this update we have a new batch of icons. For this, several css files have been touched, which you must update to see the icons correctly:</p>
          <ul class="whatsnew__content-block--points">
            <li>ux-components/src/styles/fonts/styles.scss</li>
            <li>ux-components/src/styles/fonts/variables.scss</li>
            <li>ux-components/src/assets/fonts/icons/netex.eot</li>
            <li>ux-components/src/assets/fonts/icons/netex.svg</li>
            <li>ux-components/src/assets/fonts/icons/netex.ttf</li>
            <li>ux-components/src/assets/fonts/icons/netex.woff</li>
          </ul>
          <div class="icons-container">
            <div class="icon-container">
              <mat-icon class="icon-netex icon-arrow-right-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-arrow-right-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-backpack icon-big utils--text-grey-600"></mat-icon>
              <label>icon-backpack</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-chat-bubble-question icon-big utils--text-grey-600"></mat-icon>
              <label>icon-chat-bubble-question</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-reply-all-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-reply-all-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-reply-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-reply-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-see-more-dots icon-big utils--text-grey-600"></mat-icon>
              <label>icon-see-more-dots</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-send-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-send-solid</label>
            </div>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Label round component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-label-round</span> component.</p>
          <div class="utils--flex">
            <ntx-label-round [labels]=labelRound></ntx-label-round>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>New avatar's menu component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-menu-avatar</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can files afected in this <a class="" mat-list-item routerLink="/menus/documentation" (click)="setPath('menus')">link</a></p>
          <div class="utils--flex">
            <ntx-menu-avatar [options]="menuAvatarOptions"></ntx-menu-avatar>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Rectangular button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-rectangular-button</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <div class="utils--flex">
            <ntx-rectangular-button icon="icon-file" text="action"></ntx-rectangular-button>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>New list6 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added a new list component, <span class="documentation-code">ntx-list6</span>.</p>
          <ntx-list6 [items]=list6></ntx-list6>
        </div>

        <div class="whatsnew__content-block">
          <h4>New list7 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added a new list component, <span class="documentation-code">ntx-list7</span>.</p>
          <ntx-list7 [items]=list7></ntx-list7>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">Bug fixing</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>User toolbar options component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-menu-toolbar-profile</span> component and there have been changes in the html, css and ts file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('menus')">link</a></p>
          <div style="display:flex">
            <ntx-menu-toolbar-profile [userImage]="menuToolbarProfile.userImage" [userName]="menuToolbarProfile.userName" [actions]="menuToolbarProfile.actions"></ntx-menu-toolbar-profile>
            <ntx-menu-toolbar-profile [showBadge]="true" [userImage]="menuToolbarProfile2.userImage" [userName]="menuToolbarProfile2.userName" [actions]="menuToolbarProfile2.actions"></ntx-menu-toolbar-profile>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Square button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-square-button</span> component and there have been changes in the html and ts file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-square-button text = "Add" iconName = "icon-plus-circle"></ntx-square-button>
          <ntx-square-button text = "Like" iconName = "icon-heart"></ntx-square-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Mini fab button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-mini-fab-button</span> component and there have been changes in the html and ts file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-mini-fab-button text = "Add" iconName = "icon-plus" [color]="'primary'"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Like" iconName = "icon-heart" [color]="'primary'" [disabled]="'true'"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Download" iconName = "icon-download" [color]="'accent'"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Cloud" iconName = "icon-cloud" [color]="'accent'" [disabled]="'true'"></ntx-mini-fab-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Fab button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-fab-button</span> component and there have been changes in the html and ts file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-fab-button text = "Add" iconName = "icon-plus" [color]="'primary'"></ntx-fab-button>
          <ntx-fab-button text = "Like" iconName = "icon-heart" [color]="'primary'" [disabled]="'true'"></ntx-fab-button>
          <ntx-fab-button text = "Download" iconName = "icon-download" [color]="'accent'"></ntx-fab-button>
          <ntx-fab-button text = "Cloud" iconName = "icon-cloud" [color]="'accent'" [disabled]="'true'"></ntx-fab-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Raised icon button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-raised-icon-button</span> component and there have been changes in the html, css and ts file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-raised-icon-button [item] ="raisedIconButton"></ntx-raised-icon-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Raised button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-raised-button</span> component and there have been changes in the html and css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-raised-button [color]="'primary'">Botón</ntx-raised-button>
          <ntx-raised-button [color]="'primary'" [disabled]="'true'">Link</ntx-raised-button>
          <ntx-raised-button [color]="'accent'">Acción</ntx-raised-button>
          <ntx-raised-button [color]="'accent'" [disabled]="'true'">Acción</ntx-raised-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Text button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-text-button</span> component and there have been changes in the html and css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-text-button [color]="'primary'">Botón</ntx-text-button>
          <ntx-text-button [color]="'primary'" [disabled]="'true'">Link</ntx-text-button>
          <ntx-text-button [color]="'accent'">Acción</ntx-text-button>
          <ntx-text-button [color]="'accent'" [disabled]="'true'">Acción</ntx-text-button>
          <ntx-text-button [color]="'white'">Acción</ntx-text-button>
          <ntx-text-button [color]="'white'" [disabled]="'true'">Acción</ntx-text-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Text icon button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-text-icon-button</span> component and there have been changes in the html, css and ts file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-text-icon-button [item] ="textIconButton"></ntx-text-icon-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Stroked icon button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-stroked-icon-button</span> component and there have been changes in the html, css and ts file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-stroked-icon-button [item] ="strokedIconButton"></ntx-stroked-icon-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Chip with categories component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-category-chip</span> component and there have been changes in html, css and ts files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/chips/documentation" (click)="setPath('chips')">link</a></p>
          <ntx-category-chip [chips] ="chips2" [color]="'color'" [disabled]="'disabled'"></ntx-category-chip>
        </div>

        <div class="whatsnew__content-block">
          <h4>Searchbox with filter panel component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-searchbox-filter-panel</span> component and there have been changes in html and ts files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/form-controls/documentation" (click)="setPath('form-controls')">link</a></p>
          <ntx-searchbox-filter-panel></ntx-searchbox-filter-panel>
        </div>

        <div class="whatsnew__content-block">
          <h4>Link button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-link-button</span> component and there have been changes in the css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-link-button iconLeft="icon-paperclip">action</ntx-link-button>
          <span class="utils--margin-left-24"></span>
          <ntx-link-button iconRight="icon-paperclip">action</ntx-link-button>
          <span class="utils--margin-left-24"></span>
          <ntx-link-button iconLeft="icon-funnel-solid">action</ntx-link-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Menu options simple component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-menu-options-simple</span> component and there have been changes in the css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/menus/documentation" (click)="setPath('menu')">link</a></p>
          <div style="display:flex">
            <ntx-menu-options-simple [icon]="menuOptionsSimple.icon" [actions]="menuOptionsSimple.actions"></ntx-menu-options-simple>
            <ntx-menu-options-simple [icon]="menuOptionsSimpleIcon.icon" [actions]="menuOptionsSimpleIcon.actions"></ntx-menu-options-simple>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Menu options component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-menu-options</span> component and there have been changes in the css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('menu')">link</a></p>
          <div style="display:flex">
            <ntx-menu-options [icon]="menuOptions.icon" [actions]="menuOptions.actions"></ntx-menu-options>
            <ntx-menu-options [icon]="menuOptionsAdvanced.icon" [actions]="menuOptionsAdvanced.actions"></ntx-menu-options>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Basic toolbar with search box component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-toolbar-searchbox</span> component and there have been changes in the css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/toolbars/documentation" (click)="setPath('toolbars')">link</a></p>
          <ntx-toolbar-searchbox label="Notificaciones" src="../../../assets/images/notifications.svg" [apps]="apps"></ntx-toolbar-searchbox>
        </div>

        <div class="whatsnew__content-block">
          <h4>Datepicker component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-form-datepicker</span> component and there have been changes in the css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/form-controls/documentation" (click)="setPath('form-controls')">link</a></p>
          <ntx-form-datepicker></ntx-form-datepicker>
        </div>

        <div class="whatsnew__content-block">
          <h4>Icon toggle buttons component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-stroked-toggle-button</span> component and there have been changes in the css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-stroked-toggle-button></ntx-stroked-toggle-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Basic chip with image component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-basic-image-chip</span> component and there have been changes in css and ts files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/chips/documentation" (click)="setPath('chips')">link</a></p>
          <ntx-basic-image-chip [chip] ="chip"></ntx-basic-image-chip>
        </div>

        <div class="whatsnew__content-block">
          <h4>Basic chip component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-basic-chip</span> component and there have been changes in html, ts and css files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/chips/documentation" (click)="setPath('chips')">link</a></p>
          <ntx-basic-chip [color]="'primary'"></ntx-basic-chip>
          <ntx-basic-chip [color]="'primary'" [disabled]="'true'"></ntx-basic-chip>
          <ntx-basic-chip [color]="'accent'"></ntx-basic-chip>
          <ntx-basic-chip [color]="'accent'"  [disabled]="'true'"></ntx-basic-chip>
        </div>

        <div class="whatsnew__content-block">
          <h4>Drag and drop added component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-drag-and-drop-added</span> component and there have been changes in html, ts and css files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/drag-and-drop/documentation" (click)="setPath('drag-and-drop')">link</a></p>
          <ntx-drag-and-drop-added [filesAdded]="filesAdded"></ntx-drag-and-drop-added>
        </div>

        <div class="whatsnew__content-block">
          <h4>Checkbox component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-form-checkbox</span> component and there have been changes in the css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/form-controls/documentation" (click)="setPath('form-controls')">link</a></p>
          <ntx-form-checkbox [color]="'primary'" [checked]="'true'"></ntx-form-checkbox>
          <ntx-form-checkbox [color]="'primary'" [disabled]="'true'"></ntx-form-checkbox>
          <ntx-form-checkbox [color]="'primary'" [checked]="'true'" [hidden]="'true'"></ntx-form-checkbox>
          <ntx-form-checkbox [color]="'primary'" [disabled]="'true'" [hidden]="'true'"></ntx-form-checkbox>
        </div>

        <div class="whatsnew__content-block">
          <h4>Radio button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-form-radiobutton</span> component and there have been changes in html, ts and css files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/form-controls/documentation" (click)="setPath('form-controls')">link</a></p>
          <div class="">
            <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 01</div>
            <ntx-form-radiobutton color="grey" radioGroupName="group_1" [data]="rbgData_1"></ntx-form-radiobutton>
            <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 02</div>
            <ntx-form-radiobutton color="orange" radioGroupName="group_2" [data]="rbgData_1"></ntx-form-radiobutton>
            <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 03</div>
            <ntx-form-radiobutton color="red" radioGroupName="group_3" [data]="rbgData_1"></ntx-form-radiobutton>
            <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 04</div>
            <ntx-form-radiobutton color="blue" radioGroupName="group_4" [data]="rbgData_1"></ntx-form-radiobutton>
            <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 05</div>
            <ntx-form-radiobutton color="lightblue" radioGroupName="group_5" [data]="rbgData_1"></ntx-form-radiobutton>
            <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 06</div>
            <ntx-form-radiobutton style="margin-left: 18px;" color="grey" labelPosition="before" radioGroupName="group_6" [data]="rbgData_1"></ntx-form-radiobutton>
            <div class="utils--basic-text utils--margin-bottom-16 utils--margin-top-16">example 07</div>
            <table class="radiobutton-example-table">
              <tr>
                <th>name</th>
                <th>present</th>
                <th>delay</th>
                <th>absence</th>
                <th>excused absence</th>
              </tr>
              <tr>
                <td>John Doe</td>
                <td><ntx-form-radiobutton color="blue" radioGroupName="group_7" [data]="rbgData_2"></ntx-form-radiobutton></td>
                <td><ntx-form-radiobutton color="lightblue" radioGroupName="group_7" [data]="rbgData_3"></ntx-form-radiobutton></td>
                <td><ntx-form-radiobutton color="red" radioGroupName="group_7" [data]="rbgData_4"></ntx-form-radiobutton></td>
                <td><ntx-form-radiobutton color="grey" radioGroupName="group_7" [data]="rbgData_5"></ntx-form-radiobutton></td>
              </tr>
              <tr>
                <td>Amanda Mattersoon</td>
                <td><ntx-form-radiobutton color="blue" radioGroupName="group_8" [data]="rbgData_7"></ntx-form-radiobutton></td>
                <td><ntx-form-radiobutton color="lightblue" radioGroupName="group_8" [data]="rbgData_3"></ntx-form-radiobutton></td>
                <td><ntx-form-radiobutton color="red" radioGroupName="group_8" [data]="rbgData_6"></ntx-form-radiobutton></td>
                <td><ntx-form-radiobutton color="grey" radioGroupName="group_8" [data]="rbgData_5"></ntx-form-radiobutton></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Raised round button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-raised-round-button</span> component and there have been changes in html, ts and css files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <div class="utils--flex">
            <ntx-raised-round-button icon="icon-pencil" text="action" color="primary"></ntx-raised-round-button>
            <div class="utils--margin-left-12"></div>
            <ntx-raised-round-button text="action" color="primary"></ntx-raised-round-button>
            <div class="utils--margin-left-12"></div>
            <ntx-raised-round-button icon="icon-pencil" color="primary"></ntx-raised-round-button>
            <div class="utils--margin-left-12"></div>
            <ntx-raised-round-button text="action" color="primary" disabled="true"></ntx-raised-round-button>
            <div class="utils--margin-left-12"></div>
            <ntx-raised-round-button icon="icon-plus" text="action" color="violet"></ntx-raised-round-button>
            <div class="utils--margin-left-12"></div>
            <ntx-raised-round-button icon="icon-send" text="action" color="green"></ntx-raised-round-button>
            <div class="utils--margin-left-12"></div>
            <ntx-raised-round-button icon="icon-home" text="action" color="accent"></ntx-raised-round-button>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Icon button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-icon-button</span> component and there have been changes in html, ts and css files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-icon-button text = "Let's talk" iconName = "icon-chat-bubble" [color]="'primary'"></ntx-icon-button>
          <ntx-icon-button text = "Link" iconName = "icon-editor-linker-option" [color]="'primary'" [disabled]="'true'"></ntx-icon-button>
          <ntx-icon-button text = "Download" iconName = "icon-download" [color]="'accent'"></ntx-icon-button>
          <ntx-icon-button text = "Cloud" iconName = "icon-cloud" [color]="'accent'" [disabled]="'true'"></ntx-icon-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Label component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-label</span> component and there have been changes in html, ts and css files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/labels/documentation" (click)="setPath('labels')">link</a></p>
          <ntx-label text="justificada"></ntx-label>
          <ntx-label text="bloqueado" color="black"></ntx-label>
          <ntx-label text="inactivo" color="orange"></ntx-label>
          <ntx-label text="ausente" color="red"></ntx-label>
          <ntx-label text="presente" color="blue"></ntx-label>
          <ntx-label text="retraso" color="lightblue"></ntx-label>
        </div>

        <div class="whatsnew__content-block">
          <h4>Card3</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-card3</span> component and there have been changes in html, css and ts files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/card3/documentation" (click)="setPath('cards')">link</a></p>
          <div style="display: flex;justify-content: space-between;">
            <div style="width:45%">
              <ntx-card3
                [title]="'Evaluation A'"
                subtitle="20/12/2020"
                subtitle2="9/12 Users"
                badgeColor="orange"
                subtitle3Color="#f05060"></ntx-card3>
            </div>
            <div style="width:45%">
              <ntx-card3
                [title]="'Evaluation name that could be longer than just one line and will be shown with three dots'"
                subtitle="28/12/2020"
                subtitle2="10/22 Users"
                subtitle3="open"
                subtitle3Color="#5cce88"
                badgeColor="orange"
                showOptions
                image="assets/images/bg-01.png"></ntx-card3>
            </div>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Basic table component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-basic-table</span> component and there have been changes in html and css files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/table/documentation" (click)="setPath('table')">link</a></p>
          <ntx-basic-table [tableData]="tableData"></ntx-basic-table>
        </div>

        <div class="whatsnew__content-block">
          <h4>Selectable table component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-selectable-table</span> component and there have been changes in html, css and ts files. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/table-selectable/documentation" (click)="setPath('table-selectable')">link</a></p>
          <ntx-selectable-table></ntx-selectable-table>
        </div>

        <div class="whatsnew__content-block">
          <h4>Dialogs</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, bugs have been fixed in the <span class="documentation-code">ntx-simple-dialog</span> and <span class="documentation-code">ntx-proccess-dialog</span> component and css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/dialogs/documentation" (click)="setPath('dialogs')">link</a></p>
        </div>

      </div>

    </ntx-card-simple>
  </div>
</div>
