$ntx-black: (
  50 : #f9f9f9,
  100 : #eee,
  200 : #e2e2e2,
  300 : #ccc,
  400 : #bdbdbd,
  500 : #999,
  600 : #666,
  700 : #333,
  800 : #1a1a1a,
  900 : #000,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : $black-87-opacity,
      100 : $black-87-opacity,
      200 : $black-87-opacity,
      300 : $black-87-opacity,
      400 : $black-87-opacity,
      500 : white,
      600 : white,
      700 : white,
      800 : $white-87-opacity,
      900 : $white-87-opacity,
      A100 : $black-87-opacity,
      A200 : white,
      A400 : white,
      A700 : white,
  )
);

$ntx-blue: (
  50 : #e4f5fc,
  100 : #bae5f6,
  200 : #8dd4f1,
  300 : #5fc3eb,
  400 : #3cb6e6,
  500 : #1aa9e2,
  600 : #17a2df,
  700 : #1398da,
  800 : #0f8fd6,
  900 : #087ecf,
  A100 : #f8fcff,
  A200 : #c5e5ff,
  A400 : #92cfff,
  A700 : #79c3ff,
  contrast: (
      50 : $black-87-opacity,
      100 : $black-87-opacity,
      200 : $black-87-opacity,
      300 : $black-87-opacity,
      400 : $black-87-opacity,
      500 : white,
      600 : white,
      700 : white,
      800 : $white-87-opacity,
      900 : $white-87-opacity,
      A100 : $black-87-opacity,
      A200 : white,
      A400 : white,
      A700 : white,
  )
);

$ntx-magenta: (
  50 : #eeb9d3,
  100 : #eaa4c6,
  200 : #e590b9,
  300 : #e07bac,
  400 : #db679f,
  500 : #d65292,
  600 : #d13d85,
  700 : #c62f78,
  800 : #b12a6c,
  900 : #9d255f,
  A100 : #f3cee0,
  A200 : #f8e2ed,
  A400 : #fdf7fa,
  A700 : #882053,
  contrast: (
    50 : $black-87-opacity,
    100 : $black-87-opacity,
    200 : $black-87-opacity,
    300 : $black-87-opacity,
    400 : $black-87-opacity,
    500 : white,
    600 : white,
    700 : white,
    800 : $white-87-opacity,
    900 : $white-87-opacity,
    A100 : $black-87-opacity,
    A200 : white,
    A400 : white,
    A700 : white,
)
);

$ntx-yellow: (
  50 : #fef8e3,
  100 : #fdebb7,
  200 : #fcde8a,
  300 : #fbd35d,
  400 : #fac841,
  500 : #f9bf34,
  600 : #f8b22f,
  700 : #f6a02c,
  800 : #f59029,
  900 : #f27425,
  A100 : white,
  A200 : white,
  A400 : white,
  A700 : white,
  contrast: (
    50 : $black-87-opacity,
    100 : $black-87-opacity,
    200 : $black-87-opacity,
    300 : $black-87-opacity,
    400 : $black-87-opacity,
    500 : white,
    600 : white,
    700 : white,
    800 : $white-87-opacity,
    900 : $white-87-opacity,
    A100 : $black-87-opacity,
    A200 : white,
    A400 : white,
    A700 : white,
)
);
