@import "variables";
@import "colors";
@import "mixings";

/*Textos*/
h1{
  color: $color-white;
  font-family: RobotoBold;
  font-size: $font-size-64;
  line-height: 76px;
  margin: 0;
}
h2{
  color: $color-white;
  font-family: RobotoBold;
  font-size: $font-size-48;
  line-height: 58px;
  margin: 0;
}
h3{
  color: $color-white;
  font-family: RobotoBold;
  font-size: $font-size-36;
  line-height: 48px;
  margin: 0;
}
h4{
  color: $color-white;
  font-family: RobotoRegular;
  font-size: $font-size-28;
  line-height: 38px;
  margin: 0;
}
h5{
  color: $color-white;
  font-family: RobotoBold;
  font-size: $font-size-20;
  font-weight: normal;
  line-height: 28px;
  margin: 0;
  text-transform: none;
}
h5.regular{
  font-family: RobotoRegular;
}
h1.mobile{
  color: $color-white;
  font-family: RobotoBold;
  font-size: $font-size-28;
  line-height: 36px;
  margin: 0;
}
h2.mobile{
  color: $color-white;
  font-family: RobotoBold;
  font-size: $font-size-22;
  line-height: 30px;
  margin: 0;
}
h3.mobile{
  color: $color-white;
  font-family: RobotoBold;
  font-size: $font-size-20;
  line-height: 29px;
  margin: 0;
}
h4.mobile{
  color: $color-white;
  font-family: RobotoRegular;
  font-size: $font-size-18;
  line-height: 24px;
  margin: 0;
}
h5.mobile{
  color: $color-white;
  font-family: RobotoBold;
  font-size: $font-size-16;
  line-height: 20px;
  margin: 0;
}
h5.mobile.regular{
  color: $color-white;
  font-family: RobotoRegular;
  font-size: $font-size-16;
  line-height: 20px;
  margin: 0;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  &--outlined {
    border: 2px solid #DDD;
  }
}

$block: "utils";

.#{$block} {
  //Textos
  &--bodyBold{
    color: $color-white;
    font-family: RobotoBold;
    font-size: $font-size-16;
    line-height: 24px;
    margin: 0;
  }
  &--body{
    color: $color-white;
    font-family: RobotoRegular;
    font-size: $font-size-16;
    line-height: 24px;
    margin: 0;
  }
  &--menuItem{
    color: $color-white;
    font-family: RobotoRegular;
    font-size: $font-size-36;
    line-height: normal;
    margin: 0;
    text-transform: uppercase;
  }
  &--menuSubItem{
    color: $color-white;
    font-family: RobotoMedium;
    font-size: $font-size-16;
    line-height: normal;
    margin: 0;
    text-transform: uppercase;
  }
  &--tabsMetaChips{
    color: $color-white;
    font-family: RobotoRegular;
    font-size: $font-size-12;
    line-height: normal;
    margin: 0;
    text-transform: uppercase;
  }
  &--truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
  }
	&--truncate1 {
    display: -webkit-box;
    // max-width: max-content;
    overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 1;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
  }
  &--truncate2 {
    display: -webkit-box;
    max-width: max-content;
		overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
  }
  &--truncate3 {
    display: -webkit-box;
    max-width: max-content;
		overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 3;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
  }
  &--vertical-align {
    left: 50%;
    margin-right: -50% !important;
    padding: 0 !important;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  &--horizontal-align {
    left: 50%;
    margin-right: -50% !important;
    padding: 0;
    position: absolute;
    transform: translate(-50%, 0%);
  }
  &--align-center-text {
    text-align: center;
  }
  &--centered {
    @include centerer;
  }
  &--lineclamp-1 {
    @include ellipsis(1);
  }
  &--lineclamp-2 {
    @include ellipsis-multiline(2);
  }
  &--img-cover {
    @include img-cover();
  }

  //Display
  &--flex-center {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
  }
  &--flex {
    display: flex !important;
  }
  &--flex-between {
    align-items: center;
    display: flex !important;
    justify-content: space-between;
  }
  &--flex-column {
    display: flex !important;
    flex-direction: column;
  }

  //Colores de fondo - Escala de grises
  &--bc-black {
    background-color: $color-black !important;
  }
  &--bc-black-03 {
    background-color: $color-black-03 !important;
  }
  &--bc-black-01 {
    background-color: $color-black-01 !important;
  }
  &--bc-grey-700 {
    background-color: $color-grey-700 !important;
  }
  &--bc-grey-600 {
    background-color: $color-grey-600 !important;
  }
  &--bc-grey-500 {
    background-color: $color-grey-500 !important;
  }
  &--bc-grey-400 {
    background-color: $color-grey-400 !important;
  }
  &--bc-grey-300 {
    background-color: $color-grey-300 !important;
  }
  &--bc-grey-200 {
    background-color: $color-grey-200 !important;
  }
  &--bc-grey-100 {
    background-color: $color-grey-100 !important;
  }
  &--bc-white {
    background-color: $color-white !important;
  }
  &--bc-white-03 {
    background-color: $color-white-03 !important;
  }
  &--bc-white-01 {
    background-color: $color-white-01 !important;
  }

  //Colores de fondo - Colores estados
  &--bc-success {
    background-color: $color-success !important;
  }
  &--bc-error {
    background-color: $color-error !important;
  }

  //Márgenes
  &--margin-0 {
		margin: $separation-0 !important;
  }
	&--margin-top-0 {
		margin-top: $separation-0 !important;
	}
	&--margin-top-8 {
		margin-top: $separation-8 !important;
	}
	&--margin-top-16 {
		margin-top: $separation-16 !important;
	}
	&--margin-top-24 {
		margin-top: $separation-24 !important;
  }
  &--margin-top-32 {
		margin-top: $separation-32 !important;
  }
  &--margin-top-40 {
		margin-top: $separation-40 !important;
  }
  &--margin-top-48 {
		margin-top: $separation-48 !important;
  }
  &--margin-top-56 {
		margin-top: $separation-56 !important;
  }
	&--margin-top-64 {
		margin-top: $separation-64 !important;
  }
  &--margin-top-72 {
		margin-top: $separation-72 !important;
  }
  &--margin-top-80 {
		margin-top: $separation-80 !important;
  }
  &--margin-top-88 {
		margin-top: $separation-88 !important;
  }
  &--margin-top-128 {
		margin-top: $separation-128 !important;
	}
  &--margin-top-160 {
		margin-top: $separation-160 !important;
	}
  &--margin-top-200 {
		margin-top: $separation-200 !important;
	}
	&--margin-right-auto {
		margin-right: auto !important;
	}
	&--margin-right-0 {
		margin-right: $separation-0 !important;
	}
	&--margin-right-8 {
		margin-right: $separation-8 !important;
	}
	&--margin-right-16 {
		margin-right: $separation-16 !important;
	}
	&--margin-right-24 {
		margin-right: $separation-24 !important;
  }
  &--margin-right-32 {
		margin-right: $separation-32 !important;
  }
  &--margin-right-40 {
		margin-right: $separation-40 !important;
  }
  &--margin-right-48 {
		margin-right: $separation-48 !important;
  }
  &--margin-right-56 {
		margin-right: $separation-56 !important;
  }
  &--margin-right-64 {
		margin-right: $separation-64 !important;
  }
  &--margin-right-72 {
		margin-right: $separation-72 !important;
  }
  &--margin-right-80 {
		margin-right: $separation-80 !important;
  }
  &--margin-right-88 {
		margin-right: $separation-88 !important;
  }
  &--margin-right-128 {
		margin-right: $separation-128 !important;
  }
  &--margin-right-160 {
		margin-right: $separation-160 !important;
  }
  &--margin-right-200 {
		margin-right: $separation-200 !important;
  }
	&--margin-bottom-0 {
		margin-bottom: $separation-0 !important;
	}
	&--margin-bottom-8 {
		margin-bottom: $separation-8 !important;
	}
	&--margin-bottom-16 {
		margin-bottom: $separation-16 !important;
	}
	&--margin-bottom-24 {
		margin-bottom: $separation-24 !important;
  }
  &--margin-bottom-32 {
		margin-bottom: $separation-32 !important;
  }
  &--margin-bottom-40 {
		margin-bottom: $separation-40 !important;
  }
  &--margin-bottom-48 {
		margin-bottom: $separation-48 !important;
  }
  &--margin-bottom-56 {
		margin-bottom: $separation-56 !important;
  }
  &--margin-bottom-64 {
		margin-bottom: $separation-64 !important;
  }
  &--margin-bottom-72 {
		margin-bottom: $separation-72 !important;
  }
  &--margin-bottom-80 {
		margin-bottom: $separation-80 !important;
  }
  &--margin-bottom-88 {
		margin-bottom: $separation-88 !important;
  }
  &--margin-bottom-128 {
		margin-bottom: $separation-128 !important;
  }
  &--margin-bottom-160 {
		margin-bottom: $separation-160 !important;
  }
  &--margin-bottom-200 {
		margin-bottom: $separation-200 !important;
  }
	&--margin-left-0 {
		margin-left: $separation-0 !important;
	}
	&--margin-left-auto {
		margin-left: auto !important;
	}
	&--margin-left-8 {
		margin-left: $separation-8 !important;
	}
	&--margin-left-16 {
		margin-left: $separation-16 !important;
	}
	&--margin-left-24 {
		margin-left: $separation-24 !important;
  }
  &--margin-left-32 {
		margin-left: $separation-32 !important;
  }
  &--margin-left-40 {
		margin-left: $separation-40 !important;
  }
  &--margin-left-48 {
		margin-left: $separation-48 !important;
  }
  &--margin-left-56 {
		margin-left: $separation-56 !important;
  }
  &--margin-left-64 {
		margin-left: $separation-64 !important;
  }
  &--margin-left-72 {
		margin-left: $separation-72 !important;
  }
  &--margin-left-80 {
		margin-left: $separation-80 !important;
  }
  &--margin-left-88 {
		margin-left: $separation-88 !important;
  }
  &--margin-left-128 {
		margin-left: $separation-128 !important;
	}
  &--margin-left-160 {
		margin-left: $separation-160 !important;
	}
  &--margin-left-200 {
		margin-left: $separation-200 !important;
	}

  //Paddings
  &--padding-0 {
		padding: $separation-0 !important;
  }
	&--padding-top-0 {
		padding-top: $separation-0 !important;
	}
	&--padding-top-8 {
		padding-top: $separation-8 !important;
	}
	&--padding-top-16 {
		padding-top: $separation-16 !important;
	}
	&--padding-top-24 {
		padding-top: $separation-24 !important;
  }
  &--padding-top-32 {
		padding-top: $separation-32 !important;
  }
  &--padding-top-40 {
		padding-top: $separation-40 !important;
  }
  &--padding-top-48 {
		padding-top: $separation-48 !important;
  }
  &--padding-top-56 {
		padding-top: $separation-56 !important;
  }
  &--padding-top-64 {
		padding-top: $separation-64 !important;
  }
  &--padding-top-72 {
		padding-top: $separation-72 !important;
  }
  &--padding-top-80 {
		padding-top: $separation-80 !important;
  }
  &--padding-top-88 {
		padding-top: $separation-88 !important;
  }
  &--padding-top-128 {
		padding-top: $separation-128 !important;
  }
  &--padding-top-160 {
		padding-top: $separation-160 !important;
  }
  &--padding-top-200 {
		padding-top: $separation-200 !important;
  }
	&--padding-right-0 {
		padding-right: $separation-0 !important;
	}
	&--padding-right-8 {
		padding-right: $separation-8 !important;
	}
	&--padding-right-16 {
		padding-right: $separation-16 !important;
	}
	&--padding-right-24 {
		padding-right: $separation-24 !important;
  }
  &--padding-right-32 {
		padding-right: $separation-32 !important;
  }
  &--padding-right-40 {
		padding-right: $separation-40 !important;
  }
  &--padding-right-48 {
		padding-right: $separation-48 !important;
  }
  &--padding-right-56 {
		padding-right: $separation-56 !important;
  }
  &--padding-right-64 {
		padding-right: $separation-64 !important;
  }
  &--padding-right-72 {
		padding-right: $separation-72 !important;
  }
  &--padding-right-80 {
		padding-right: $separation-80 !important;
  }
  &--padding-right-88 {
		padding-right: $separation-88 !important;
  }
  &--padding-right-128 {
		padding-right: $separation-128 !important;
  }
  &--padding-right-160 {
		padding-right: $separation-160 !important;
  }
  &--padding-right-200 {
		padding-right: $separation-200 !important;
  }
	&--padding-bottom-0 {
		padding-bottom: $separation-0 !important;
	}
	&--padding-bottom-8 {
		padding-bottom: $separation-8 !important;
	}
	&--padding-bottom-16 {
		padding-bottom: $separation-16 !important;
	}
	&--padding-bottom-24 {
		padding-bottom: $separation-24 !important;
  }
  &--padding-bottom-32 {
		padding-bottom: $separation-32 !important;
  }
  &--padding-bottom-40 {
		padding-bottom: $separation-40 !important;
  }
  &--padding-bottom-48 {
		padding-bottom: $separation-48 !important;
  }
  &--padding-bottom-56 {
		padding-bottom: $separation-56 !important;
  }
  &--padding-bottom-64 {
		padding-bottom: $separation-64 !important;
  }
  &--padding-bottom-72 {
		padding-bottom: $separation-72 !important;
  }
  &--padding-bottom-80 {
		padding-bottom: $separation-80 !important;
  }
  &--padding-bottom-88 {
		padding-bottom: $separation-88 !important;
  }
  &--padding-bottom-128 {
		padding-bottom: $separation-128 !important;
  }
  &--padding-bottom-160 {
		padding-bottom: $separation-160 !important;
  }
  &--padding-bottom-200 {
		padding-bottom: $separation-200 !important;
  }
	&--padding-left-0 {
		padding-left: $separation-0 !important;
	}
	&--padding-left-8 {
		padding-left: $separation-8 !important;
	}
	&--padding-left-16 {
		padding-left: $separation-16 !important;
	}
	&--padding-left-24 {
		padding-left: $separation-24 !important;
  }
  &--padding-left-32 {
		padding-left: $separation-32 !important;
  }
  &--padding-left-40 {
		padding-left: $separation-40 !important;
  }
  &--padding-left-48 {
		padding-left: $separation-48 !important;
  }
  &--padding-left-56 {
		padding-left: $separation-56 !important;
  }
  &--padding-left-64 {
		padding-left: $separation-64 !important;
  }
  &--padding-left-72 {
		padding-left: $separation-72 !important;
  }
  &--padding-left-80 {
		padding-left: $separation-80 !important;
  }
  &--padding-left-88 {
		padding-left: $separation-88 !important;
  }
  &--padding-left-128 {
		padding-left: $separation-128 !important;
  }
  &--padding-left-160 {
		padding-left: $separation-160 !important;
  }
  &--padding-left-200 {
		padding-left: $separation-200 !important;
  }
}

.loader {
  border: 2px solid $color-white;
  border-top: 2px solid $color-grey-700;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
