<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple>
      <h1>This is an h1</h1>
      <code class="text-code utils--margin-bottom-32">{{"h1 {color:#333; font-family:latoLight; font-size:42px; line-height:52px}"}}</code>

      <h2>This is an h2</h2>
      <code class="text-code utils--margin-bottom-32">{{"h2 {color:#333; font-family:latoLight; font-size:36px; line-height:44px}"}}</code>

      <h3>This is an h3</h3>
      <code class="text-code utils--margin-bottom-32">{{"h3 {color:#333; font-family:lato; font-size:28px; line-height:36px}"}}</code>

      <h4>This is an h4</h4>
      <code class="text-code utils--margin-bottom-32">{{"h4 {color:#333; font-family:latoBold; font-size:24px; line-height:30px}"}}</code>

      <h5>This is an h5</h5>
      <code class="text-code utils--margin-bottom-32">{{"h5 {color:#333; font-family:latoBold; font-size:18px; line-height:24px; text-transform:uppercase}"}}</code>

      <p class="text-section">Other headings:</p>
      <p class="utils--title-large">Title large</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--title-large {color:#333; font-family:latoBold; font-size:20px; line-height:26px}"}}</code>

      <p class="utils--title-medium">Title medium</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--title-medium {color:#333; font-family:latoBold; font-size:18px; line-height:22px}"}}</code>

      <p class="utils--title-small">Title small</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--title-small {color:#333; font-family:latoBold; font-size:16px; line-height:20px}"}}</code>

      <p class="utils--row-title">Row title</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--row-title {color:#666; font-family:latoSemibold; font-size:18px; line-height:20px; text-transform:uppercase}"}}</code>

      <p class="utils--section-title">Section title</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--section-title {color:#333; font-family:latoBold; font-size:12px; line-height:15px; text-transform:uppercase}"}}</code>

      <p class="utils--section-title-grey">Section title grey</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--section-title-grey {color:#999; font-family:lato; font-size:14px; line-height:17px; text-transform:uppercase}"}}</code>

      <p class="utils--basic-text">Basic text</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--basic-text {color:#999; font-family:lato; font-size:14px; line-height:18px}"}}</code>

      <p class="text-section">Text size classes:</p>
      <p class="utils--text-10 utils--margin-bottom-0">This is a text with 10px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-10 {font-size:10px}"}}</code>

      <p class="utils--text-12 utils--margin-bottom-0">This is a text with 12px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-12 {font-size:12px}"}}</code>

      <p class="utils--text-14 utils--margin-bottom-0">This is a text with 14px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-14 {font-size:14px}"}}</code>

      <p class="utils--text-16 utils--margin-bottom-0">This is a text with 16px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-16 {font-size:16px}"}}</code>

      <p class="utils--text-18 utils--margin-bottom-0">This is a text with 18px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-18 {font-size:18px}"}}</code>

      <p class="utils--text-20 utils--margin-bottom-0">This is a text with 20px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-20 {font-size:20px}"}}</code>

      <p class="utils--text-22 utils--margin-bottom-0">This is a text with 22px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-22 {font-size:22px}"}}</code>

      <p class="utils--text-24 utils--margin-bottom-0">This is a text with 24px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-24 {font-size:24px}"}}</code>

      <p class="utils--text-26 utils--margin-bottom-0">This is a text with 26px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-26 {font-size:26px}"}}</code>

      <p class="utils--text-28 utils--margin-bottom-0">This is a text with 28px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-28 {font-size:28px}"}}</code>

      <p class="utils--text-32 utils--margin-bottom-0">This is a text with 32px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-32 {font-size:32px}"}}</code>

      <p class="utils--text-36 utils--margin-bottom-0">This is a text with 36px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-36 {font-size:36px}"}}</code>

      <p class="utils--text-42 utils--margin-bottom-0">This is a text with 42px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-42 {font-size:42px}"}}</code>

      <p class="utils--text-56 utils--margin-bottom-0">This is a text with 56px</p>
      <code class="text-code utils--margin-bottom-32">{{"p.utils--text-56 {font-size:56px}"}}</code>

    </ntx-card-simple>
  </div>
</div>
