<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple>
      <h1>This is an h1</h1>
      <code class="text-code utils--margin-bottom-32">{{"h1 {color:#333; font-family:latoLight; font-size:42px; line-height:52px}"}}</code>

      <h2>This is an h2</h2>
      <code class="text-code utils--margin-bottom-32">{{"h2 {color:#333; font-family:latoLight; font-size:36px; line-height:44px}"}}</code>

      <h3>This is an h3</h3>
      <code class="text-code utils--margin-bottom-32">{{"h3 {color:#333; font-family:lato; font-size:28px; line-height:36px}"}}</code>

      <h4>This is an h4</h4>
      <code class="text-code utils--margin-bottom-32">{{"h4 {color:#333; font-family:latoBold; font-size:24px; line-height:30px}"}}</code>

      <h5>This is an h5</h5>
      <code class="text-code utils--margin-bottom-32">{{"h5 {color:#333; font-family:latoBold; font-size:18px; line-height:24px; text-transform:uppercase}"}}</code>

      <p class="text-section">Other headings:</p>
      <p class="utils--title-large">Title large</p>
      <code class="text-code utils--margin-bottom-32">{{"p {color:#333; font-family:latoBold; font-size:20px; line-height:26px}"}}</code>

      <p class="utils--title-medium">Title medium</p>
      <code class="text-code utils--margin-bottom-32">{{"p {color:#333; font-family:latoBold; font-size:18px; line-height:22px}"}}</code>

      <p class="utils--title-small">Title small</p>
      <code class="text-code utils--margin-bottom-32">{{"p {color:#333; font-family:latoBold; font-size:16px; line-height:20px}"}}</code>

      <p class="utils--row-title">Row title</p>
      <code class="text-code utils--margin-bottom-32">{{"p {color:#666; font-family:latoSemibold; font-size:18px; line-height:20px; text-transform:uppercase}"}}</code>

      <p class="utils--section-title">Section title</p>
      <code class="text-code utils--margin-bottom-32">{{"p {color:#333; font-family:latoBold; font-size:12px; line-height:15px; text-transform:uppercase}"}}</code>

      <p class="utils--basic-text">Basic text</p>
      <code class="text-code utils--margin-bottom-32">{{"p {color:#999; font-family:lato; font-size:14px; line-height:18px}"}}</code>

    </ntx-card-simple>
  </div>
</div>
