<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple class="whatsnew">

      <div class="whatsnew__header">
        <div class="whatsnew__header--texts">
          <h1 class="whatsnew__header--title">Release v4.1.0: Inputs with autocomplete, new list designs, bug fixed and more...</h1>
          <p class="whatsnew__header--subtitle">dia mes 2019</p>
        </div>
        <img class="whatsnew__header--image" src="assets/images/rocket-2.png" alt="rocket image">
      </div>

      <div class="whatsnew__content">
        <div class="whatsnew__announcement">
          <p class="whatsnew__announcement--text">What’s new section is our monthly update that highlights recent product improvements we’ve made so you can easily stay up to date on what’s new.</p>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">What’s new</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>New icons</h4>
          <p class="whatsnew__content-block--text utils--text-18">With this update we have a new batch of icons. For this, several css files have been touched, which you must update to see the icons correctly:</p>
          <ul class="whatsnew__content-block--points">
            <li>ux-components/src/styles/app/utils.scss</li>
            <li>ux-components/src/styles/app/variables.scss</li>
            <li>ux-components/src/styles/fonts/styles.scss</li>
            <li>ux-components/src/styles/fonts/variables.scss</li>
            <li>ux-components/src/assets/fonts/icons/netex.eot</li>
            <li>ux-components/src/assets/fonts/icons/netex.svg</li>
            <li>ux-components/src/assets/fonts/icons/netex.ttf</li>
            <li>ux-components/src/assets/fonts/icons/netex.woff</li>
          </ul>
          <p class="whatsnew__content-block--text utils--section-title-grey utils--margin-top-32">NOTE: We have deleted icon-speacker and added icon-speaker instead, for an spelling error.</p>
          <div class="icons-container">
            <div class="icon-container">
              <mat-icon class="icon-netex icon-apple icon-big utils--text-grey-600"></mat-icon>
              <label>icon-apple</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-attached-file icon-big utils--text-grey-600"></mat-icon>
              <label>icon-attached-file</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-bookmark icon-big utils--text-grey-600"></mat-icon>
              <label>icon-bookmark</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-bookmark-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-bookmark-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-chat-bubble-smile icon-big utils--text-grey-600"></mat-icon>
              <label>icon-chat-bubble-smile</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-check-circle icon-big utils--text-grey-600"></mat-icon>
              <label>icon-check-circle</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-check-double icon-big utils--text-grey-600"></mat-icon>
              <label>icon-check-double</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-check-shield icon-big utils--text-grey-600"></mat-icon>
              <label>icon-check-shield</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-columns icon-big utils--text-grey-600"></mat-icon>
              <label>icon-columns</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-columns-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-columns-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-competency icon-big utils--text-grey-600"></mat-icon>
              <label>icon-competency</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-cross-circle icon-big utils--text-grey-600"></mat-icon>
              <label>icon-cross-circle</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-duplicate-search icon-big utils--text-grey-600"></mat-icon>
              <label>icon-duplicate-search</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-editor-iframe icon-big utils--text-grey-600"></mat-icon>
              <label>icon-editor-iframe</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-editor-interactive-activity icon-big utils--text-grey-600"></mat-icon>
              <label>icon-editor-interactive-activity</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-editor-flip-image icon-big utils--text-grey-600"></mat-icon>
              <label>icon-editor-flip-image</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-eye-off icon-big utils--text-grey-600"></mat-icon>
              <label>icon-eye-off</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-flag-greece icon-big utils--text-grey-600">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
                <span class="path6"></span>
                <span class="path7"></span>
              </mat-icon>
              <label>icon-flag-greece</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-forbidden-shield icon-big utils--text-grey-600"></mat-icon>
              <label>icon-forbidden-shield</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-index icon-big utils--text-grey-600"></mat-icon>
              <label>icon-index</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-index-off icon-big utils--text-grey-600"></mat-icon>
              <label>icon-index-off</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-launch-external icon-big utils--text-grey-600"></mat-icon>
              <label>icon-launch-external</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-less-circle-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-less-circle-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-link icon-big utils--text-grey-600"></mat-icon>
              <label>icon-link</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-loading icon-big utils--text-grey-600">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
                <span class="path6"></span>
                <span class="path7"></span>
                <span class="path8"></span>
                <span class="path9"></span>
                <span class="path10"></span>
                <span class="path11"></span>
              </mat-icon>
              <label>icon-loading</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-lock-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-lock-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-magazine icon-big utils--text-grey-600"></mat-icon>
              <label>icon-magazine</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-modal icon-big utils--text-grey-600"></mat-icon>
              <label>icon-modal</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-move icon-big utils--text-grey-600"></mat-icon>
              <label>icon-move</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-multiple-classroom icon-big utils--text-grey-600"></mat-icon>
              <label>icon-multiple-classroom</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-navigation-header icon-big utils--text-grey-600"></mat-icon>
              <label>icon-navigation-header</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-notebook icon-big utils--text-grey-600"></mat-icon>
              <label>icon-notebook</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-pathway icon-big utils--text-grey-600"></mat-icon>
              <label>icon-pathway</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-pin-checked-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-pin-checked-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-pin-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-pin-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-question-circle icon-big utils--text-grey-600"></mat-icon>
              <label>icon-question-circle</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-save-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-save-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-scanning icon-big utils--text-grey-600"></mat-icon>
              <label>icon-scanning</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-send-off icon-big utils--text-grey-600"></mat-icon>
              <label>icon-send-off</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-speaker icon-big utils--text-grey-600"></mat-icon>
              <label>icon-speaker</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-trophy-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-trophy-solid</label>
            </div>
            <div class="icon-container">
              <mat-icon class="icon-netex icon-unlock-solid icon-big utils--text-grey-600"></mat-icon>
              <label>icon-unlock-solid</label>
            </div>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Form input autocomplete</h4>
          <p class="whatsnew__content-block--text utils--text-18">We released a new type of input, <span class="documentation-code">ntx-form-input-autocomplete</span> enhanced by a panel of suggested options, which are filtered as they are written on it.</p>
          <ntx-form-input-autocomplete></ntx-form-input-autocomplete>
        </div>

        <div class="whatsnew__content-block">
          <h4>Autocomplete chip</h4>
          <p class="whatsnew__content-block--text utils--text-18">We launched a new version of chips, <span class="documentation-code">ntx-autocomplete-chip</span> integrated with an autocomplete input that suggests options as you type.</p>
          <ntx-autocomplete-chip [color]="'primary'"></ntx-autocomplete-chip>
        </div>

        <div class="whatsnew__content-block">
          <h4>Two lines vertical list with avatar</h4>
          <p class="whatsnew__content-block--text utils--text-18">With this update we have a new type of list, <span class="documentation-code">ntx-list-two-lines-avatar-vertical</span> that vertically integrates the image of the avatar with the text.</p>
          <div class="displayFlex">
            <ntx-list-two-lines-avatar-vertical></ntx-list-two-lines-avatar-vertical>
            <ntx-list-two-lines-avatar-vertical></ntx-list-two-lines-avatar-vertical>
            <ntx-list-two-lines-avatar-vertical></ntx-list-two-lines-avatar-vertical>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>List horizontal with icons</h4>
          <p class="whatsnew__content-block--text utils--text-18">We release a new type of list, <span class="documentation-code">ntx-list-horizontal-icon</span> that integrates icons in the horizontal lists.</p>
          <ntx-list-horizontal-icon></ntx-list-horizontal-icon>
        </div>

        <div class="whatsnew__content-block">
          <h4>Entity detail panel</h4>
          <p class="whatsnew__content-block--text utils--text-18">Our next innovation is a detail panel, <span class="documentation-code">app-entity-detail-panel</span>, which shows us the detail of an entity in the header of a panel.</p>
          <button mat-raised-button *ngFor="let width of panelWidths"
                  color="primary"
                  class="panels__button"
                  (click) = "onButtonClick(width)">
                  {{ 'Detail panel' | uppercase }}
          </button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Simple options menu</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we launched a new type of menu, <span class="documentation-code">ntx-menu-options-simple</span> much simpler than the previous ones, without icons, buttons or space bars.</p>
          <ntx-menu-options-simple></ntx-menu-options-simple>
        </div>

        <div class="whatsnew__content-block">
          <h4>Dashboard menu</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we launched a new type of menu, <span class="documentation-code">ntx-menu-toolbar-dashboard</span> which shows a grid of elements.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/menus/documentation" (click)="setPath('menus')">link</a></p>
          <ntx-menu-toolbar-dashboard [apps]="apps"></ntx-menu-toolbar-dashboard>
        </div>

        <div class="whatsnew__content-block">
          <h4>User toolbar options menu</h4>
          <p class="whatsnew__content-block--text utils--text-18">With this update we have implemented a new design change in the <span class="documentation-code">ntx-menu-toolbar-profile</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/menus/documentation" (click)="setPath('menus')">link</a></p>
          <ntx-menu-toolbar-profile></ntx-menu-toolbar-profile>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">Bug fixing</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>Searchbox</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, ui bugs have been fixed in the <span class="documentation-code">ntx-form-searchbox</span> component and html/css/ts changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/form-controls/documentation" (click)="setPath('form-controls')">link</a></p>
          <div class="ntxformsearchbox-container">
            <ntx-form-searchbox></ntx-form-searchbox>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>List one line list with avatar</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-list-one-line-avatar</span> component and html/css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/lists/documentation" (click)="setPath('lists')">link</a></p>
          <ntx-list-one-line-avatar></ntx-list-one-line-avatar>
          <ntx-list-one-line-avatar></ntx-list-one-line-avatar>
          <ntx-list-one-line-avatar></ntx-list-one-line-avatar>
        </div>

        <div class="whatsnew__content-block">
          <h4>List two lines list with avatar</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-list-two-lines-avatar</span> component and html/css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/lists/documentation" (click)="setPath('lists')">link</a></p>
          <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
          <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
          <ntx-list-two-lines-avatar></ntx-list-two-lines-avatar>
        </div>

        <div class="whatsnew__content-block">
          <h4>Sidenav inside</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-sidenav-inside</span> component and css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/sidenavs/documentation" (click)="setPath('sidenavs')">link</a></p>
          <img class="whatsnew__content-block--image" src="assets/images/inside-sidenav.png" alt="Inside sidenav example">
        </div>

        <div class="whatsnew__content-block">
          <h4>Selectable table</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-sidenav-inside</span> component and html/css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/table-selectable/documentation" (click)="setPath('table-selectable')">link</a></p>
          <img class="whatsnew__content-block--image" src="assets/images/table-selectable.png" alt="Selectable table example">
        </div>

        <div class="whatsnew__content-block">
          <h4>Tree</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-tree</span> component and css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/tree/documentation" (click)="setPath('tree')">link</a></p>
          <div class="whatsnew__content-block--card w50">
            <ntx-tree></ntx-tree>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Label error</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, visualization bugs in IE11 have been fixed in the <span class="documentation-code">ntx-label-error</span> component and both css changes and html changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/labels/documentation" (click)="setPath('labels')">link</a></p>
          <ntx-label-error text="2 alerts"></ntx-label-error>
        </div>

        <div class="whatsnew__content-block">
          <h4>Chip with image</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, bugs have been fixed in the <span class="documentation-code">ntx-image-chip</span> component and css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/chips/documentation" (click)="setPath('chips')">link</a></p>
          <ntx-image-chip [color]="'primary'"></ntx-image-chip>
        </div>

        <div class="whatsnew__content-block">
          <h4>Chip with image and subtitle</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, bugs have been fixed in the <span class="documentation-code">ntx-image-subtitle-chip</span> component and css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/chips/documentation" (click)="setPath('chips')">link</a></p>
          <ntx-image-subtitle-chip [color]="'primary'"></ntx-image-subtitle-chip>
        </div>

        <div class="whatsnew__content-block">
          <h4>Basic chip</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, bugs have been fixed in the <span class="documentation-code">ntx-basic-chip</span> component and css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/chips/documentation" (click)="setPath('chips')">link</a></p>
          <ntx-basic-chip [color]="'primary'"></ntx-basic-chip>
        </div>

        <div class="whatsnew__content-block">
          <h4>Chip with categories</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, bugs have been fixed in the <span class="documentation-code">ntx-category-chip</span> component and css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/chips/documentation" (click)="setPath('chips')">link</a></p>
          <ntx-category-chip [color]="'primary'"></ntx-category-chip>
        </div>

        <div class="whatsnew__content-block">
          <h4>Card 7</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, bugs have been fixed in the <span class="documentation-code">ntx-card7</span> component and css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/card7/documentation" (click)="setPath('cards')">link</a></p>
          <div class="whatsnew__content-block--card w50">
            <ntx-card7></ntx-card7>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Dialogs</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version, bugs have been fixed in the <span class="documentation-code">ntx-simple-dialog</span>, <span class="documentation-code">ntx-proccess-dialog</span>  and <span class="documentation-code">ntx-warning-dialog</span> component and css changes have been affected. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/dialogs/documentation" (click)="setPath('dialogs')">link</a></p>
          <ntx-simple-dialog></ntx-simple-dialog>
          <ntx-warning-dialog></ntx-warning-dialog>
          <ntx-proccess-dialog></ntx-proccess-dialog>
        </div>

      </div>

    </ntx-card-simple>
  </div>
</div>
