<div class="page-layout">
  <div class="page-container">

    <ntx-card-simple title="{{'Label' | uppercase }}"
                      subtitle="{{ '<ntx-label>' }}">

      <ntx-label text="label" [className]="'label-black'"></ntx-label>
      <ntx-label text="label"></ntx-label>
      <ntx-label text="label" [className]="'label-orange'"></ntx-label>
      <ntx-label text="label" [className]="'label-red'"></ntx-label>

    </ntx-card-simple>

    <ntx-card-simple title="{{'Label error' | uppercase }}"
                      subtitle="{{ '<ntx-label-error>' }}">

      <ntx-label-error text="2 alerts"></ntx-label-error>

    </ntx-card-simple>

  </div>
</div>
