/* You can add global styles to this file, and also import other style files */

// Importamos los estilos de la librería
// @import "projects/netex/ux-components/src/themes/default.theme.scss";
// @import "projects/netex/ux-components/src/styles/styles.scss";

// WARNING: A partir de aquí, lo que se incluya directamente no irá en la librería

@import "./themes/default.theme.scss";
@import "./styles/app/utils.scss";
@import "./styles/fonts/styles.scss";
@import "./styles/fonts/fonts.scss";

body{
  font-family: Lato;
}

.section-title{
  color: $color-grey-700;
  font-family: LatoMedium;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  .section-subtitle{
    color: $color-grey-600;
    font-family: LatoLight;
    font-size: 16px;
    text-transform: lowercase;
  }
}

.page-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
    &__page {
      margin: 40px 0;
    }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .page-container{
    max-width: 768px;
  }
}
@media (min-width: 1280px) and (max-width: 1480px) {
  .page-container{
    max-width: 900px;
  }
}
@media (min-width: 1480px) {
  .page-container{
    max-width: 1240px;
  }
}
