/* You can add global styles to this file, and also import other style files */

// Importamos los estilos de la librería
// @import "projects/netex/ux-components/src/themes/default.theme.scss";
// @import "projects/netex/ux-components/src/styles/styles.scss";

// WARNING: A partir de aquí, lo que se incluya directamente no irá en la librería

@import "./themes/default.theme.scss";
@import "./styles/app/utils.scss";
@import "./styles/fonts/styles.scss";
@import "./styles/fonts/fonts.scss";

.section-title{
  color: $color-grey-700;
  font-family: LatoMedium;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  .section-subtitle{
    color: $color-grey-600;
    font-family: LatoLight;
    font-size: 16px;
    text-transform: lowercase;
  }
}

.page-layout-home{
  height: calc(100vh - 56px);
  overflow: auto;
  position: relative;
  top: 56px;
  .page-container{
    width: 900px;
    margin: 88px auto;
    display: flex;
    flex-direction: column;
    &__title {
      color: #333;
      font-family: LatoLight;
      font-size: 44px;
      text-align: center;
      margin-bottom: 40px;
    }
    &__text{
      line-height: 26px;
      text-align: justify;
    }
  }
}

.page-layout{
  height: calc(100vh - 104px);
  overflow: auto;
  position: relative;
  top: 104px;
  .page-container{
    margin: 40px auto;
    &.documentation{
      max-width: 900px;
    }
    ntx-card-simple{
      &.white-content{
        mat-card{
          background-color: $color-grey-300;
        }
      }
      &:first-of-type{
        mat-card{
          margin: 0;
        }
      }
      mat-card{
        margin: 40px 0;
      }
    }
    .documentation-text{
      color: $color-grey-800;
      font-family: lato;
      font-size: $font-size-16;
      line-height: 26px;
      .documentation-code{
        color: $color-random4;
        font-size: 87%;
        padding: 4px;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .page-layout{
    .page-container{
      max-width: 768px;
    }
  }
}
@media (min-width: 1280px) and (max-width: 1480px) {
  .page-layout{
    .page-container{
      max-width: 900px;
    }
  }
}
@media (min-width: 1480px) {
  .page-layout{
    .page-container{
      max-width: 1240px;
    }
  }
}
