<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple title="{{'Chip with image' | uppercase }}"
                      subtitle="{{ '<ntx-image-chip>' }}">
      <ntx-image-chip [color]="'primary'"></ntx-image-chip>
      <ntx-image-chip [color]="'primary'" [disabled]="'true'"></ntx-image-chip>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Chip with image and subtitle' | uppercase }}"
          subtitle="{{ '<ntx-image-subtitle-chip>' }}">
      <ntx-image-subtitle-chip [color]="'primary'"></ntx-image-subtitle-chip>
      <ntx-image-subtitle-chip [color]="'primary'" [disabled]="'true'"></ntx-image-subtitle-chip>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Basic chip' | uppercase }}"
                      subtitle="{{ '<ntx-basic-chip>' }}">
      <ntx-basic-chip [chips] ="chips3" [color]="'color'" [disabled]="'disabled'"></ntx-basic-chip>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Basic chip with image' | uppercase }}"
        subtitle="{{ '<ntx-basic-image-chip>' }}">
          <ntx-basic-image-chip [chip] ="chip"></ntx-basic-image-chip>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Chip with categories' | uppercase }}"
                      subtitle="{{ '<ntx-category-chip>' }}">
      <ntx-category-chip [chips] ="chips2" [color]="'color'" [disabled]="'disabled'"></ntx-category-chip>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Chip with filters' | uppercase }}"
                      subtitle="{{ '<ntx-filter-chip>' }}">
      <ntx-filter-chip></ntx-filter-chip>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Chip with icon' | uppercase }}"
                      subtitle="{{ '<ntx-icon-chip>' }}">
      <ntx-icon-chip [item] ="item"></ntx-icon-chip>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Autocomplete chip' | uppercase }}"
                      subtitle="{{ '<ntx-autocomplete-chip>' }}">
      <ntx-autocomplete-chip [color]="'primary'"></ntx-autocomplete-chip>
    </ntx-card-simple>

  </div>
</div>
