<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple title="{{'Chip with image' | uppercase }}"
                      subtitle="{{ '<ntx-image-chip>' }}">
      <ntx-image-chip [color]="'primary'"></ntx-image-chip>
      <ntx-image-chip [color]="'primary'" [disabled]="'true'"></ntx-image-chip>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Basic chip' | uppercase }}"
                      subtitle="{{ '<ntx-basic-chip>' }}">
      <ntx-basic-chip [color]="'primary'"></ntx-basic-chip>
      <ntx-basic-chip [color]="'primary'" [disabled]="'true'"></ntx-basic-chip>
      <ntx-basic-chip [color]="'accent'"></ntx-basic-chip>
      <ntx-basic-chip [color]="'accent'"  [disabled]="'true'"></ntx-basic-chip>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Chip with categories' | uppercase }}"
                      subtitle="{{ '<ntx-category-chip>' }}">
      <ntx-category-chip [color]="'primary'"></ntx-category-chip>
      <ntx-category-chip [color]="'primary'" [disabled]="'true'"></ntx-category-chip>
      <ntx-category-chip [color]="'accent'"></ntx-category-chip>
      <ntx-category-chip [color]="'accent'"  [disabled]="'true'"></ntx-category-chip>
    </ntx-card-simple>

    <ntx-card-simple title="{{'Chip with filters' | uppercase }}"
                      subtitle="{{ '<ntx-filter-chip>' }}">
      <ntx-filter-chip></ntx-filter-chip>
    </ntx-card-simple>
  </div>
</div>
