<div class="page-container__page">
  <p class="welcome-title">Welcome to Netex Material UI Library</p>
  <div>
    <img src="assets/images/Welcome.png" alt="Welcome image to Netex material UI Library">
  </div>
</div>
<div class="page-container__documentation utils--margin-top-60">
  <p>
    Netex Material UI Library is a library of components based on Angular Material framework. This library complements the Angular Material library with our own styles guide and new customized components. This project provides a set of reusable, well-tested, and accessible UI components based on Google's Material Design Specifications.
  </p>
  <p>
    Netex Material UI Library is a mature and stable product that is ready for production use. Developers should note that Netex Material UI Library works only with Angular 7.
  </p>
</div>
