@import "././projects/netex/ux-components/src/styles/app/utils";

$block: "panel";

.#{$block}{
  background-color: $color-grey-100;
  display: inline-block;
  .#{$block}__toolbar{
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-300;
    color: $color-grey-700;
    font-family: Lato;
    font-size: $font-size-16;
    line-height: 1.19;
    height: $toolbarHeight;
    padding: 0 12px 0 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    .hack-autofocus-disable {
      position: absolute;
      height: 0;
    }
    .panel__close {
      height: 48px;
      margin-right: $separation-16;
      width: 48px;
      &:hover {
        background-color: $icon-button-hover;
      }
    }
    .panel__spacer{
      flex: 1 1 auto;
    }
  }
  .organisation-tree {
    display: flex;
    height: 100%;
    padding: 56px 0;
    position: relative;
    ul {
      display: flex;
      flex-layout: row;
      justify-content: space-between;
      padding-top: 60px;
      position: relative;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      width: 100%;
      /*Time to add downward connectors from parents*/
      ul::before{
        border-left: 1px solid #ccc;
        content: '';
        height: 60px;
        left: 50%;
        position: absolute;
        top: 0;
        width: 0;
      }
    }
    li {
      float: left;
      list-style-type: none;
      padding: 60px 18px 0 18px;
      position: relative;
      text-align: center;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      /*We will use ::before and ::after to draw the connectors*/
      &::before, &::after{
        border-top: 1px solid #ccc;
        content: '';
        height: 60px;
        position: absolute;
        right: 50%;
        top: 0;
        width: 50%;
      }
      &::after{
        border-left: 1px solid #ccc;
        left: 50%;
        right: auto;
      }
      /*We need to remove left-right connectors from elements without
      any siblings*/
      &:only-child::after, &:only-child::before{
        display: none;
      }
      /*Remove space from the top of single children*/
      &:only-child{
        padding-top: 0;
      }
      /*Remove left connector from first child and
      right connector from last child*/
      &:first-child::before, &:last-child::after{
        border: 0 none;
      }
      /*Adding back the vertical connector to the last nodes*/
      &:last-child::before{
        border-right: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
      }
      &:first-child::after{
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
      }
      ntx-card12{
        display: inline-block;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        &.granate{
          .card12.mat-card{
            .card12__contenido{
              background-color: #9b2761;
            }
          }
        }
        &.green{
          .card12.mat-card{
            .card12__contenido{
              background-color: #199aa8;
            }
          }
        }
        &.yellow{
          .card12.mat-card{
            .card12__contenido{
              background-color: #ee9a37;
            }
          }
        }
        &.purple{
          .card12.mat-card{
            .card12__contenido{
              background-color: #b182a6;
            }
          }
        }
        &.blue{
          .card12.mat-card{
            .card12__contenido{
              background-color: #279ed6;
            }
          }
        }
        &.pink{
          .card12.mat-card{
            .card12__contenido{
              background-color: #e53b78;
            }
          }
        }
        /*Time for some hover effects*/
        /*We will apply the hover effect the lineage of the element also*/
        &:hover, &:hover+ul li ntx-card12{
          .card12.mat-card{
            .card12__contenido{
              background-color: #ccc;
              color: #000;
              .mat-card-header{
                .card12__options{
                  .mat-icon-button.menu-options-button{
                    color: #000;
                  }
                }
              }
            }
          }
        }
        /*Connector styles on hover*/
        &:hover+ul li::after, &:hover+ul li::before, &:hover+ul::before, &:hover+ul ul::before{
          border-color:  #999;
        }
      }
    }
  }
  * {
    margin: 0;
    padding: 0;
  }

}
