<div class="panel">
  <mat-toolbar class="panel__toolbar">
    <button class="hack-autofocus-disable"
            type="button"
            mat-icon-button>
    </button>
    <button type="button"
            class="panel__close"
            i18n-aria-label
            mat-icon-button
            (click)="onCloseSidenav()">
        <mat-icon class="icon icon-netex icon-cross"></mat-icon>
    </button>
    <span class="panel__title"
          i18n>{{'panel ' + width + '%' | uppercase}}</span>
    <span class="panel__spacer"></span>
    <ntx-raised-button [color]="'primary'"></ntx-raised-button>
  </mat-toolbar>

  <div class="organisation-tree">
    <ul>
      <li>
        <ntx-card12 class="granate"></ntx-card12>
        <ul>
          <li>
            <ntx-card12 class="green"></ntx-card12>
            <ul>
              <li>
                <ntx-card12 class="yellow"></ntx-card12>
                <ul>
                  <li>
                    <ntx-card12 class="purple"></ntx-card12>
                    <ul>
                      <li>
                        <ntx-card12 class="blue"></ntx-card12>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ntx-card12 class="yellow"></ntx-card12>
                <ul>
                  <li>
                    <ntx-card12 class="pink"></ntx-card12>
                    <ul>
                      <li>
                        <ntx-card12 class="purple"></ntx-card12>
                        <ul>
                          <li>
                            <ntx-card12 class="purple"></ntx-card12>
                            <ul>
                              <li>
                                <ntx-card12 class="purple"></ntx-card12>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ntx-card12 class="pink"></ntx-card12>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <ntx-card12 class="green"></ntx-card12>
            <ul>
              <li>
                <ntx-card12 class="yellow"></ntx-card12>
                <ul>
                  <li>
                    <ntx-card12 class="purple"></ntx-card12>
                    <ul>
                      <li>
                        <ntx-card12 class="blue"></ntx-card12>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <ntx-card12 class="yellow"></ntx-card12>
                <ul>
                  <li>
                    <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                     <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                    <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                    <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                  <li>
                      <ntx-card12 class="purple"></ntx-card12>
                  </li>
                </ul>
              </li>
              <li>
                <ntx-card12 class="yellow"></ntx-card12>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
