<h1>
  Welcome to ux-components!
</h1>

<button mat-button
        color="primary"
        (click)="onButtonClick()">Demo sidenav</button>


  <a mat-button
    color="primary"
    routerLink="/toolbar">Toolbar components</a>

  <a mat-button
    color="primary"
    routerLink="/buttons">Buttons components</a>

  <a mat-button
    color="primary"
    routerLink="/menus">Menus components</a>

  <a mat-button
    color="primary"
    routerLink="/tabs">Tabs components</a>

  <a mat-button
    color="primary"
    routerLink="/lists">Lists components</a>
