<div class="page-layout">
  <div class="page-container">

    <mat-grid-list #grid rowHeight="250px" gutterSize="0">

      <mat-grid-tile>
        <ntx-card17 [data] = "data5"></ntx-card17>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card17 [data] = "data1">
          <h6>Lorem ipsum</h6>
          <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit lacus habitasse,<br/>
          tincidunt euismod eleifend purus conubia at viverra nullam <br/>
          cursus est nisi tortor sociis risus inceptos erat.
          </p>
        </ntx-card17>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card17 [data] = "data2">
          <ntx-basic-table [style]="'flat'"></ntx-basic-table>
        </ntx-card17>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card17 [data] = "data3">
          <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit lacus habitasse,<br/>
          tincidunt euismod eleifend purus conubia at viverra nullam <br/>
          cursus est nisi tortor sociis risus inceptos erat.
          </p>
        </ntx-card17>
      </mat-grid-tile>

      <mat-grid-tile>
        <ntx-card17 [data] = "data4">
          <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit lacus habitasse,<br/>
          tincidunt euismod eleifend purus conubia at viverra nullam <br/>
          cursus est nisi tortor sociis risus inceptos erat.
          </p>
        </ntx-card17>
      </mat-grid-tile>

  </mat-grid-list>

  </div>
</div>
