<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple class="whatsnew">

      <div class="whatsnew__header">
        <div class="whatsnew__header--texts">
          <h1 class="whatsnew__header--title">Release v4.4.0: ...</h1>
          <p class="whatsnew__header--subtitle">x xxxx 2021</p>
        </div>
        <img class="whatsnew__header--image" src="assets/images/rocket-5.png" alt="rocket image">
      </div>

      <div class="whatsnew__content">
        <div class="whatsnew__announcement">
          <p class="whatsnew__announcement--text">What’s new section is our monthly update that highlights recent product improvements we’ve made so you can easily stay up to date on what’s new.</p>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">What’s new</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>Card21 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">card21</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/card21/examples" (click)="setPath('card21')">link</a></p>
          <div style="display: flex;justify-content: space-between;">
            <div style="width:45%" *ngFor="let item of card21">
              <ntx-card21
                [bar]="item.bar"
                [barColor]="item.barColor"
                [image]="item.image"
                [title]="item.title"></ntx-card21>
            </div>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Card22 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">card22</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/card22/examples" (click)="setPath('card22')">link</a></p>
          <div style="display: flex;justify-content: space-between;">
            <div style="width:45%" *ngFor="let item of card22">
              <ntx-card22
              [image]="item.image"
              [title]="item.title"
              [subtitle]="item.subtitle"
              [icon]="item.icon"
              [iconName]="item.iconName"></ntx-card22>
            </div>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Card23 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">card23</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/card23/examples" (click)="setPath('card23')">link</a></p>
          <div style="display: flex;justify-content: space-between;">
            <div>
              <ntx-card23 urlImage="assets/images/bg-03.png" stColor="#006699"></ntx-card23>
            </div>
          </div>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">Bug fixing</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>Icon button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-icon-button</span> component and there have been changes in css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-icon-button text = "Twitter" iconName = "icon-logo-twitter" color="#00acee" ></ntx-icon-button>
          <ntx-icon-button text = "Recycling is cool" iconName = "icon-recycle" color="#33691E" showBorder></ntx-icon-button>
          <ntx-icon-button text = "Facebook" iconName = "icon-logo-facebook" color="#3b5998" ></ntx-icon-button>
          <ntx-icon-button text = "Corazón partío" iconName = "icon-heart-off" color="#FF91AF" showBorder></ntx-icon-button>
        </div>

        <div class="whatsnew__content-block">
          <h4>Raised round button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-raised-round-button</span> component and there have been changes in css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <div style="width: 600px; display: flex;">
            <ntx-raised-round-button iconLeft="icon-pencil" text="edit" color="primary"></ntx-raised-round-button>
            <div style="margin-left:16px;"></div>
            <ntx-raised-round-button text="button" color="primary"></ntx-raised-round-button>
            <div style="margin-left:16px;"></div>
            <ntx-raised-round-button icon="icon-pencil" color="primary"></ntx-raised-round-button>
            <div style="margin-left:16px;"></div>
            <ntx-raised-round-button text="link" color="primary" [disabled]="true"></ntx-raised-round-button>
            <div style="margin-left:16px;"></div>
            <ntx-raised-round-button iconRight="icon-plus" text="action" color="violet"></ntx-raised-round-button>
            <div style="margin-left:16px;"></div>
            <ntx-raised-round-button icon="icon-plus" color="violet"></ntx-raised-round-button>
            <div style="margin-left:16px;"></div>
            <ntx-raised-round-button icon="icon-send" text="action" color="green"></ntx-raised-round-button>
            <div style="margin-left:16px;"></div>
            <ntx-raised-round-button iconRight="icon-search" text="buscar" color="black"></ntx-raised-round-button>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Mini fab button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have modified <span class="documentation-code">ntx-mini-fab-button</span> component and there have been changes in css file. You will have to update the new changes so that this component looks correctly.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can check changes and files afected in this <a class="" mat-list-item routerLink="/buttons/documentation" (click)="setPath('buttons')">link</a></p>
          <ntx-mini-fab-button text = "Add" iconName = "icon-plus" color="white" bgColor="#1aa9e2"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Add" iconName = "icon-plus" color="white" bgColor="#1aa9e2" disabled></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Like" iconName = "icon-heart" color="black"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Like" iconName = "icon-heart" color="black" disabled></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Download" iconName = "icon-download" color="white" bgColor="#D65292"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Download" iconName = "icon-download" color="white" bgColor="#D65292" disabled></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Search" iconName = "icon-search" color="white" bgColor="black"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Search" iconName = "icon-search" color="white" bgColor="black" disabled></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Like-off" iconName = "icon-heart-off" color="red"></ntx-mini-fab-button>
          <ntx-mini-fab-button text = "Like-off" iconName = "icon-heart-off" color="red" disabled></ntx-mini-fab-button>
        </div>

      </div>

    </ntx-card-simple>
  </div>
</div>
