<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple class="whatsnew">

      <div class="whatsnew__header">
        <div class="whatsnew__header--texts">
          <h1 class="whatsnew__header--title">Release v4.5.0: Lorem ipsum dolor...</h1>
          <p class="whatsnew__header--subtitle">xx xxxxx 2023</p>
        </div>
        <img class="whatsnew__header--image" src="assets/images/rocket-7.png" alt="rocket image">
      </div>

      <div class="whatsnew__content">
        <div class="whatsnew__announcement">
          <p class="whatsnew__announcement--text">What’s new section is our monthly update that highlights recent product improvements we’ve made so you can easily stay up to date on what’s new.</p>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">What’s new</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>Main button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-main-button</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/buttons/examples" (click)="setPath('buttons')">link</a></p>
          <div style="background-color: #000; padding: 24px; display: flex; flex-direction: column; gap: 12px;">
            <ntx-main-button tooltip="Action primary" type="primary" icon="add"></ntx-main-button>
            <ntx-main-button title="Action primary" tooltip="Action primary" type="primary" icon="add"></ntx-main-button>
            <ntx-main-button title="Action primary" tooltip="Action primary" type="primary" size="fullWidth"></ntx-main-button>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Card25 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-card25</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/cards-catalog/examples" (click)="setPath('cards-catalog')">link</a></p>
          <div class="utils--padding-8" *ngFor="let item of card25">
            <ntx-card25
              [image]="item.image"
              [avatar]="item.avatar"
              [title]="item.title"
              [subtitle]="item.subtitle"
              [description]="item.description"
              [mobile]="item.mobile"></ntx-card25>
          </div>
        </div>

      </div>

    </ntx-card-simple>
  </div>
</div>
