<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple class="whatsnew">

      <div class="whatsnew__header">
        <div class="whatsnew__header--texts">
          <h1 class="whatsnew__header--title">Release v4.5.0: Lorem ipsum dolor...</h1>
          <p class="whatsnew__header--subtitle">xx xxxxx 2023</p>
        </div>
        <img class="whatsnew__header--image" src="assets/images/rocket-7.png" alt="rocket image">
      </div>

      <div class="whatsnew__content">
        <div class="whatsnew__announcement">
          <p class="whatsnew__announcement--text">What’s new section is our monthly update that highlights recent product improvements we’ve made so you can easily stay up to date on what’s new.</p>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">What’s new</span>
        </h2>

        <div class="whatsnew__content-block">
          <h4>Main button component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-main-button</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/buttons/examples" (click)="setPath('buttons')">link</a></p>
          <div style="background-color: #000; padding: 24px; display: flex; flex-direction: column; gap: 12px;">
            <ntx-main-button tooltip="Action primary" type="primary" icon="add"></ntx-main-button>
            <ntx-main-button title="Action primary" tooltip="Action primary" type="primary" icon="add"></ntx-main-button>
            <ntx-main-button title="Action primary" tooltip="Action primary" type="primary" size="fullWidth"></ntx-main-button>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Card25 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-card25</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/cards-catalog/examples" (click)="setPath('cards-catalog')">link</a></p>
          <div class="utils--padding-8" *ngFor="let item of card25">
            <ntx-card25
              [image]="item.image"
              [avatar]="item.avatar"
              [title]="item.title"
              [subtitle]="item.subtitle"
              [description]="item.description"
              [mobile]="item.mobile"></ntx-card25>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Card26 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-card26</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/cards-catalog/examples" (click)="setPath('cards-catalog')">link</a></p>
          <div class="utils--padding-8 utils--bc-black" *ngFor="let item of card26">
            <ntx-card26
              [image]="item.image"
              [avatar]="item.avatar"
              [title]="item.title"
              [subtitle]="item.subtitle"
              [label]="item.label"
              [sizeCard]="item.sizeCard"
              [sizeText]="item.sizeText"
              [highlighted]="item.highlighted"
              [textUnlimited]="item.textUnlimited"></ntx-card26>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Card27 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-card27</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/cards-catalog/examples" (click)="setPath('cards-catalog')">link</a></p>
          <div class="utils--padding-8 utils--bc-black" *ngFor="let item of card27">
            <ntx-card27
              [image]="item.image"
              [title]="item.title"
              [description]="item.description"
              [label]="item.label"
              [sizeCard]="item.sizeCard"
              [sizeText]="item.sizeText"
              [highlighted]="item.highlighted"
              [textUnlimited]="item.textUnlimited"></ntx-card27>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Radiobutton dark component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-form-radiobutton-dark</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/forms/examples" (click)="setPath('forms')">link</a></p>
          <div class="utils--padding-8 utils--bc-black">
            <ntx-form-radiobutton-dark radioGroupName="radiobuttondark-1" [data]="radiobuttondark"></ntx-form-radiobutton-dark>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Progress bar dark component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-progress-bar-dark</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/progress-bar/examples" (click)="setPath('progress-bar')">link</a></p>
          <div class="utils--padding-8 utils--bc-black">
            <ntx-progress-bar-dark class="utils--margin-top-24 utils--margin-bottom-24" color="primary" [value]="'52'"></ntx-progress-bar-dark>
            <ntx-progress-bar-dark class="utils--margin-top-24 utils--margin-bottom-24" color="success" [value]="'78'" [requiredValue]="'42'"></ntx-progress-bar-dark>
            <ntx-progress-bar-dark class="utils--margin-top-24 utils--margin-bottom-24" color="error" [value]="'34'" [requiredValue]="'65'"></ntx-progress-bar-dark>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Textarea dark component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-form-textarea-dark</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/form-controls/examples" (click)="setPath('form-controls')">link</a></p>
          <div class="utils--padding-8 utils--bc-black" *ngFor="let item of textareaDark">
            <ntx-form-textarea-dark
              [image]="item.image"
              [placeholder]="item.placeholder">
              <div class="utils--flex utils--margin-left-auto">
                <ntx-main-button title="Cancel" tooltip="Cancel" type="tertiary"></ntx-main-button>
                <ntx-main-button title="Send comment" tooltip="Send comment" type="tertiary" state="disabled"></ntx-main-button>
              </div>
            </ntx-form-textarea-dark>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>List10 dark component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-list10-dark</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/lists/examples" (click)="setPath('lists')">link</a></p>
          <div class="utils--padding-8 utils--bc-black">
            <ntx-list10-dark [items]=list10Dark></ntx-list10-dark>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Comment dark component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-comment-dark</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/comments/examples" (click)="setPath('comments')">link</a></p>
          <div class="utils--padding-8 utils--bc-black">
            <ntx-comment-dark
              image="assets/images/user_female_01.jpg"
              title="John Doe"
              time="a few seconds ago"
              text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget euismod aeu fames diam enim, tellus. A ullamcorper ultrices eget in."
              score="true">
              <div class="utils--flex-end">
                <ntx-main-button title="Edit" tooltip="Edit" type="tertiary"></ntx-main-button>
                <ntx-main-button title="Delete" tooltip="Delete" type="tertiary" state="disabled"></ntx-main-button>
              </div>
            </ntx-comment-dark>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Tabs dark component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-tabs-dark</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/tabs/examples" (click)="setPath('tabs')">link</a></p>
          <div class="utils--padding-8 utils--bc-black">
            <ntx-tabs-dark [user] ="tabsDark"></ntx-tabs-dark>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Progress circle component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-progress-circle</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/progress-spinner/examples" (click)="setPath('progress-spinner')">link</a></p>
          <div class="utils--padding-8 utils--bc-black">
            <ntx-progress-circle class="utils--inline-block" [color]="'green-lime'" [color2]="'accent'" [diameter]="120" [strokeWidth]="12" [value]="76" [value2]="100"></ntx-progress-circle>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>Card28 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-card28</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/cards-catalog/examples" (click)="setPath('cards-catalog')">link</a></p>
          <div class="utils--padding-8 utils--bc-black" *ngFor="let item of card28">
            <ntx-card28
              [image]="item.image"
              [title]="item.title"
              [subtitle]="item.subtitle"
              [description]="item.description"
              [label]="item.label"></ntx-card28>
          </div>
        </div>

        <div class="whatsnew__content-block">
          <h4>List11 component</h4>
          <p class="whatsnew__content-block--text utils--text-18">In this version we have added <span class="documentation-code">ntx-list11</span> component.</p>
          <p class="whatsnew__content-block--text utils--text-18">You can see the component in this <a class="" mat-list-item routerLink="/lists/examples" (click)="setPath('lists')">link</a></p>
          <div class="utils--padding-8 utils--bc-black" *ngFor="let item of list11">
            <ntx-list11
              [icon]="item.icon"
              [title]="item.title"
              [label]="item.label"
              [showProgressBar]="item.showProgressBar"
              [progressBarColor]="item.progressBarColor"
              [progressBarValue]="item.progressBarValue"
              [progressBarRequiredValue]="item.progressBarRequiredValue"
              ></ntx-list11>
          </div>
        </div>

      </div>

    </ntx-card-simple>
  </div>
</div>
