<div class="page-layout">
  <div class="page-container">
    <ntx-card-simple class="whatsnew">

      <div class="whatsnew__header">
        <div class="whatsnew__header--texts">
          <h1 class="whatsnew__header--title">Release v4.5.0: Lorem ipsum dolor...</h1>
          <p class="whatsnew__header--subtitle">xx xxxxx 2023</p>
        </div>
        <img class="whatsnew__header--image" src="assets/images/rocket-7.png" alt="rocket image">
      </div>

      <div class="whatsnew__content">
        <div class="whatsnew__announcement">
          <p class="whatsnew__announcement--text">What’s new section is our monthly update that highlights recent product improvements we’ve made so you can easily stay up to date on what’s new.</p>
        </div>

        <h2 class="whatsnew__separation">
          <span class="whatsnew__separation--text">What’s new</span>
        </h2>

      </div>

    </ntx-card-simple>
  </div>
</div>
