@import "././projects/netex/ux-components/src/styles/app/utils";

.page-layout{
  background-color: $color-white;
  .mat-grid-tile{
    .mat-figure{
      align-items: flex-start;
      ntx-card20 {
        width: 100%;
      }
    }
  }
}
